{%- liquid 
  assign show_locale = false
  assign show_currency = false

  if settings.show_language and localization.available_languages.size > 1
    assign show_locale = true 
  endif
  
  if settings.show_currency and localization.available_currencies.size > 1
    assign show_currency = true 
  endif
-%}
<div class="announcement__bar" data-section-id="{{ section.id }}">
  <div class="page__width">
    <div class="announcement__wrapper">
      <div class="social__container">
        {%- if show_socials -%}
          {%- render 'social-icons' -%}
        {%- endif -%}
      </div>
      <div class="main__announcement-banner">
        {%- if heading_text != blank -%}
          <div class="announcement__heading">{{ heading_text }}</div>
        {%- endif -%}
        {%- if show_timer -%}
          <div
            class="main__timer"
            data-hour="{{ timer_hours }}"
            data-minutes="{{ timer_minutes }}"></div>
        {%- endif -%}
        {%- if announcement_text != blank -%}
          <div class="main__text">{{ announcement_text }}</div>
        {%- endif -%}
      </div>
      <div class="language__currency-container">
        {%- render 'localization',
           show_locale: show_locale,
           show_currency: show_currency,
           show_flags: settings.show_flags 
        -%}
      </div>
    </div>
  </div>
</div>