{%- liquid
    assign articleImage = article.image
    assign ratio = 0.75
    assign default = 'grande'
    assign sizes = '100vw'
-%}
<div class="grid__item">
  <div class="article__grid ">
    <div class="article-grid__item">
      {%- if article.image -%}
        <div class="grid__item-image">
          <a
            href="{{ article.url }}"
            title="{{ article.title }}"
            aria-label="{{ article.title | escape }}"
            class="article__image">
            <div class="article_image-wrapper">
              <img style="aspect-ratio: {{ imageAspectRatio }};"src="{{ articleImage | img_url: default }}"srcset="
                  {{ articleImage | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                  {{ articleImage | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                  {{ articleImage | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                  {{ articleImage | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                  {{ articleImage | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
                  "
                  width="{{ articleImage.width }}"
                  height="{{ articleImage.height }}"
                  loading="{{ lazyloading }}"
                  sizes="{{ sizes }}"
                  alt="{{ articleImage.alt }}"
                >
            </div>
          </a>
        </div>
      {%- endif -%}
      <div class="grid__item-text">
        <div class="article__type-date">
          {%- if show_category -%}
            <h4>{{ article.tags[0] }}</h4>
          {%- endif -%}
          {%- if show_date -%}
            <span class="article__date">
              {{ article.created_at | date: '%d %b %Y' }}
            </span>
          {%- endif -%}
        </div>
        <div class="main__heading article__title">
          <a href="{{ article.url }}" title="{{ article.title }}">
            <h3>{{ article.title }}</h3>
          </a>
        </div>
        <div class="article__content rte">
          {{ article.content | truncatewords: 15 | strip_html }}
        </div>
        {%- if show_tags -%}
          <ul class="tags__list">
            {%- for tag in article.tags limit: 3 -%}
              <li>{{ tag }}</li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        <div class="btn read__more-btn">
          <h4><a href="{{ article.url }}" class="links" title="{{ 'blogs.article.read_more_text' | t }}">{{ 'blogs.article.read_more_text' | t }}</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>