{% liquid
    assign article_aspect_ratio = false
    unless image-size == 'natural'
    assign article_aspect_ratio = true
    endunless
%}

<div class="grid__item grid__item-one-third">
  <div class="grid article__grid ">
    <div class="grid__item grid__item-small">
      {% if article.image %}
        <div class="grid__item-image">
          <a
            href="{{ article.url }}"
            title="{{ article.title }}"
            aria-label="{{ article.title | escape }}"
            class="article__image">
            <div class="article_image-wrapper">
              {% render 'image-element', img-element: article.image %}
            </div>
          </a>
        </div>
      {% endif %}

      <div class="grid__item-text">
        <div class="article__type-date">
          <h4>{{ article.handle }}</h4>--<span class="article__date">{% if show_date %}
            {{ article.created_at }}{% endif %}</span>
        </div>
        <div class="main__heading article__title">
          <h2>{{ article.title }}</h2>
        </div>
        <div class="article__content rte">
          {{ article.content | truncatewords: 30 | strip_html }}
        </div>
        {% if show_tags %}
          <ul class="tags__list">
            {% for tags in blog.all_tags %}
              <li>{{ tags }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <div class="btn read__more-btn">
          <h3>Read More..</h3>
        </div>
      </div>
    </div>
  </div>
</div>