{% liquid
    assign selectedImageSize = image-size
    
%}

<div class="grid__item grid__item-one-third">
  <div class="grid article__grid ">
    <div class="grid__item grid__item-small">
      {% if article.image %}
        <div class="grid__item-image">
          <a
            href="{{ article.url }}"
            title="{{ article.title }}"
            aria-label="{{ article.title | escape }}"
            class="article__image">
            <div class="article_image-wrapper">
            <img src="{{ article.image | img_url: "460x340" }}" loading="lazy" width="460" height="340">
              {% comment %}
              {% render 'image-element',
                img-element: article.image
              %}
        {% endcomment %}
            </div>
          </a>
        </div>
      {% endif %}

      <div class="grid__item-text">
        <div class="article__type-date">
          <h4>{{ article.tags[0] }}</h4><span class="article__date">-- {% if show_date %}
            {{ article.created_at | date: '%d %b %Y' }}{% endif %}</span>
        </div>
        <div class="main__heading article__title">
          <a href="{{ article.url }}" title="{{ article.title }}"><h3>{{ article.title }}</h3></a>
        </div>
        <div class="article__content rte">
          {{ article.content | truncatewords: 15 | strip_html }}
        </div>
        {% if show_tags %}
          <ul class="tags__list">
            {% for tag in article.tags limit: 3 %}
              <li>{{ tag }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <div class="btn read__more-btn">
          <h4>Read More..</h4>
        </div>
      </div>
    </div>
  </div>
</div>