{{ 'cart.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign cart_popup_position = 'top-right'
  assign textDirection = settings.text_direction
  if textDirection == 'rtl'
    assign cart_popup_position = 'top-left'
  endif

  assign free_shipping = false
   if settings.is_free_shipping_bar and settings.free_shipping_threshold != ''
     assign free_shipping = true
     assign threshold_total = settings.free_shipping_threshold | times: 100
     assign threshold = threshold_total | money
   endif
-%}
{% style %}
  :root  {
    --progress: 1;
  }
{% endstyle %}
<div class="cart-popup cart-popup__{{ cart_popup_position }}" data-cart-modal>
  <div class="cart-drawer__box">
    <div class="drawer__header cart__modal-header">
      <div class="drawer__title">{{ 'cart.general.popup_title' | t }}</div>
      <button class="drawer-icon__close cart-icon__close" aria-label="{{ 'general.accessibility.close-modal' | t }}">
        {%- render 'icon-close' -%}
      </button>
    </div>
    <div data-cart>
      {% form 'cart', cart %}
        {% comment %}
          {%- if free_shipping -%}
            <div class="free-shipping free-shipping__modal" data-free-shipping-threshold="{{ threshold_total }}">
              <div class="rte" data-free-shipping-bar>
                {%- if cart.total_price < threshold_total -%}
                  <p>{{ 'cart.general.free_shipping_eligible'| t }}{{ shop.currency_symbol }}{{ threshold_total | minus: cart.total_price | money }}</p>
                {%- else -%}
                 <p>{{ 'cart.general.free_shipping_success_html' | t: amount: threshold }}</p>
                {%- endif -%}
              </div>
              <div class="progress__bar" style="--progress: {{ cart.total_price | times: 1.0 | divided_by: threshold_total | at_most: 1 }}"></div>
            </div>
          {%- endif -%}
        {% endcomment %}
        <div class="cart-popup__content">
        </div>
        <div class="cart-popup__footer">
          <div class="cart__checkout-wrapper">
            <a href="{{ routes.cart_url }}"class="btn btn__link btn__outline"title="{{ 'cart.general.view_cart' | t }}">{{ 'cart.general.view_cart' | t }}(<span data-cart-count>{{ cart.item_count }}</span>)</a>
            <button class="btn btn__link btn__primary" type="submit" name="checkout" value="Checkout" aria-label="{{ 'cart.general.checkout' | t }}">
              {{ 'cart.general.checkout' | t }}
            </button>
            {% if additional_checkout_buttons and settings.additional_checkout_buttons %}
              <div class="additional__buttons">{{ content_for_additional_checkout_buttons }}</div>
            {% endif %}
            <div class="text__center">
              <a href="{{ routes.all_products_collection_url }}" title="{{ 'cart.general.continue_shopping' | t }}" class="form__links">{{ 'cart.general.continue_shopping' | t }}</a>
            </div>
          </div>
        </div>
      {%- endform -%}
    </div>
  </div>
</div>