<collection-item class="collection-grid__item {{ itemWidth }}">
  <div class="collection-grid__content">
    {%- capture count -%}
      {%- cycle 1, 2, 3, 4, 5, 6 -%}
    {%- endcapture -%}
    <div class="collection-grid__image " style="aspect-ratio: {{ imageAspectRatio }};">
      {{ 'collection-' | append: count | placeholder_svg_tag: "placeholder__image" }}
      {%- if settings.overlay_style == false -%}
        <div class="overlay-box__container text__align-{{ textAlignment }}">
          <div class="collection-grid__text">
            <div class="collection-grid__title">
              <h4>Example Collection</h4>
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>
    {%- if settings.overlay_style -%}
      <div class="collection-grid__text text__align-{{ textAlignment }}">   
        <div class="collection-grid__title">
          <h4>Example Collection</h4>
        </div>
      </div>
    {%- endif -%}
  </div>
</collection-item>