{%- liquid
    assign selectedImageSize = settings.collection_image_size
    assign imageAspectRatio = "0"
    case selectedImageSize
    when 'natural'
    assign imageAspectRatio = "0"
    when 'square'
    assign imageAspectRatio = "1/1"
    when 'portrait'
    assign imageAspectRatio = "2/3"
    when 'landscape'
    assign imageAspectRatio = "4/3"
    when 'wide'
    assign imageAspectRatio = "16/9"
    endcase

    case collection_per_row
    when 1
    assign itemWidth = ''
    when 2 
    assign itemWidth = 'block__item--half'
    when 3
    assign itemWidth = 'block__item--auto block__item--one-third'
    when 4
    assign itemWidth = 'block__item--auto block__item--one-fourth'
    when 5
    assign itemWidth = 'block__item--auto block__item--one-fifth'
    endcase

    assign collection_image = collection.image
    if settings.show_first_product
    assign collection_image = collection.products.first.featured_media.preview_image
    endif
    assign ratio = 0.75
    assign default = 'grande'
    assign sizes = '(min-width: 1200px) 650px, 45vw'
-%}
<collection-item class="collection-grid__item {{ itemWidth }}">
  <div class="collection-grid__content">
    <a href="{{ collection.url }}" title="{{ collection.title }}">
      <div class="collection-grid__image">
        {%- if collection_image != blank -%}
          <img
            class="collection__image"
            style="aspect-ratio: {{ imageAspectRatio }};"
            src="{{ collection_image | img_url: default }}"
            srcset="
                {{ collection_image | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                {{ collection_image | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                {{ collection_image | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                {{ collection_image | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                {{ collection_image | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
            "
            width="{{ collection_image.width }}"
            height="{{ collection_image.height }}"
            loading="{{ lazyloading }}"
            sizes="{{ sizes }}"
            alt="{{ collection_image.alt }}" />
        {%- else -%}
          {%- capture count -%}
            {%- cycle 1, 2, 3, 4, 5, 6 -%}
          {%- endcapture -%}
          {{ 'collection-' | append: count | placeholder_svg_tag: "placeholder__image" }}
        {%- endif -%}
      </div>
      <div class="collection-grid__text{% if settings.overlay_style %} text-below__image{% endif %}">
        <div class="collection-grid__title">
          {%- if collection_heading != blank -%}
            <h4>{{ collection_heading }}</h4>
          {%- else -%}
            <h4>{{ collection.title }}</h4>
          {%- endif -%}
        </div>
        {%- if products_count -%}
          <div class="collection-grid-count">
            <span>({{ collection.all_products_count }})</span>
          </div>
        {%- endif -%}
      </div>
    </a>
  </div>
</collection-item>