<recipient-form data-section-id="{{ section.id }}">
  <div class="recipient__button">
    <button type="button" class="form__links links">{{ 'products.recipient.button_label' | t }}</button>
    {% comment %}
    <input type="checkbox" id="recipient_gift_card-{{ section.id }}" name="properties[__shopify_send_gift_card_to_recipient]" />
    <label for="recipient_gift_card-{{ section.id }}">I Want to send this as a Gift</label>
    {% endcomment %}
  </div>
  <div class="recipient-form__container hidden">
    <div class="form__group">
      <label for="recipient-email-{{ section.id }}" class="form__label visually__hidden">{{ 'products.recipient.email' | t }}</label>
      <input type="email" id="recipient-email-{{ section.id }}" name="properties[Recipient Email]" placeholder="{{ 'products.recipient.email' | t }}"
        value="{{ form.email }}" class="form__input" required aria-label="{{ 'products.recipient.email' | t }}"
      >
    </div>
    <div class="form__group">
      <label for="recipient-name-{{ section.id }}" class="form__label visually__hidden">{{ 'products.recipient.name' | t }}</label>
      <input type="text" id="recipient-name-{{ section.id }}" name="properties[Recipient Name]" placeholder="{{ 'products.recipient.name' | t }}"
        value="{{ form.name }}" class="form__input" aria-label="{{ 'products.recipient.name' | t }}"
      >
    </div>
    <div class="form__group">
      <label for="recipient-message-{{ section.id }}" class="form__label visually__hidden">{{ 'products.recipient.message' | t }}</label>
      <textarea class="form__input" rows="5" name="properties[Recipient Message]" placeholder="{{ 'products.recipient.message' | t }}" 
        maxlength="200" id="recipient-message-{{ section.id }}" aria-label="{{ 'products.recipient.message' | t }}">
      </textarea>
    </div>
    <div class="form__group">
      <label for="recipient-message-{{ section.id }}" class="form__label visually__hidden">{{ 'products.recipient.date' | t }}</label>
      <input type="date" id="recipient-date-{{ section.id }}" name="properties[Recipient Date]" placeholder="{{ 'products.recipient.date' | t }}"
        value="{{ form.name }}" class="form__input" aria-label="{{ 'products.recipient.date' | t }}"
      >
    </div>
  </div>
  {% comment %}
  <input type="hidden" name="properties[__shopify_send_gift_card_to_recipient]" id="Recipient-control-{{ section.id }}">
  <input type="hidden" name="properties[__shopify_offset]" value="" id="Recipient-timezone-offset-{{ section.id }}" disabled>
  {% endcomment %}
</recipient-form>