<recipient-form data-section-id="{{ section.id }}">
  <div class="recipient__button">
    <input type="checkbox" id="recipient_gift_card-{{ section.id }}" />
    <label for="recipient_gift_card-{{ section.id }}">I Want to send this as a Gift</label>
  </div>
  <div class="recipient-form__container hidden">
    <div class="form__group">
      <label for="recipient-email-{{ section.id }}" class="form__label visually__hidden">{{ 'products.recipient.email' | t }}</label>
      <input type="email" id="recipient-email-{{ section.id }}" name="properties[Recipient Email]" placeholder="{{ 'products.recipient.email' | t }}"
        value="{{ form.email }}" class="form__input" required aria-label="{{ 'products.recipient.email' | t }}" disabled>
    </div>
    <div class="form__group">
      <label for="recipient-name-{{ section.id }}" class="form__label visually__hidden">{{ 'products.recipient.name' | t }}</label>
      <input type="text" id="recipient-name-{{ section.id }}" name="properties[Recipient Name]" placeholder="{{ 'products.recipient.name' | t }}"
        value="{{ form.name }}" class="form__input" aria-label="{{ 'products.recipient.name' | t }}" disabled>
    </div>
    <div class="form__group">
      <label for="recipient-message-{{ section.id }}" class="form__label visually__hidden">{{ 'products.recipient.message' | t }}</label>
      <textarea class="form__input" rows="5" name="properties[Message]" placeholder="{{ 'products.recipient.message' | t }}" 
        maxlength="200" id="recipient-message-{{ section.id }}" aria-label="{{ 'products.recipient.message' | t }}" disabled></textarea>
    </div>
    <div class="form__group">
      <label for="recipient-message-{{ section.id }}" class="form__label visually__hidden">{{ 'products.recipient.send_on' | t }}</label>
      <input type="date" id="recipient-date-{{ section.id }}" name="properties[Send On]" placeholder="{{ 'products.recipient.send_on' | t }}"
        value="{{ form.name }}" class="form__input" aria-label="{{ 'products.recipient.send_on' | t }}" disabled>
    </div>
  </div>
</recipient-form>