<nav role="navigation" class="header__menu header-mobile__menu">
  <ul class="drawer__list main-drawer__list">
    {%- for link in mobile_menu.links -%}
      {%- liquid
        assign is_megamenu = false
        for block in section.blocks
         if block.type == 'mega-menu' and link.title == block.settings.menu_item_label
           assign is_megamenu = true
           assign mega_menu = block.settings.mega_menu
           assign content_position = block.settings.content_position
           assign text_alignment = block.settings.text_alignment
           assign promo_image_1 = block.settings.promo_image_1
           assign promo_1_subheading = block.settings.promo_image_1_subheading
           assign promo_1_heading = block.settings.promo_image_1_heading
           assign promo_1_text = block.settings.promo_image_1_text
           assign promo_image_1_link = block.settings.promo_image_1_link
           assign promo_image_2 = block.settings.promo_image_2
           assign promo_2_subheading = block.settings.promo_image_2_subheading
           assign promo_2_heading = block.settings.promo_image_2_heading
           assign promo_2_text = block.settings.promo_image_2_text
           assign promo_image_2_link = block.settings.promo_image_2_link
         endif
        endfor
      -%}
      {%- if is_megamenu == false -%}
        <li class="drawer-menu__item">
          <a href="{{ link.url }}" title="{{ link.title }}" class="menu-item__link drawer-menu__link">
            {{ link.title }}
            {%- if link.links != blank -%}
              {%- render 'icon-arrow-down' -%}
            {%- endif -%}
          </a>
          {% if link.links != blank %}
            <ul class="drawer__list drawer-child__list">
              {%- for childlink in link.links -%}
                <li class="drawer__item drawer-menu__item">
                  <a
                    href="{{ childlink.url }}"
                    title="{{ childlink.title }}"
                    class="menu-item__link drawer-menu__link drawer-menu__item--link">{{ childlink.title }}
                    {%- if childlink.links != blank -%}
                      {%- render 'icon-arrow-down' -%}
                    {%- endif -%}
                  </a>
                  {%- if childlink.links != blank %}
                    <ul class="drawer__list drawer-grandchild__list">
                      {%- for grandchild in childlink.links -%}
                        <li class="drawer__item drawer-grandchild__item">
                          <a
                            href="{{ grandchild.url }}"
                            title="{{ grandchild.title }}"
                            class="menu-item__link drawer-menu__link drawer-grandchild__item--link">{{ grandchild.title }}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </li>
        {%- elsif is_megamenu -%}
        <li class="drawer-menu__item">
          <a class="menu-item__link drawer-menu__link" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}
          {%- if is_megamenu -%}
            {%- render 'icon-arrow-down' -%}
          {%- endif -%}
          </a>
          {%- if is_megamenu -%}
            <div class="drawer__list drawer-menu__container" {{ block.shopify_attributes }}>
              <div class="drawer-menu__dropdowns">         
                <div class="drawer-menu__list">
                  {%- for link in mega_menu.links -%}
                    <div class="drawer-menu__item">
                      <a class="menu-item__link drawer-menu__link" href="{{ link.url }}" title="{{ link.title }}">
                        {{ link.title }}
                        {%- if link.links != blank -%}
                          {%- render 'icon-arrow-down' -%}
                        {%- endif -%}
                      </a>
                      {%- if link.links != blank -%}
                        <div class="drawer__list drawer-child__list">
                          {%- for childlink in link.links -%}
                          <div class="drawer-mega__item">
                            <a class="menu-item__link drawer-menu__link" href="{{ childlink.url }}" title="{{ childlink.title }}">{{ childlink.title }}</a>
                          </div>
                          {%- endfor -%}
                        </div>
                      {%- endif -%}
                    </div>
                  {%- endfor -%}
                </div>
              </div>
              <div class="drawer-menu__images">
                <div class="drawer-image__block">
                  <a class="promo-mega__link" href="{{ promo_image_1_link }}" title="{{ promo_1_heading }}">
                    <div class="mega-image__element">
                      {%- if promo_image_1 != blank -%}
                        {{ promo_image_1 | image_url: width: promo_image_1.width, height: promo_image_1.height | image_tag: sizes: '100vw', widths: '240,600,768,1024,2048',class: 'mega-promo__image' }}
                      {%- else -%}
                        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder__image' }}
                      {%- endif -%}
                    </div>
                    <div class="mega-image__content">
                      <div class="mega-content__overlay text__position-{{ content_position }}">
                        <div class="mega-content__wrapper text__align-{{ text_alignment }}">
                          {%- if promo_1_subheading != blank -%}
                            <div class="mega-overlay__subheading">{{ promo_1_subheading }}</div>
                          {%- endif -%}
                          {%- if promo_1_heading != blank -%}
                            <div class="main__heading mega-overlay__heading"><h2>{{ promo_1_heading }}</h2></div>
                          {%- endif -%}
                          {%- if promo_1_text != blank -%}
                            <div class="mega-overlay__text">{{ promo_1_text }}</div>
                          {%- endif -%}
                        </div>
                      </div>
                    </div>
                  </a> 
                </div>
                <div class="drawer-image__block">
                  <a class="promo-mega__link" href="{{ promo_image_2_link }}" title="{{ promo_2_heading }}">
                    <div class="mega-image__element">
                      {%- if promo_image_2 != blank -%}
                      {{ promo_image_2 | image_url: width: promo_image_2.width, height: promo_image_2.height | image_tag: sizes: '100vw', widths: '240,600,768,1024,2048',class: 'mega-promo__image' }}
                      {%- else -%}
                        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder__image' }}
                      {%- endif -%}
                    </div>
                    <div class="mega-image__content">
                      <div class="mega-content__overlay text__position-{{ content_position }}">
                        <div class="mega-content__wrapper text__align-{{ text_alignment }}">
                          {%- if promo_2_subheading != blank -%}
                            <div class="mega-overlay__subheading">{{ promo_2_subheading }}</div>
                          {%- endif -%}
                          {%- if promo_2_heading != blank -%}
                            <div class="main__heading mega-overlay__heading"><h2>{{ promo_2_heading }}</h2></div>
                          {%- endif -%}
                          {%- if promo_2_text != blank -%}
                            <div class="mega-overlay__text">{{ promo_2_text }}</div>
                          {%- endif -%}
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          {%- endif -%}
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</nav>