<localization-form class="locale__currency-wrapper">
  {%-if show_locale -%}
    <div class="locale__wrapper">
      {% form 'localization' %}
        <div class="disclosure">
          <button type="button" class="disclosure__button" aria-expanded="false" aria-controls="LanguageList">
            {{ localization.language.endonym_name | capitalize }}
  
            <svg aria-hidden="true" width="10" height="10" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"></path>
            </svg>
          </button>
  
          <ul id="LanguageList" role="list" class="disclosure__list" hidden>
            {% for language in localization.available_languages %}
              <li class="disclosure__item" tabindex="-1">
                <a href="#"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}" data-value="{{ language.iso_code }}">
                  {{ language.endonym_name | capitalize }}
                </a>
              </li>
            {% endfor %}
          </ul>
  
          <input type="hidden" name="language_code" value="{{ localization.language.iso_code }}">
        </div>
      {% endform %}
    </div>>
  {%- endif -%}
  {%- if show_currency -%}
    <div class="currency__wrapper">
      {% form 'currency' %}
        {{ form | currency_selector }}
      {% endform %}
    </div>
  {%- endif -%}
</localization-form>
{% comment %}
{% form 'localization', id: 'localization_form', class: 'localization_form' %}
  <div class="locale__currency-wrapper">     
    {% if show_locale %}
      <div class="locale__wrapper">
        <div class="disclosure">
          <button type="button" class="disclosure__button" aria-expanded="false" aria-controls="CountryList">
            {{ form.current_locale.endonym_name }}
            <svg aria-hidden="true" width="10" height="10" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="white">
            </svg>
          </button>
          <ul id="CountryList" role="list" class="disclosure__list" hidden>
            {% for locale in shop.published_locales %}
              <li class="disclosure__item" tabindex="-1">
                <a href="#"  data-value="{{ locale.iso_code }}">
                  {{ locale.endonym_name }}
                </a>
              </li>
            {% endfor %}
          </ul>
          <input id="localeId" type="hidden" name="country_code" value="{{ form.current_locale.iso_code }}">
        </div>
      </div>
    {% endif %}
    {% if show_currency %}
      <div class="currency__wrapper">
        <div class="disclosure">
          <button type="button" class="disclosure__button" aria-expanded="false" aria-controls="CurrencyList">
            {%- if show_flags -%}
              <span class="currency-flag currency-flag--{{ form.current_currency.iso_code | downcase }}" data-flag="{{ form.current_currency.iso_code }}" aria-hidden="true"></span>
            {%- endif -%}
            ({{ form.current_currency.iso_code }} {{ form.current_currency.symbol }})
            <svg aria-hidden="true" width="10" height="10" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="white">
            </svg>
          </button>
          <ul id="CountryList" role="list" class="disclosure__list" hidden>
            {% for currency in shop.enabled_currencies %}
              <li class="disclosure__item" tabindex="-1">
                <a href="#" aria-current="true" data-value="{{ currency.iso_code }}">
                  {%- if show_flags -%}
                    <span class="currency-flag currency-flag--{{ currency.iso_code | downcase }}" data-flag="{{ currency.iso_code }}" aria-hidden="true"></span>
                  {%- endif -%}
                  ({{ currency.iso_code }} {{ currency.symbol }})
                </a>
              </li>
            {% endfor %}
          </ul>
          <input id="currencyId" type="hidden" name="currency_code" value="{{ form.current_currency.iso_code }}">
        </div>
      </div>
    {% endif %}
  </div>
    <input type="submit" value="submit">
{% endform %}
{% endcomment %}