{% form 'localization', id: 'localization', class: 'locales' %}
  <div class="locale__currency-wrapper">     
    {% if show_locale %}
      <div class="locale__wrapper">
        <div class="disclosure">
          <button type="button" class="disclosure__button" aria-expanded="false" aria-controls="CountryList">
            <svg aria-hidden="true" width="10" height="10" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="white">
            </svg>
          </button>
          <ul id="CountryList" role="list" class="disclosure__list">
            {% for locale in shop.published_locales %}
              <li class="disclosure__item" tabindex="-1">
                <a href="#"  data-value="{{ locale.iso_code }}">
                  {{ locale.endonym_name }}
                </a>
              </li>
            {% endfor %}
          </ul>
          <input type="hidden" name="country_code" value="{{ locale.iso_code }}">
        </div>
      </div>
    {% endif %}
    {% if show_currency %}
      <div class="currency__wrapper">
        <div class="disclosure">
          <button type="button" class="disclosure__button" aria-expanded="false" aria-controls="CountryList">
            <svg aria-hidden="true" width="10" height="10" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="white">
            </svg>
          </button>
          <ul id="CountryList" role="list" class="disclosure__list">
            {% for currency in shop.enabled_currencies %}
              <li class="disclosure__item" tabindex="-1">
                <a href="#" aria-current="true" data-value="{{ currency.iso_code }}">
                  ({{ currency.iso_code }} {{ currency.symbol }})
                </a>
              </li>
            {% endfor %}
          </ul>
          <input type="hidden" name="currency_code" value="{{ currency.iso_code }}">
        </div>
      </div>
    {% endif %}
  </div>
{% endform %}
<script>
  class LocalizationForm extends HTMLElement {
  constructor() {
    super();
    this.elements = {
      input: this.querySelector('input[name="country_code"]'),
      button: this.querySelector('button'),
      panel: this.querySelector('ul'),
    };
    this.elements.button.addEventListener('click', this.openSelector.bind(this));
    this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
    this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

    this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
  }

  hidePanel() {
    this.elements.button.setAttribute('aria-expanded', 'false');
    this.elements.panel.setAttribute('hidden', true);
  }

  onContainerKeyUp(event) {
    if (event.code.toUpperCase() !== 'ESCAPE') return;

    this.hidePanel();
    this.elements.button.focus();
  }

  onItemClick(event) {
    event.preventDefault();
    const form = this.querySelector('form');
    this.elements.input.value = event.currentTarget.dataset.value;
    if (form) form.submit();
  }

  openSelector() {
    this.elements.button.focus();
    this.elements.panel.toggleAttribute('hidden');
    this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
  }

  closeSelector(event) {
    const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
    if (event.relatedTarget === null || shouldClose) {
      this.hidePanel();
    }
  }
}

customElements.define('localization-form', LocalizationForm);

</script>