{%- form 'customer' -%}
  {%- if form.posted_successfully? -%}
    <div class="message success__message">
      <span>Thanks For Subscribe</span>
    </div>
  {%- endif -%}
  {%- if form.errors -%}
    {{ form.errors | default_errors }}
  {%- endif -%}
  <div class="newsletter__input-group">
    <input
      type="email"
      value="{% if customer %}{{ customer.email }}{% endif %}"
      name="contact[email]"
      id="Email-{{ section.id }}"
      placeholder="{{ 'newsletter.newsletter_form.email_placeholder' | t }}"
      autocapitalize="off"
      required
      autocorrect="off">
    <button
      type="submit"
      id="newsletter_form-submit-{{ section.id }}"
      class="btn btn__link{% if newsletter_button_label or confirm_button_label %} btn__link btn__primary{% else %} btn__secondary{% endif %}">
      {%- if section.settings.button_label != blank -%}
        {{ section.settings.button_label }}
      {%- elsif newsletter_button_label != blank -%}
        {{ newsletter_button_label }}
      {%- elsif confirm_button_label != blank -%}
        {{ confirm_button_label }}
      {%- else -%}
        {{ 'newsletter.newsletter_form.submit_text' | t }}
      {%- endif -%}
    </button>
  </div>

{%- endform -%}