{%- unless product.has_only_default_variant -%}
  {%- if block.settings.variant_type == 'button' -%}
    {%- if product.variants.size > 1 -%}
      <variant-radios data-section="{{ section.id }}" data-url="{{ product.url }}">
        <div class="product__options">
          {% for option in product.options_with_values %}
            {%- if block.settings.enable_color_swatches -%}
              {%- liquid 
                assign optionName = option.name | downcase
                assign isColorOption = false
                if optionName == 'color' or optionName == 'colour'
                assign isColorOption = true
                 endif
              -%}
            {%- endif -%}
            <fieldset class="product-form__input" data-selected-option="selectedOption{{ forloop.index }}">
              <legend class="product-form__label"><strong>{{ option.name }}</strong>(<span data-option-name>{{ option.selected_value }}</span>)</legend>
              <div class="product__swatches">
                {% for value in option.values %}
                  <div class="product__swatches-options{% if isColorOption %} product__swatches-spacing{% endif %}{% if option.selected_value == value %} selected{% endif %}">
                    <input type="radio" data-selected-variant form="{{ product_form_id }}" name="{{ option.name }}-{{ section.id }}" value="{{ value }}" {% if option.selected_value == value %}checked="checked"{% endif %} 
                      id="{{ option.name }}-{{ value }}-{{ section.id }}">
                    {%- if isColorOption -%}
                      {%- liquid
                        assign color_swatch_name = value | handle | append: '.png'
                        assign swatch_image = color_swatch_name | file_img_url: '35x35' | prepend: 'https:' | split: '?' | first
                        assign swatch_value = value | downcase
                      -%}
                      {%- if block.settings.enable_image_swatches -%}
                        {%- assign option_position = option.position | minus: 1 -%}
                        {%- for variant in product.variants -%}
                          {%- if variant.options[option_position] == value -%}
                            <label class="product__swatches-label" for="{{ option.name }}-{{ value }}-{{ section.id }}" 
                              style="background-image: url({{ variant.featured_media | img_url: "35x" }});">
                            </label>
                          {%- endif -%}
                        {%- endfor -%}
                      {%- else -%}
                        <label class="product__swatches-label" for="{{ option.name }}-{{ value }}-{{ section.id }}" 
                          style="background-color:{{ swatch_value }};{% if images[color_swatch_name] != blank %}  background-image: url({{ swatch_image }});{% endif %}">
                        </label>
                      {%- endif -%}
                    {%- else -%}
                      <label for="{{ option.name }}-{{ value }}-{{ section.id }}">
                        {{ value }}
                      </label>
                    {%- endif -%}
                  </div>
                {%- endfor -%}
              </div>
            </fieldset>
          {%- endfor -%}
        </div>
        <script type="application/json">
          {{ product.variants | json }}
        </script>
      </variant-radios>
    {%- endif -%}
  {%- elsif block.settings.variant_type == 'dropdown' -%}
    <variant-selects data-section="{{ section.id }}" data-url="{{ product.url }}">
      <div class="product__options product-select__options">
        {%- for option in product.options_with_values -%}
          <div class="product-form__select">
            <label class="product-form__label"><strong>{{ option.name }}</strong>(<span data-option-name>{{ option.selected_value }}</span>)</label>
            <select form="{{ product_form_id }}" class="product__select" data-selected-variant id="product-select-{{ forloop.index }}">
              {% for value in option.values %}
                <option value="{{ value }}" {% if option.selected_value == value %}selected{% endif %}>
                  {{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
        {%- endfor -%}
      </div>
      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-selects>
  {%- endif -%}
{%- endunless -%}