<div class="product__sticky-wrapper">
  <div class="page__width">
    <div class="product__sticky-form">
      <div class="product__sticky-form--content">
        <div class="product__sticky-form--images">
          <img src="{{ product.selected_or_first_available_variant.image | product_img_url: "100x" }}" width="100" height="100" loading="lazy" />
        </div>
        <div class="product__sticky-form--price">
          {{ product.selected_or_first_available_variant.price | money }}
        </div>
      </div>
      <div class="product__sticky-form--form">
        <div class="product__sticky-form--selectBox">
          <select name="id" class="selected-variant__id">
            {%- for variant in product.variants -%}
              {%- if variant.available -%}
                <option {% if variant == product.selected_or_first_available_variant %}
                  selected="selected"{% endif %}
                  value="{{ variant.id }}">
                  {{ variant.title }} - {{ variant.price | money_with_currency }}
                </option>
              {%- else -%}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.badges.sold_out' | t }}
                </option>
              {%- endif -%}
            {%- endfor -%}
          </select>
        </div>
        <div class="product__sticky-form--quantityWrapper">
          <div class="product-quantity__wrapper">
            <div class="product__item-quantity">
              <button type="button" aria-label="{{ 'products.minus' | t }}" class="icon__minus">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 2" fill="none">
                  <path d="M9 1H1" stroke="currentcolor" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"></path>
                </svg>
              </button>
              <input type="text" name="quantity" class="product-quantity__input" min="1"  value="1" form="{{ product_form_id }}" >
              <button type="button" aria-label="{{ 'products.plus' | t }}" class="icon__plus">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                  <path d="M5 1V5M5 5V9M5 5H9M5 5L1 5" stroke="currentcolor" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="product__sticky-form--cartButton">
          {%- liquid
             if template contains 'preorder'
               assign add_to_cart_text = 'products.preorder' | t
             else
               assign add_to_cart_text = 'products.add_to_cart' | t
             endif
          -%}
          <button type="submit" name="add" aria-label="Add to cart" data-inventory-count="{{ product.selected_or_first_available_variant.inventory_quantity }}" class="btn btn__link btn__primary"{% unless product.selected_or_first_available_variant.available %}disabled{% endunless %}>
            {% if product.selected_or_first_available_variant.available %}
              {{ add_to_cart_text }}
            {% else %}
              {{ 'products.sold_out' | t }}
            {% endif %}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>