{%- liquid
  assign thumbnails = false
  if section.settings.media_layout == 'thumbnail'
   assign thumbnails = true
  endif
  assign ratio = 0.75
  assign default = 'grande'
  assign sizes = '(min-width: 1200px) 650px, 45vw'
-%}
{%- if section.settings.thumbnail_position == 'left' -%}
  <div class="product-media__grid" data-thumbnail="{{ section.settings.thumbnail_position }}">
{%- endif -%}
  <div {% if thumbnails %}id="product__media-{{ section.id }}"{% endif %} class="product-media__wrapper{% if thumbnails %} swiper{% endif %}">
    <div id="product__gallery-{{ section.id }}" class="product-media__gallery--{{ section.settings.media_layout }}{% if thumbnails %} swiper-wrapper{% endif %}">
      {%- for media in product.media -%}
        <div class="product__image{% if thumbnails %} swiper-slide{% endif %} product-image__{{ section.settings.media_layout }}">
          {%- if media.media_type == 'image' -%}
            <img
              src="{{ media | img_url: default }}"
              srcset="
                {{ media | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                {{ media | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                {{ media | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                {{ media | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                {{ media | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w"
              width="{{ media.width }}"
              height="{{ media.height }}"
              loading="lazy"
              sizes="{{ sizes }}"
              alt="{{ media.alt }}"
              data-media-id= "{{ media.id }}"
            />
          {%- elsif media.media_type == 'video' -%}
            {{ media | media_tag: image_size: "2048x", autoplay: true, loop: loop, controls: true, preload: "none", class: "product-media__video" }}
          {%- elsif media.media_type == 'external_video' -%}
            {%- if media.host == 'youtube' -%}
              <iframe class="product-media__video" title="{{ media.alt }}" src="https://www.youtube.com/embed/{{ media.external_id }}?playsinline=1&mute=1&loop=1" allow="" allowfullscreen></iframe>
              {% comment %}
              {{ media | external_video_url: autoplay: true, loop: loop, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy", class: "product-media__video" }}
              {% endcomment %}
            {%- else -%}
              {{ media | external_video_url: autoplay: true, loop: loop | external_video_tag: class: video_class, loading: "lazy", class: "product-media__video" }}
            {%- endif -%}
          {%- endif -%}
        </div>
      {%- endfor -%}
      {%- for variant in product.variants -%}
         <div class="product__image{% if thumbnails %} swiper-slide{% endif %} product-image__{{ section.settings.media_layout }}">
            <img
              src="{{ variant.image | img_url: default }}"
              srcset="
                {{ variant.image | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                {{ variant.image | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                {{ variant.image | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                {{ variant.image | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                {{ variant.image | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w"
              width="{{ variant.image.width }}"
              height="{{ variant.image.height }}"
              loading="lazy"
              sizes="{{ sizes }}"
              alt="{{ variant.image.alt }}"
            />
         </div>
      {%- endfor -%}
    </div>
  </div>
  {%- if product.media.size > 1 and thumbnails %}
    <div id="product__thumbnail-{{ section.id }}" class="product-media__thumbnails swiper">
      <div class="swiper-wrapper">
        {%- for media in product.media -%}
          <div class="swiper-slide product-media-{{ media.id }}">
            <a href="#" class="product__thumbs">
              {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                <span class="product__play-icon">
                  {%- render 'icon-play' -%}
                </span>
              {%- endif -%}
              <img class="product__image" src="{{ media | img_url: '360x' }}"
                srcset="
                  {{ media | img_url: '120x' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}120{% endif %}w,
                  {{ media | img_url: '360x' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}360{% endif %}w,
                  {{ media | img_url: '540x' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}540{% endif %}w,
                  {{ media | img_url: '720x' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}720{% endif %}w"
                width="{{ media.width }}"
                height="{{ media.height }}"
                loading="lazy"
                sizes="{{ sizes }}"
                alt="{{ media.alt }}"
                data-media-id="{{ media.id }}"
                />
            </a>
          </div>
        {%- endfor -%}
        {% for variant in product.variants %}
          <div class="swiper-slide">
            <a href="#" class="product__thumbs">
               <img class="product__image product__variants-{{ variant.id }}" src="{{ variant.image | img_url: '360x' }}"
                srcset="
                  {{ variant.image | img_url: '120x' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}120{% endif %}w,
                  {{ variant.image | img_url: '360x' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}360{% endif %}w,
                  {{ variant.image | img_url: '540x' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}540{% endif %}w,
                  {{ variant.image | img_url: '720x' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}720{% endif %}w"
                width="{{ variant.image.width }}"
                height="{{ variant.image.height }}"
                loading="lazy"
                sizes="{{ sizes }}"
                alt="{{ variant.image.alt }}"
                data-media-id="{{ variant.image.id }}"
                />
            </a>
          </div>
        {% endfor %}
      </div>
      {%- if section.settings.show_thumbnail_arrows -%}
        <div class="swiper-button-prev swiper-button-{{ section.id }}"></div>
        <div class="swiper-button-next swiper-button-{{ section.id }}"></div>
      {%- endif -%}
    </div>
  {%- endif -%}
  {%- if section.settings.thumbnail_position == 'left' -%}
    </div>
  {%- endif -%}