{%- liquid
  assign thumbnails = false
  if section.settings.media_layout == 'thumbnail'
   assign thumbnails = true
  endif
  assign ratio = 0.75
  assign default = 'grande'
  assign sizes = '(min-width: 1200px) 650px, 45vw
  assign first_3d_model = product.media | where: 'media_type', 'model' | first
-%}
{%- unless product.empty? -%}
{%- if section.settings.thumbnail_position == 'left' -%}
  <div class="product-media__grid" data-thumbnail="{{ section.settings.thumbnail_position }}">
{%- endif -%}
  <div {% if thumbnails %}id="product__media-{{ section.id }}"{% endif %} class="product-media__wrapper{% if thumbnails %} swiper{% endif %}">
    <div id="product__gallery" class="product-media__gallery--{{ section.settings.media_layout }}{% if thumbnails %} swiper-wrapper{% endif %}">
      {%- for media in product.media -%}
        <div class="product__image{% if thumbnails %} swiper-slide{% endif %} product-image__{{ section.settings.media_layout }}{% if media.id == product.selected_or_first_available_variant.featured_media.id %} active{% endif %}">
          {%- if media.media_type == 'image' -%}
            <img
              src="{{ media | img_url: default }}"
              srcset="
                {{ media | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                {{ media | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                {{ media | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                {{ media | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                {{ media | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w"
              width="{{ media.width }}"
              height="{{ media.height }}"
              loading="lazy"
              sizes="{{ sizes }}"
              alt="{{ media.alt }}"
              data-media-id="{{ media.id }}"
              data-index="{{ forloop.index }}"
            />
          {%- elsif media.media_type == 'video' -%}
            {{ media | media_tag: image_size: "2048x", autoplay: true, loop: loop, controls: true, preload: "none", class: "product-media__video" }}
          {%- elsif media.media_type == 'external_video' -%}
            {%- if media.host == 'youtube' -%}
              <iframe class="product-media__video" title="{{ media.alt }}" src="https://www.youtube.com/embed/{{ media.external_id }}?playsinline=1&mute=1&loop=1" allow="" allowfullscreen></iframe>
              {% comment %}
              {{ media | external_video_url: autoplay: true, loop: loop, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy", class: "product-media__video" }}
              {% endcomment %}
            {%- elsif media.host == 'vimeo' -%}
              <iframe class="product-media__video" title="{{ media.alt }}" src="https://www.vimeo.com/embed/{{ media.external_id }}?playsinline=1&mute=1&loop=1" allow="" allowfullscreen></iframe>
            {%- else -%}
              {{ media | external_video_url: autoplay: true, loop: loop | external_video_tag: class: video_class, loading: "lazy", class: "product-media__video" }}
            {%- endif -%}
          {%- elsif media.media_type == 'model' -%}
            {%- if first_3d_model -%}
              <button
                aria-label="View In Space"
                class="product-single__view-in-space"
                data-shopify-xr
                data-shopify-model3d-id="{{ first_3d_model.id }}"
                data-shopify-title="{{ product.title }}"
                data-shopify-xr-hidden
              >
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-3d" viewBox="18.24 17.35 24.52 28.3"><path fill="#3A3A3A" d="M30.5 17.35l-12.26 7.07v14.16l12.26 7.07 12.26-7.08V24.42L30.5 17.35zM20.24 37.42V25.58l10.26-5.93 10.13 5.85-10.13 5.88v12l-10.26-5.96z"/></svg>
                <span class='product-single__view-in-space-text'>
                  View in Space
                </span>
              </button>
            {%- endif -%}
            <div class="product__image model" data-media-id="{{ media.id }}">
              {{ media | model_viewer_tag }}
            </div>
          {%- else -%}
            <div class="product__image" data-media-id="{{ media.id }}">
              {{ media | media_tag }}
            </div> 
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
  {%- if product.media.size > 1 and thumbnails %}
    <div id="product__thumbnail-{{ section.id }}" class="product-media__thumbnails swiper">
      <div class="swiper-wrapper">
        {%- for media in product.media -%}
          <div class="swiper-slide product-media-{{ media.id }}">
            <a  class="product__thumbs" title="media thumbs">
              {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                <span class="product__play-icon">
                  {%- render 'icon-play' -%}
                </span>
              {%- endif -%}
              <img class="product__image" src="{{ media | img_url: '360x' }}"
                srcset="
                  {{ media | img_url: '120x' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}120{% endif %}w,
                  {{ media | img_url: '360x' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}360{% endif %}w,
                  {{ media | img_url: '540x' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}540{% endif %}w,
                  {{ media | img_url: '720x' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}720{% endif %}w"
                width="{{ media.width }}"
                height="{{ media.height }}"
                loading="lazy"
                sizes="{{ sizes }}"
                alt="{{ media.alt }}"
                data-media-id="{{ media.id }}"
                data-index="{{ forloop.index }}"
                />
            </a>
          </div>
        {%- endfor -%}
      </div>
      {%- if section.settings.show_thumbnail_arrows -%}
        <div class="swiper-button-prev swiper-button-{{ section.id }}"></div>
        <div class="swiper-button-next swiper-button-{{ section.id }}"></div>
      {%- endif -%}
    </div>
  {%- endif -%}
  {%- if section.settings.thumbnail_position == 'left' -%}
    </div>
  {%- endif -%}
{%- else -%}
  <div class="product-media__wrapper">
    <div id="product__gallery">
      <div class="product__image" data-index="{{ forloop.index0 }}">
        {{ 'product-1' | placeholder_svg_tag: "placeholder__image" }}
      </div>
    </div>
  </div>
{%- endunless -%}