{%- liquid
     assign image = product.featured_image
     assign ratio = 0.75
     assign default = 'grande'
     assign sizes = '(min-width: 1200px) 650px, 45vw'
-%}
<div class="collection-grid__item {{ itemWidth }} {% if stackProduct == false %}list-scroller__item{% endif %}">
  <div class="featured-grid__content">
    <div class="featured-grid__image{% if product.media.size > 1 and settings.show_second_image %} has-secondary__image{% endif %}">
      {%- if settings.show_quick_view -%}
        <div class="quick-shop__wrapper">
          <div class="quick-shop__flex">
            <div class="quick-shop__text">
              {{ settings.quick_button_text }}
            </div>
            <div class="icon quick-shop__icon">
              {%- render 'icon-quickview' -%}
            </div>
          </div>
        </div>
      {%- endif -%}
      <a href="{{ product.url }}" title="{{ image.alt }}">
        <img
          class="product__image"
          style="aspect-ratio: {{ imageAspectRatio }};"
          src="{{ image | product_img_url: default }}"
          srcset="
                          {{ image | product_img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                          {{ image | product_img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                          {{ image | product_img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                          {{ image | product_img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                          {{ image | product_img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
                      "
          width="{{ image.width }}"
          height="{{ image.height }}"
          loading="{{ lazyloading }}"
          sizes="{{ sizes }}"
          alt="{{ image.alt }}" />
        {%- if product.media[1] != null and settings.show_second_image -%}
          <img
            class="product-secondary__image"
            style="aspect-ratio: {{ imageAspectRatio }};"
            src="{{ product.media[1] | product_img_url: medium }}"
            srcset="
                              {{ product.media[1] | product_img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                              {{ product.media[1] | product_img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                              {{ product.media[1] | product_img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                              {{ product.media[1] | product_img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                              {{ product.media[1] | product_img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
                          "
            width="{{ product.media[1].width }}"
            height="{{ product.media[1].height }}"
            loading="{{ lazyloading }}"
            sizes="{{ sizes }}"
            alt="{{ product.media[1].alt }}" />
        {%- endif -%}
      </a>
    </div>
    <div class="featured-grid__description text__align-{{ textAlignment }}">
      {%- if settings.show_vendor -%}
        <div class="grid-product__vendor">
          {{ product.vendor }}
        </div>
      {%- endif -%}
      <div class="grid-product__title">
        <a href="{{ product.url }}" title="{{ product.title }}">
          <h4>{{ product.title }}</h4>
        </a>
      </div>
      <div class="grid-product__price">
        <span class="visually__hidden">{{ 'products.price.sale_price' | t }}</span>
        <span class="product__sale-price">{{ product.price | money_without_trailing_zeros }}</span>
        {%- if product.compare_at_price > product.price -%}
          <span class="visually__hidden">{{ 'products.price.regular_price' | t }}</span>
          <span class="product__compare-price">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
        {%- endif -%}
      </div>

      {%- if settings.show_color_swatches and product.variants.size > 1 -%}
        {%- render 'product-options-swatches', product: product -%}
      {%- endif -%}
    </div>
    <div class="grid__badge">
      {%- if product.available -%}
        <span class="badge sale__badge{% if settings.sale_badge_color contains '#f' %} badge-color__dark{% else %} badge-color__light{% endif %}">{{ 'products.badges.on_sale' | t }}</span>
      {% else %}
        <span class="badge soldout__badge{% if settings.soldout_badge_color contains '#f' %} badge-color__dark{% else %} badge-color__light{% endif %}">{{ 'products.badges.sold_out' | t }}</span>
      {%- endif -%}
    </div>
  </div>
</div>