{%- liquid
    assign ratio = 0.75
    assign default = 'grande'
    assign sizes = '(min-width: 1200px) 650px, 45vw'
-%}
{%- if section.settings.thumbnail_position == 'left' -%}
  <div class="product-media__grid" data-thumbnail="{{ section.settings.thumbnail_position }}">
{%- endif -%}
  <div id="product__media-{{ section.id }}" class="product-media__wrapper swiper">
    <div class="swiper-wrapper">
      {%- for media in product.media -%}
        {% if media.media_type == 'image' %}
          <div class="product__image swiper-slide">
            <img
              src="{{ media | img_url: default }}"
              srcset="
                {{ media | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                {{ media | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                {{ media | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                {{ media | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                {{ media | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w"
              width="{{ media.width }}"
              height="{{ media.height }}"
              loading="lazy"
              sizes="{{ sizes }}"
              alt="{{ media.alt }}" />
          </div>
        {% endif %}
      {%- endfor -%}
    </div>
  </div>
  {%- if product.media.size > 1 %}
    <div id="product__thumbnail-{{ section.id }}" class="product-media__thumbnails swiper">
      <div class="swiper-wrapper">
        {%- for media in product.media -%}
          <div class="swiper-slide">
            <a href="#" class="product__thumbs">
              {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                <span class="product__play-icon">
                  {%- render 'icon-play' -%}
                </span>
                
              {%- endif -%}
              <img
                class="product__image"
                src="{{ media | img_url: '360x' }}"
                srcset="
                  {{ media | img_url: '120x' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}120{% endif %}w,
                  {{ media | img_url: '360x' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}360{% endif %}w,
                  {{ media | img_url: '540x' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}540{% endif %}w,
                  {{ media | img_url: '720x' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}720{% endif %}w"
                width="{{ media.width }}"
                height="{{ media.height }}"
                loading="lazy"
                sizes="{{ sizes }}"
                alt="{{ media.alt }}" />
            </a>
          </div>
        {%- endfor -%}
      </div>
      {%- if section.settings.show_thumbnail_arrows -%}
        <div class="swiper-button-prev swiper-button-{{ section.id }}"></div>
        <div class="swiper-button-next swiper-button-{{ section.id }}"></div>
      {%- endif -%}
    </div>
  {%- endif -%}
  {%- if section.settings.thumbnail_position == 'left' -%}
    </div>
  {%- endif -%}
<!-- <script>
  const swiperThumbs = new Swiper('.product-media__thumbnails', {
    direction: "vertical",
      slidesPerView: 5,
      spaceBetween: 30,
      mousewheel: true,
      watchSlidesProgress: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      },
    // slidesPerView: 5,
    // spaceBetween: 20,
    // watchSlidesProgress: true,
    // navigation: {
    //   nextEl: '.swiper-button-next',
    //   prevEl: '.swiper-button-prev'
    // }
  });
  const swiperMedia = new Swiper('.product-media__wrapper', {
    slidesPerView: 1,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    },
    thumbs: {
        swiper: swiperThumbs,
      },
  });
  
</script> -->