{%- unless product.has_only_default_variant -%}
  {%- if block.settings.variant_type == 'button' -%}
    {% if product.variants.size > 1 %}
      <div
        class="product__options"
        data-section="{{ section.id }}"
        data-url="{{ product.url }}">
        {% for option in product.options_with_values %}
          <fieldset class="product-form__input">
            <legend class="product-form__label"><strong>{{ option.name }}</strong> ({{ option.selected_value }})</legend>
            {% for value in option.values %}
              <input
                type="radio"
                form="{{ product_form_id }}"
                name="{{ option.name }}"
                value="{{ value }}"
                {% if option.selected_value == value %}checked{% endif%}
                id="{{ option.name }}-{{ value }}">
              <label for="{{ option.name }}-{{ value }}">
                {{ value }}
              </label>
            {% endfor %}
          </fieldset>
        {% endfor %}
      </div>
    {% endif %}
  {% elsif block.settings.variant_type == 'dropdown' %}
    <div
      class="product__options product-select__options"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}">
      {% for option in product.options_with_values %}
        <div class="product-form__select">
          <label class="product-form__label"><strong>{{ option.name }}</strong> ({{ option.selected_value }})</label>
          <select form="{{ product_form_id }}" class="product__select" id="product-select-{{ forloop.index }}">
            {% for value in option.values %}
              <option value="{{ value }}" {% if option.selected_value == value %}selected{% endif %}>
                {{ value }}
              </option>
            {% endfor %}
          </select>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endunless %}
<!-- <noscript> -->
  <label class="input__block-label" for="product-select-{{ section.id }}">{{ 'products.form.variants' | t }}</label>
  <div class="select-wrapper">
    <select class="select" autocomplete="off" id="product-variants-{{ section.id }}" name="id" form="{{ product_form_id }}">
      {%- for variant in product.variants -%}
        <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
        {% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
      {%- endfor -%}
    </select>
  </div>
<!-- </noscript> -->