<div class="grid-product__variants">
  <div class="color-swatch__list">
    {% for option in product.options_with_values %}
      {%- liquid 
        assign optionName = option.name | downcase
        assign isColorOption = false
        if optionName == 'color' or optionName == 'colour'
        assign isColorOption = true
         endif
      -%}
      {%- if isColorOption -%}
        {%- assign limit = 5 -%}
          {%- for value in option.values -%}
            {% if limit > 0 %}
              <div class="color-swatch__item">      
                <input data-selected-variant {% if option.selected_value == value %}checked{% endif %} type="radio" id="{{ option.name }}-{{ value }}"
                  value= "{{ value }}" form="{{ product_form_id }}" name="{{ option.name }}"/>
                  <label for="{{ option.name | handleize }}-{{ value | handleize }}">
                    <span class="color-swatch__option" style="background:{{ value | downcase }}"></span>
                  </label>
              </div>
              {%- assign limit = limit | minus: 1 -%}
            {% endif %}
          {% endfor %}
        {%- if option.values.size > 5 -%}
          <div class="color-swatch__item show-more__swatches">+
            <span class="icon__Plus">+</span>
          </div>
          <div class="hidden__swatches">
            {%- for value in option.values offset: 5 -%}
              <div class="color-swatch__item">
                <input data-selected-variant type="radio" id="{{ option.name | handleize }}-{{ value | handleize }}" form="{{ product_form_id }}" value= "{{ value }}" name="{{ option.name }}"/>
                  <label for="{{ option.name | handleize }}-{{ value | handleize }}">
                    <span class="color-swatch__option" style="background:{{ value | downcase }}"></span>
                  </label>
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
      {%- endif -%}
    {% endfor %}
  </div>
</div>