{%- assign product_form_id = 'addToCartForm-' | append: section.id | append: '-' | append: product.id -%}
{%- liquid
   case products_per_row   
    when 1
      assign itemWidth = ''
    when 2
      assign itemWidth = 'block__item--half'
    when 3
      assign itemWidth = 'block__item--auto block__item--one-third'
    when 4
      assign itemWidth = 'block__item--auto block__item--one-fourth'
    when 5
      assign itemWidth = 'block__item--auto block__item--one-fifth'
  endcase

  assign lazyloading = ''
  if lazyloadImages
    assign lazyloading = 'lazy'
  endif

  assign selectedImageSize = settings.image_size
  assign imageAspectRatio = "0"
  case selectedImageSize
    when 'natural'
      assign imageAspectRatio = "0"
    when 'square'
      assign imageAspectRatio = "1/1"
    when 'portrait'
      assign imageAspectRatio = "2/3"
    when 'landscape'
      assign imageAspectRatio = "4/3"
    when 'wide'
      assign imageAspectRatio = "16/9"
  endcase
   
  assign image = product.featured_image
  assign ratio = 0.75
  assign default = 'grande'
  assign sizes = '(min-width: 1200px) 650px, 45vw'
-%}
{%- if settings.show_quick_view -%}
  {%- render 'quick-view-modal', product: product -%}
{%- endif -%}
<div class="scroll__animate collection-grid__item {{ itemWidth }} {% if stackProduct == false %}list-scroller__item{% endif %}" data-product-handle="{{ product.handle }}">
  <div class="featured-grid__content">
    <div class="featured-grid__image{% if product.media.size > 1 and settings.show_second_image %} has-secondary__image{% endif %}">
      {%- if settings.show_quick_view -%}
        <div class="quick-shop__wrapper">
          <button class="quick-shop__btn" aria-label="{{ settings.quick_button_text }}">
            <span class="quick-shop__text">
              {{ settings.quick_button_text }}
            </span>
            <span class="icon quick-shop__icon">
              {%- render 'icon-quickview' -%}
            </span>
          </button>
        </div>
      {%- endif -%}
      <div class="collection-grid__image--wrapper" data-product-id="{{ product.id }}" data-product-handle="{{ product.handle }}">
        <a href="{{ product.url }}" title="{{ image.alt }}">
          <img class="product__image" style="aspect-ratio: {{ imageAspectRatio }};" src="{{ image | product_img_url: default }}"
            srcset="
              {{ image | product_img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
              {{ image | product_img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
              {{ image | product_img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
              {{ image | product_img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
              {{ image | product_img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w"
            width="{{ image.width }}"
            height="{{ image.height }}"
            loading="{{ lazyloading }}"
            sizes="{{ sizes }}"
            alt="{{ image.alt }}" />
          {%- if product.media[1] != null and settings.show_second_image -%}
            <img class="product-secondary__image" style="aspect-ratio: {{ imageAspectRatio }};" src="{{ product.media[1] | product_img_url: medium }}"
              srcset="
                {{ product.media[1] | product_img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                {{ product.media[1] | product_img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                {{ product.media[1] | product_img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                {{ product.media[1] | product_img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                {{ product.media[1] | product_img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w"
              width="{{ product.media[1].width }}"
              height="{{ product.media[1].height }}"
              loading="{{ lazyloading }}"
              sizes="{{ sizes }}"
              alt="{{ product.media[1].alt }}" />
          {%- endif -%}
        </a>
      </div>
    </div>
    <div class="featured-grid__description text__align-{{ textAlignment }}">
      {%- if settings.show_vendor -%}
        <div class="grid-product__vendor">
          {{ product.vendor }}
        </div>
      {%- endif -%}
      <div class="grid-product__title">
        <a href="{{ product.url }}" title="{{ product.title }}">
          <h4>{{ product.title }}</h4>
        </a>
      </div>
      <div class="grid-product__price">
        <span class="visually__hidden">{{ 'products.price.sale_price' | t }}</span>
        <span class="product__sale-price">{{ product.price | money_without_trailing_zeros }}</span>
        {%- if product.compare_at_price > product.price -%}
          <span class="visually__hidden">{{ 'products.price.regular_price' | t }}</span>
          <span class="product__compare-price">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
        {%- endif -%}
        {%- if product.selected_or_first_available_variant.unit_price_measurement -%}
          <span data-unit-price class="product__unit-price">
            {%- if product.selected_or_first_available_variant.price > 0 -%}
              {%- if product.selected_or_first_available_variant.unit_price_measurement -%}
                <span>{{ product.selected_or_first_available_variant.unit_price | money }}/
                  {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                    {{ product.selected_or_first_available_variant.unit_price_measurement.reference_value }}
                  {%- endif -%}
                    {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
                </span>
              {%- endif -%}
              {%- else -%}
                {{ 'products.free_unit_price' | t }}
            {%- endif -%}
          </span>
        {%- endif -%}
      </div>

      {%- if settings.show_color_swatches and product.variants.size > 1 -%}
        {%- render 'product-options-swatches', product: product, product_form_id: product_form_id -%}
      {%- endif -%}
    </div>
    <div class="grid__badge">
      {%- if product.available -%}
        <span class="badge sale__badge{% if settings.sale_badge_color contains '#f' %} badge-color__dark{% else %} badge-color__light{% endif %}">{{ 'products.badges.on_sale' | t }}</span>
      {% else %}
        <span class="badge soldout__badge{% if settings.soldout_badge_color contains '#f' %} badge-color__dark{% else %} badge-color__light{% endif %}">{{ 'products.badges.sold_out' | t }}</span>
      {%- endif -%}
    </div>
  </div>
</div>