{%- unless product.has_only_default_variant -%}
  {%- if block.settings.variant_type == 'button' -%}
    {% if product.variants.size > 1 %}
      <variant-radios>
        <div class="product__options" data-section="{{ section.id }}" data-url="{{ product.url }}">
          {% for option in product.options_with_values %}
            <fieldset class="product-form__input">
              <legend class="product-form__label"><strong>{{ option.name }}</strong> ({{ option.selected_value }})</legend>
              {% for value in option.values %}
                <input type="radio" data-selected-variant form="{{ product_form_id }}" name="{{ option.name }}" value="{{ value }}" {% if option.selected_value == value %}checked{% endif%} id="{{ option.name }}-{{ value }}">
                  <label for="{{ option.name }}-{{ value }}">
                  {{ value }}
                </label>
              {% endfor %}
            </fieldset>
          {% endfor %}
        </div>
        <script type="application/json">
        {{ product.variants | json }}
      </script>
      </variant-radios>
    {% endif %}
  {% elsif block.settings.variant_type == 'dropdown' %}
    <variant-selects>
      <div class="product__options product-select__options" data-section="{{ section.id }}" data-url="{{ product.url }}">
        {% for option in product.options_with_values %}
          <div class="product-form__select">
            <label class="product-form__label"><strong>{{ option.name }}</strong> ({{ option.selected_value }})</label>
            <select form="{{ product_form_id }}" class="product__select" data-selected-variant id="product-select-{{ forloop.index }}">
              {% for value in option.values %}
                <option value="{{ value }}" {% if option.selected_value == value %}selected{% endif %}>
                  {{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}
      </div>
      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-selects>
  {% endif %}
{% endunless %}
