<div class="product__sticky-wrapper sticky__cart-position--{{ settings.sticky_add_to_cart_position }}">
  <div class="page__width">
    <div class="product__sticky-form product-grid" data-product-handle="{{ product.handle }}">
      <div class="product__sticky-form--content">
        <div class="product__sticky-form--images">
          <img class="product__sticky-image" src="{{ product.selected_or_first_available_variant.image | product_img_url: "60x" }}" width="60" height="60" loading="lazy" />
        </div>
        <div class="product__sticky-form--price">
          <div class="sticky-product__title">
            <h3>{{ product.title }}</h3>
          </div>
          <div class="product__price-container">
            <div class="product__price-flex">
              <span class="visually__hidden">{{ 'products.price.sale_price' | t }}</span>
              <span class="sticky-sale__price product__sale-price" data-sale-price>{{ product.selected_or_first_available_variant.price | money }}</span>
              <span class="visually__hidden">{{ 'products.price.regular_price' | t }}</span>
              <span class="sticky-sale__price product__compare-price {% unless product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}hidden{% endunless %}" data-regular-price>
                {{ product.selected_or_first_available_variant.compare_at_price | money }}
              </span>
              {%- if block.settings.show_sale_badges -%}
                <span class="badge sale__badge{% if settings.sale_badge_color contains '#f' %} badge-color__dark{% else %} badge-color__light{% endif %}">{{ 'products.badges.on_sale' | t }}</span>
                <span class="badge hidden soldout__badge{% if settings.soldout_badge_color contains '#f' %} badge-color__dark{% else %} badge-color__light{% endif %}">{{ 'products.badges.sold_out' | t }}</span>
              {%- endif -%}
            </div>
            
            <div data-unit-price class="product__unit-price hidden">
              {%- if product.selected_or_first_available_variant.price > 0 -%}
                {%- if product.selected_or_first_available_variant.unit_price_measurement -%}
                  <div>{{ product.selected_or_first_available_variant.unit_price }}/
                    {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                      {{ product.selected_or_first_available_variant.unit_price_measurement.reference_value }}
                    {%- endif -%}
                      {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
                  </div>
                {%- endif -%}
                {%- else -%}
                  {{ 'products.free_unit_price' | t }}
              {%- endif -%}
            </div>
            <div class="product__tax-policies rte{% unless shop.taxes_included or shop.shipping_policy.body != blank %} hidden{% endunless %}">
              {%- if shop.taxes_included -%}
                <span>{{ 'products.taxes_included' | t }}</span>
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                <span>{{ 'products.shipping_policy_html' | t: link: shop.shipping_policy.url  }}</span>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
      <div class="product__sticky-form--form">
        <div class="product__sticky-form--selectBox">
          <variant-selects data-section="{{ section.id }}" data-url="{{ product.url }}">
            <div class="product__options product-select__options">
              {%- for option in product.options_with_values -%}
                <div class="sticky-product-form__select">
                <select form="{{ product_form_id }}" class="product__select" data-selected-variant id="product-select-{{ forloop.index }}">
                  {% for value in option.values %}
                    <option value="{{ value }}" {% if option.selected_value == value %}selected{% endif %}>
                      {{ value }}
                    </option>
                  {% endfor %}
                </select>
                </div>
              {%- endfor -%}
            </div>
          </variant-selects>
          {% comment %}
          <select data-selected-variant class="product__select sticky__select-box">
            {%- for variant in product.variants -%}
              {%- if variant.available -%}
                <option {% if variant == product.selected_or_first_available_variant %}
                  selected="selected"{% endif %}
                  value="{{ variant.id }}">
                  {{ variant.title }}
                </option>
              {%- else -%}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.badges.sold_out' | t }}
                </option>
              {%- endif -%}
            {%- endfor -%}
          </select>
          {% endcomment %}
        </div>
        {% comment %}
        <div class="product__sticky-form--quantityWrapper">
          <div class="product__item-quantity">
            <button type="button" aria-label="{{ 'products.minus' | t }}" class="icon__minus">
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 2" fill="none">
                <path d="M9 1H1" stroke="currentcolor" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"></path>
              </svg>
            </button>
            <input type="text" name="quantity" class="product-quantity__input" min="1"  value="1" form="{{ product_form_id }}" >
            <button type="button" aria-label="{{ 'products.plus' | t }}" class="icon__plus">
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                <path d="M5 1V5M5 5V9M5 5H9M5 5L1 5" stroke="currentcolor" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"></path>
              </svg>
            </button>
          </div>
        </div>
        {% endcomment %}
        <div class="product__sticky-form--cartButton">
          {%- liquid
             if template contains 'preorder'
               assign add_to_cart_text = 'products.preorder' | t
             else
               assign add_to_cart_text = 'products.add_to_cart' | t
             endif
          -%}
          {%- form 'product', product, id: product_form_id, class: "product__form", novalidate: 'novalidate', data-section-id: section.id -%}
            <button type="submit" form="{{ product_form_id }}" name="add" aria-label="Add to cart" data-inventory-count="{{ product.selected_or_first_available_variant.inventory_quantity }}" class="btn btn__link btn__primary"{% unless product.selected_or_first_available_variant.available %}disabled{% endunless %}>
              {% if product.selected_or_first_available_variant.available %}
                {{ add_to_cart_text }}
              {% else %}
                {{ 'products.sold_out' | t }}
              {% endif %}
            </button>
            <select name="id" class="selected-variant__id hidden">
              {%- for variant in product.variants -%}
                {%- if variant.available -%}
                  <option {% if variant == product.selected_or_first_available_variant %}
                    selected="selected"{% endif %}
                    value="{{ variant.id }}">
                    {{ variant.title }} - {{ variant.price | money_with_currency }}
                  </option>
                {%- else -%}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.badges.sold_out' | t }}
                  </option>
                {%- endif -%}
              {%- endfor -%}
            </select>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const addToCartButton = document.getElementById("add-to-cart-button");
    const stickyCart = document.getElementById("sticky-cart");

    window.addEventListener("scroll", function() {
        const buttonRect = addToCartButton.getBoundingClientRect();
        if (buttonRect.bottom < 0) {
            // The "Add to Cart" button is out of view, show the sticky cart
            stickyCart.style.display = "block";
        } else {
            // The button is in view, hide the sticky cart
            stickyCart.style.display = "none";
        }
    });
</script>