{%- liquid
   assign promo_collection = collections[block.settings.promo_collection]
   assign collection_heading = block.settings.collection_heading
   assign collection_text = block.settings.collection_text
   assign collection_button_label = block.settings.collection_button_label
   assign collection_button_link = block.settings.collection_button_link
   
   assign show_collection_timer = block.settings.show_collection_timer
   assign collection_image_1  = promo_collection.products[0].featured_media.preview_image
   assign collection_image_2  = promo_collection.products[1].featured_media.preview_image

   assign ratio = 0.75
   assign default = 'large'
   assign sizes = '(min-width: 1200px) 650px, 45vw'
-%}
<div class="promotional-grid__container promo-collection__wrapper{% if collectionBackgroundColor contains '#f' %} text__dark{% else %} text__light{% endif %}">
  <div class="page__width">
    <div class="promo__flex promo-collection__flex">
      <div class="promo-collection__text">
        {%- if collection_heading != blank -%}
          <div class="main__heading promo-collection__heading">
            <h2>{{ collection_heading }}</h2>
          </div>
        {%- endif -%}
        {%- if collection_text != blank -%}
          <div class="promo__description promo-collection__description rte{% if collectionBackgroundColor contains '#f' %} text__dark{% else %} text__light{% endif %}">
            {{ collection_text }}
          </div>
        {%- endif -%}
        {%- if show_collection_timer and promo_collection != blank -%}
          {%- render 'promotional-countdown', block: block -%}
        {%- endif -%}
        {% if collection_button_label != blank %}
          <div class="promo-btn__container">
            <a
              href="{{ collection_button_link }}"
              class="btn btn__link promo-product__btn{% if collectionBackgroundColor contains '#f' %} btn__primary{% else %} btn-text__light{% endif %}"
              title="{{ collection_button_label }}">{{ collection_button_label }}</a>
          </div>
        {% endif %}
      </div>
      <div class="promo-collection__image">
        {%- if promo_collection != blank -%}
          {%- if collection_image_1 != blank -%}
            <div class="sale-image__container">
              <a href="{{ promo_collection.products[0].url }}" title="{{ promo_collection.products[0].title }}">
                <img
                  src="{{ collection_image_1 | img_url: default }}"
                  srcset="
                                        {{ collection_image_1 | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                                        {{ collection_image_1 | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                                        {{ collection_image_1 | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                                        {{ collection_image_1 | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                                        {{ collection_image_1 | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
                                      "
                  width="{{ collection_image_1.width }}"
                  height="{{ collection_image_1.height }}"
                  loading="{{ lazyloading }}"
                  sizes="{{ sizes }}"
                  alt="{{ collection_image_1.alt }}">
              </a>
            </div>
          {%- endif -%}
          {%- if collection_image_2 != blank -%}
            <div class="sale-image__container">
              <a href="{{ promo_collection.products[1].url }}" title="{{ promo_collection.products[1].title }}">
                <img
                  src="{{ collection_image_2 | img_url: default }}"
                  srcset="
                                        {{ collection_image_2 | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                                        {{ collection_image_2 | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                                        {{ collection_image_2 | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                                        {{ collection_image_2 | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                                        {{ collection_image_2 | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
                                      "
                  width="{{ collection_image_2.width }}"
                  height="{{ collection_image_1.height }}"
                  loading="{{ lazyloading }}"
                  sizes="{{ sizes }}"
                  alt="{{ collection_image_2.alt }}">
              </a>
            </div>
          {%- endif -%}
        {%- else -%}
          <div class="sale-image__container">
            {{ 'product-1' | placeholder_svg_tag: 'placeholder__image' }}
          </div>
          <div class="sale-image__container">
            {{ 'product-2' | placeholder_svg_tag: 'placeholder__image' }}
          </div>
        {%- endif -%}

      </div>
    </div>
  </div>
</div>