{%- liquid
   assign promo_product = all_products[block.settings.promo_product]
   assign promo_heading = block.settings.promo_heading
   assign promo_text = block.settings.promo_text
   assign promo_button_label = block.settings.promo_button_label
   assign promo_button_link = block.settings.promo_button_link
   assign show_price = block.settings.show_price
   
   assign show_timer = block.settings.show_timer
   assign productImage  = promo_product.featured_media.preview_image
    
   assign ratio = 0.75
   assign default = 'large'
   assign sizes = '(min-width: 1200px) 650px, 45vw'
-%}
<div class="promotional-grid__container promo-product__wrapper{% if promoBackgroundColor contains '#f' %} text__dark{% else %} text__light{% endif %}">
  <div class="page__width">
    <div class="promo__flex">
      <div class="promo-flex__item promo-product__text">
        {%- if promo_heading != blank -%}
          <div class="main__heading promo-product__heading">
            <h2>{{ promo_heading }}</h2>
          </div>
        {%- endif -%}
        {%- if show_price and promo_product != blank -%}
          <div class="promo__price promo-product__price">
            <span class="visually__hidden">{{ 'products.price.sale_price' | t }}</span>
            <span class="product__sale-price">{{ promo_product.price | money }}</span>
            {%- if promo_product.compare_at_price > promo_product.price -%}
              <span class="visually__hidden">{{ 'products.price.regular_price' | t }}</span>
              <span class="product__compare-price">{{ promo_product.compare_at_price | money }}</span>
            {%- endif -%}
          </div>
        {%- endif -%}
        {%- if promo_text != blank -%}
          <div class="promo__description promo-product__description rte{% if promoBackgroundColor contains '#f' %} text__dark{% else %} text__light{% endif %}">
            {{ promo_text }}
          </div>
        {%- endif -%}
        {%- if show_timer and promo_product != blank -%}
          <div class="promo-timer__container">
            {%- render 'promotional-countdown', block: block -%}
          </div>
        {%- endif -%}
        {% if promo_button_label != blank %}
          <div class="promo-btn__container">
            <a
              href="{{ promo_button_link }}"
              class="btn btn__link promo-product__btn{% if promoBackgroundColor contains '#f' %} btn__primary{% else %} btn-text__light{% endif %}"
              title="{{ promo_button_label }}">{{ promo_button_label }}</a>
          </div>
        {% endif %}
      </div>
      <div class="promo-flex__item promo-product__image">
        {% if productImage != blank %}
          <a
            class="promo-product__image"
            href="{{ promo_product.url }}"
            title="{{ promo_product.title }}">
            <img
              class=""
              src="{{ productImage | img_url: default }}"
              srcset="
                {{ productImage | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                {{ productImage | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                {{ productImage | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                {{ productImage | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                {{ productImage | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w"
              width="{{ productImage.width }}"
              height="{{ productImage.height }}"
              loading="{{ lazyloading }}"
              sizes="{{ sizes }}"
              alt="{{ productImage.alt }}">
          </a>
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'placeholder__image' }}
        {% endif %}

      </div>
    </div>
  </div>
</div>