{%- liquid
    assign year = block.settings.years
    assign month = block.settings.months
    assign day = block.settings.days
    assign hour = block.settings.hours
    assign minute = block.settings.minutes
    assign completion_message = block.settings.timer_completion_message
-%}
<div
  class="promo-timer__banner"
  data-year="{{ year }}"
  data-month="{{ month }}"
  data-day="{{ day }}"
  data-hour="{{ hour }}"
  data-minute="{{ minute }}"
  data-message="{{ completion_message }}"
  data-countdown
  {{ block.shopify_attributes }}>
  <div class="promo-sale__message">{{ 'products.promotional_message' | t }}</div>
  <div class="promo-timer__wrapper">
    <div class="timer__item">
      <span class="timer__days">10</span>
      <span>Days</span>
    </div>
    <div class="timer__item">
      <span class="timer__hours">12</span>
      <span>Hours</span>
    </div>
    <div class="timer__item">
      <span class="timer__minutes">20</span>
      <span>Min</span>
    </div>
    <div class="timer__item">
      <span class="timer__seconds">59</span>
      <span>Sec</span>
    </div>
  </div>
  {%- if completion_message != blank -%}
    <div class="timer__message rte">{{ completion_message }}</div>
  {%- endif -%}
</div>