<ul class="social__icons-list">
  {% if settings.social_instagram_url != blank %}
    <li>
      <a
        target="_blank"
        href="{{ settings.social_instagram_url }}"
        title="Instagram">
        {% render 'icon-instagram' %}
        <span class="social__fallback-text">Instagram</span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_facebook_url != blank %}
    <li>
      <a
        target="_blank"
        href="{{ settings.social_facebook_url }}"
        title="Facebook">
        {% render 'icon-facebook' %}
        <span class="social__fallback-text">Facebook</span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_twitter_url != blank %}
    <li>
      <a
        target="_blank"
        href="{{ settings.social_twitter_url }}"
        title="Twitter">
        {% render 'icon-twitter' %}
        <span class="social__fallback-text">Twitter</span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_pinterest_url != blank %}
    <li>
      <a
        target="_blank"
        href="{{ settings.social_pinterest_url }}"
        title="Pinterest">
        {% render 'icon-pinterest' %}
        <span class="social__fallback-text">Pinterest</span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_snapchat_url != blank %}
    <li>
      <a
        target="_blank"
        href="{{ settings.social_snapchat_url }}"
        title="Snapchat">
        {% render 'icon-snapchat' %}
        <span class="social__fallback-text">Snapchat</span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_tumblr_url != blank %}
    <li>
      <a
        target="_blank"
        href="{{ settings.social_tumblr_url }}"
        title="Tumblr">
        {% render 'icon-tumblr' %}
        <span class="social__fallback-text">Tumblr</span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_tiktok_url != blank %}
    <li>
      <a
        target="_blank"
        href="{{ settings.social_tiktok_url }}"
        title="Tiktok">
        {% render 'icon-tiktok' %}
        <span class="social__fallback-text">TikTok</span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_linkedin_url != blank %}
    <li>
      <a
        target="_blank"
        href="{{ settings.social_linkedin_url }}"
        title="LInkedIn">
        {% render 'icon-linkedin' %}
        <span class="social__fallback-text">LinkedIn</span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_youtube_url != blank %}
    <li>
      <a
        target="_blank"
        href="{{ settings.social_youtube_url }}"
        title="Youtube">
        {% render 'icon-youtube' %}
        <span class="social__fallback-text">Youtube</span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_vimeo_url != blank %}
    <li>
      <a
        target="_blank"
        href="{{ settings.social_vimeo_url }}"
        title="Vimeo">
        {% render 'icon-vimeo' %}
        <span class="social__fallback-text">Vimeo</span>
      </a>
    </li>
  {% endif %}

</ul>