{%- liquid
    assign textDirection = settings.text_direction
-%}
<!doctype html>
<html lang="{{ request.locale.iso_code }}" dir="{{ textDirection }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.body_text_color }}" />
    <link rel="canonical" href="{{ canonical_url }}" />

    {% if settings.favicon != blank %}
      <link rel="favicon icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}
    <title>
      {{ page_title -}}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %}
        &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}
    {{ content_for_header }}
    
    {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}
  </head>
  <body>
    <a class="skip__to-content visually__hidden" href="#MainContent">Skip to Content</a>
    {% section 'password-header' %}
    
    <main class="password__main" id="MainContent">
      {{ content_for_layout }}
    </main>
    
    {% section 'password-footer' %}
    
    <div id="LoginModal" class="password__popup popup__hidden" data-popup-modal>
      <div class="popup__modal">
        <div class="modal__centered">
          <div class="password__form">
            <h3>{{ 'password-page.general.login_form_heading' | t }}</h3>
            {%- form 'storefront_password' -%}
              {{ form.errors | default_errors }}
              <div class="form__grid">
                <div class="form__group">
                  <label for="password" class="form__label visually__hidden">{{ 'password-page.general.login_form_password_label' | t }}</label>
                  <input type="password" name="password" id="password" class="form__input" placeholder="{{ 'password-page.general.login_form_password_placeholder' | t }}" autofocus>
                </div>
                <button type="submit" class="btn btn__link btn__primary">
                  {{ 'password-page.general.login_form_submit' | t }}
                </button>
              </div>
            {%- endform -%}
          </div>
          <div class="password__footer-title">
              {{ 'password-page.general.admin_link_html' | t }}
          </div>
        </div>
        <button type="button" class="close__modal close-modal__password--popup" title="{{ 'general.accessibility.close-modal' | t }}">
          {%- render 'icon-close' -%}
        </button>
      </div>
    </div>
  </body>
</html>