{%- liquid
    assign textDirection = settings.text_direction
-%}
<!doctype html>
<html lang="{{ request.locale.iso_code }}" dir="{{ textDirection }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.body_text_color }}" />
    <link rel="canonical" href="{{ canonical_url }}" />

    {% if settings.favicon != blank %}
      <link rel="favicon icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}
    <title>
      {{ page_title -}}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %}
        &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}
    {{ content_for_header }}
    
    {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}
  </head>
  <body>
    <a class="skip__to-content visually__hidden" href="#MainContent">Skip to Content</a>
    {% section 'password-header' %}
    
    <main class="password__main" id="MainContent">
      {{ content_for_layout }}
    </main>
    
    {% section 'password-footer' %}


    <div id="LoginModal" class="" data-popup-modal>
      <div class="modal__inner">
        <div class="modal__centered text-center">
          <div class="password-form">
            <p class="h4">{{ 'general.password_page.login_form_heading' | t }}</p>
            {%- form 'storefront_password' -%}
              {{ form.errors | default_errors }}
              <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
              <div class="input-group">
                <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
                <div class="input-group-btn">
                  <button type="submit" class="btn">
                    {{ 'general.password_page.login_form_submit' | t }}
                  </button>
                </div>
              </div>
            {%- endform -%}
          </div>
          <p class="password-admin-link">
            <small>
              {{ 'general.password_page.admin_link_html' | t }}
            </small>
          </p>
        </div>
      </div>
      <button type="button" class="close__modal close-modal__age--verifier" title="{{ 'general.accessibility.close-modal' | t }}">
        {%- render 'icon-close' -%}
      </button>
    </div>
  </body>
</html>