{%- liquid
    assign textDirection = settings.text_direction
-%}
<!doctype html>
<html lang="{{ request.locale.iso_code }}" dir="{{ textDirection }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.body_text_color }}" />
    <link rel="canonical" href="{{ canonical_url }}" />
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">

    {% if settings.favicon != blank %}
      <link rel="favicon icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}
    <title>
      {{ page_title -}}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %}
        &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}
    {{ content_for_header }}

    {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'swiper.min.css' | asset_url | stylesheet_tag: preload: true }}
    <script>
      window.themeContent = {
        routes: {
          product: {{ product | json }},
          productRecommendation: {{ routes.product_recommendations_url | json }},
          all_collections: {{ routes.all_products_collection_url | json }}
        },
        strings: {
          addToCart: "{{ 'products.add_to_cart' | t }}",
          soldOut: "{{ 'products.sold_out' | t }}",
          cartTermsConfirmation: "{{ 'cart.general.terms_message_at_checkout' | t }}",
          cartEmptyMessage: "{{ 'cart.general.empty_cart' | t }}",
          continue_shopping: "{{ 'cart.general.continue_shopping' | t }}",
          freeShippingSuccess: "{{ 'cart.general.free_shipping_success_html' | t: amount: threshold }}"
        }
      }
    </script>
    {% comment %}
    <script>
      window.themeContent = {
        routes: {
          root: "{{ routes.root_url }}",
          cartPage: "{{ routes.cart_url | json }}",
          cartAddUrl: "{{ routes.cart_add_url | json }}",
          cartChangeUrl: "{{ routes.cart_change_url | json }}",
          searchPage: "{{ routes.search_url | json }}",
          predictiveSearch: "{{ routes.predictive_search_url | json }}",
          productRecommendation: {{ routes.product_recommendations_url | json }}
        },

        settings: {
          cartType: "{{ settings.cart_type | json }}",
          cartCount: "{{ cart.item_count | json }}",
          moneyFormat: "{{ shop.money_format | json }}"
        },
        strings: {
          cartItemAdded: "{{ 'cart.items.item_added' | t }}"
        }
      }
    </script>
    {% endcomment %}
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'swiper.min.js' | asset_url }}"></script>
    

  </head>
  <body>
    <a class="skip__to-content visually__hidden" href="#MainContent">Skip to Content</a>
    {% sections 'header-group' %}
    {% sections 'popup-group' %}

    <main class="main__content" id="MainContent">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

  </body>
</html>