{%- liquid
    assign textDirection = settings.text_direction
-%}
<!doctype html>
<html lang="{{ request.locale.iso_code }}" dir="{{ textDirection }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.body_text_color }}" />
    <link rel="canonical" href="{{ canonical_url }}" />
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">

    {% if settings.favicon != blank %}
      <link rel="favicon icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}
    <title>
      {{ page_title -}}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %}
        &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}
    {{ content_for_header }}

    {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'swiper.min.css' | asset_url | stylesheet_tag: preload: true }}
    <script>
      window.themeContent = {
        routes: {
          productRecommendation: {{ routes.product_recommendations_url | json }},
          all_collections: {{ routes.all_products_collection_url | json }},
          cartUrl: {{ routes.cart_url | json }},
          collection: {{ collection.url | json }},
          home: {{ routes.root_url | json }},
          productUrl: {{ product.url | json }},
          money_format: {{ shop.money_format | json }}
        },
        strings: {
          addToCart: "{{ 'products.add_to_cart' | t }}",
          soldOut: "{{ 'products.sold_out' | t }}",
          cartTermsConfirmation: "{{ 'cart.general.terms_message_at_checkout' | t }}",
          cartEmptyMessage: "{{ 'cart.general.empty_cart' | t }}",
          continue_shopping: "{{ 'cart.general.continue_shopping' | t }}",
          freeShippingSuccess: "{{ 'cart.general.free_shipping_success_html' | t: amount: threshold }}",
          itemAddedSuccess: "{{ 'products.item_added_success_message' | t }}",
          view_full_info: "{{ 'products.view_full_info' | t }}"
        },
        settings: {
          quickView: {{ settings.show_quick_view }}
        }
      }
    </script>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'swiper.min.js' | asset_url }}"></script>
    

  </head>
  <body>
    <a class="skip__to-content visually__hidden" href="#MainContent">Skip to Content</a>
    {% sections 'header-group' %}
    {% sections 'popup-group' %}

    <main class="main__content" id="MainContent">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    <div class="back__to-top">
      <button aria-label="{{ 'general.accessibility.back-to-top' | t }}">
        <svg fill="currentcolor" height="64px" width="64px" version="1.1" id="Capa_1" viewBox="0 0 384.923 384.923" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> </g>
          <path id="Arrow_Upward" d="M321.337,122.567L201.046,3.479c-4.776-4.728-12.391-4.547-17.179,0l-120.291,119.1 c-4.74,4.704-4.74,12.319,0,17.011c4.752,4.704,12.439,4.704,17.191,0l99.551-98.552v331.856c0,6.641,5.438,12.03,12.151,12.03 s12.151-5.39,12.151-12.03V41.025l99.551,98.552c4.74,4.704,12.439,4.704,17.179,0C326.089,134.886,326.089,127.27,321.337,122.567 z"></path>
        </svg>
      </button>
    </div>

  </body>
</html>