{%- liquid
  assign age_verifier_heading = section.settings.age_verifier_heading
  assign age_verifier_text = section.settings.age_verifier_text
  assign cancel_button_label = section.settings.cancel_button_label
  assign confirm_button_label = section.settings.confirm_button_label
  assign declined_heading = section.settings.declined_heading
  assign declined_text = section.settings.declined_text
  assign declined_button_label = section.settings.declined_button_label
-%}
<age-verifier class="age-verifier popup__hidden" data-popup-modal>
  <div class="scroll__animate age-verifier__modal">
    <div class="age-verifier__content">
      {%- if age_verifier_heading != blank -%}
        <div class="main__heading age-verifier__heading">
          <h2>{{ age_verifier_heading }}</h2>
        </div>
      {%- endif -%}
      {%- if age_verifier_text != blank -%}
        <div class="age-verifier__text rte">
          {{ age_verifier_text }}
        </div>
      {%- endif -%}
      <div class="age-verifier__btn-container">
        {%- if cancel_button_label != blank -%}
          <button class="btn btn__link btn__cancel-btn" title="{{ cancel_button_label }}">{{ cancel_button_label }}</button>
        {%- endif -%}
        {%- if confirm_button_label != blank -%}
          <button class="btn btn__link btn__primary btn__confirm-btn" title="{{ confirm_button_label }}">{{ confirm_button_label }}</button>
        {%- endif -%}
      </div>
    </div>
    <div class="age-verifier__content age-verifier__content-declined content__hidden">
      {%- if declined_heading != blank -%}
        <div class="main__heading age-verifier__heading">
          <h2>{{ declined_heading }}</h2>
        </div>
      {%- endif -%}
      {%- if declined_text != blank -%}
        <div class="age-verifier__text rte">
          {{ declined_text }}
        </div>
      {%- endif -%}
      <div class="age-verifier__btn-container">
        {%- if declined_button_label != blank -%}
          <button class="btn btn__link btn__primary btn__return-btn" title="{{ declined_button_label }}">{{ declined_button_label }}</button>
        {%- endif -%}
      </div>
    </div>
    {% comment %}
    <button type="button" class="close__modal close-modal__age--verifier" title="{{ 'general.accessibility.close-modal' | t }}">
      {%- render 'icon-close' -%}
    </button>
    {% endcomment %}
  </div>
</age-verifier>
{% schema %}
  {
    "name": "t:sections.age-verification-popup.name",
    "settings": [
      {
        "type": "text",
        "id": "age_verifier_heading",
        "label": "t:sections.age-verification-popup.settings.age_verifier_heading.label",
        "default": "Age Verification"
      },
      {
        "type": "richtext",
        "id": "age_verifier_text",
        "label": "t:sections.age-verification-popup.settings.age_verifier_text.label"
      },
      {
        "type": "header",
        "content": "t:sections.age-verification-popup.settings.header_confirmation.label"
      },
      {
        "type": "text",
        "id": "cancel_button_label",
        "label": "t:sections.age-verification-popup.settings.header_confirmation.cancel_button_label.label",
        "default": "Cancel"
      }, {
        "type": "text",
        "id": "confirm_button_label",
        "label": "t:sections.age-verification-popup.settings.header_confirmation.confirm_button_label.label",
        "default": "Confirm"
      }, {
        "type": "header",
        "content": "t:sections.age-verification-popup.settings.header_declined.label"
      }, {
        "type": "text",
        "id": "declined_heading",
        "label": "t:sections.age-verification-popup.settings.header_declined.declined_heading.label",
        "default": "Age Verification Declined"
      }, {
        "type": "richtext",
        "id": "declined_text",
        "label": "t:sections.age-verification-popup.settings.header_declined.declined_text.label"
      }, {
        "type": "text",
        "id": "declined_button_label",
        "label": "t:sections.age-verification-popup.settings.header_declined.declined_button_label.label",
        "default": "Back To Age Verifier"
      }
    ]
  }
{% endschema %}