{%- liquid
    assign header_text = section.settings.blog_heading
    assign header_image = section.settings.blog_image
    assign text_color = section.settings.text_color

    assign lazyloading = ''
    assign lazyloadImages = section.settings.lazyload_images
    if lazyloadImages
    assign lazyloading = 'lazy'
    endif

    assign ratio = 0.75
    assign default = 'grande'
    assign sizes = '(min-width: 1200px) 650px, 45vw'
-%}
{%- style -%}
  .main__section-{{ section.id }} .blog-header__text-content {
    color: {{ text_color }};
  }
{%- endstyle -%}
<div class="blog-header main__section-{{ section.id }}">
  <!-- <div class="page__width"> -->
    <div class="blog-header__wrapper">
      <div class="blog-header__image-container">
        {%- if header_image != blank -%}
          <img
            src="{{ header_image | img_url: default }}"
            srcset="
              {{ header_image | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
              {{ header_image | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
              {{ header_image | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
              {{ header_image | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
              {{ header_image | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
              "
            width="{{ header_image.width }}"
            height="{{ header_image.height }}"
            loading="{{ lazyloading }}"
            sizes="{{ sizes }}"
            alt="{{ header_image.alt }}" />
        {%- else -%}
          {{ 'lifestyle-1' | placeholder_svg_tag: "placeholder__image" }}
        {%- endif -%}
      </div>
      <div class="blog-header__text-container">
        <div class="blog-header__text-shadow">
          <div class="blog-header__text-content">
            {%- if header_text != blank -%}
              <h1>{{ header_text }}</h1>
            {%- else -%}
              <h1>{{ blog.title }}</h1>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>
{% schema %}
  {
    "name": "t:sections.blog-header.name",
    "class": "blog__header",
    "settings": [
      {
        "type": "image_picker",
        "id": "blog_image",
        "label": "t:sections.blog-header.settings.blog_image.label"
      },
      {
        "type": "text",
        "id": "blog_heading",
        "label": "t:sections.blog-header.settings.blog_heading.label"
      },
      {
        "type": "checkbox",
        "id": "show_breadcrumbs",
        "label": "t:sections.blog-header.settings.show_breadcrumbs.label"
      },
      {
        "type": "checkbox",
        "id": "lazyload_images",
        "label": "t:sections.blog-header.settings.lazyload_images.label",
        "default": false
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "t:sections.blog-header.settings.text_color.label",
        "default": "#ffffff"
      }
    ]
  }
{% endschema %}
