{%- liquid
    assign ratio = 0.75
    assign default = 'grande'
    assign sizes = '(min-width: 1200px) 650px, 45vw'
-%}
{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  {% if section.settings.show_collection_image and collection.image != blank %}
    .main__section-{{ section.id }} .collection-banner__text-shadow{
      color: {{ section.settings.color_text }};
    }
  {% endif %}
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="collection__banner main__section-{{ section.id }}">
  {%- unless section.settings.full_width -%}
  <div class="page__width">
  {%- endunless -%}
    <div class="page-header__wrapper collection-banner__wrapper" data-desktop-height="{{ section.settings.section_height_desktop }}" data-mobile-height="{{ section.settings.section_height_mobile }}">
      <div class="page-header__image-container">
        {%- if section.settings.show_collection_image and collection.image != blank -%}
          <img
            src="{{ header_image | img_url: default }}"
            srcset="
              {{ collection.image | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
              {{ collection.image | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
              {{ collection.image | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
              {{ collection.image | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
              {{ collection.image | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
              "
            width="{{ collection.image.width }}"
            height="{{ collection.image.height }}"
            loading="lazy"
            sizes="{{ sizes }}"
            alt="{{ collection.image.alt }}" />
        {%- else -%}
          {{ 'lifestyle-1' | placeholder_svg_tag: "placeholder__image" }}
        {%- endif -%}
      </div>
      <div class="scroll__animate page-header__text-container">
        <div class="page-header__text-shadow collection-banner__text-shadow text__align-{{ seection.settings.text_alignment }}">
          <div class="page-header__text-content">
            {%- if settings.show_breadcrumbs -%}
              <nav role="navigation" aria-label="breadcrumb">
                <ul class="breadcrumb__list">
                  <li class="breadcrumb__item">
                    <a href="{{ routes.root_url }}" title="Home">{{ 'general.breadcrumbs.home' | t }}</a>
                  </li>
                  <span class="separater__icon">{% render 'icon-arrow-down' %}</span>
                  <li class="breadcrumb__item" aria-current="page">
                    <span>{{ collection.title }}</span>
                  </li>
                </ul>
              </nav>
            {%- endif -%}
            {%- if section.settings.show_collection_title -%}
              <h2>{{ collection.title }}</h2>
            {%- endif -%}
            {%- if section.settings.show_collection_description -%}
              <div class="rte">{{ collection.description }}</div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  {%- unless section.settings.full_width -%}
  </div>
  {%- endunless -%}
</div>
{% schema %}
  {
    "name": "Collection Banner",
    "settings": [
      {
        "type": "select",
        "id": "section_height_desktop",
        "label": "t:sections.collection-banner.settings.section_height_desktop.label",
        "options": [
          {
            "value": "natural",
            "label": "t:sections.collection-banner.settings.section_height_desktop.options.natural.label"
          },
          {
            "value": "compact",
            "label": "t:sections.collection-banner.settings.section_height_desktop.options.compact.label"
          },
          {
            "value": "standard",
            "label": "t:sections.collection-banner.settings.section_height_desktop.options.standard.label"
          },
          {
            "value": "extended",
            "label": "t:sections.collection-banner.settings.section_height_desktop.options.extended.label"
          }
        ],
        "default": "natural"
      },
      {
        "type": "select",
        "id": "section_height_mobile",
        "label": "t:sections.collection-banner.settings.section_height_mobile.label",
        "options": [
          {
            "value": "auto",
            "label": "t:sections.collection-banner.settings.section_height_mobile.options.auto.label"
          },
          {
            "value": "compact",
            "label": "t:sections.collection-banner.settings.section_height_mobile.options.compact.label"
          },
          {
            "value": "standard",
            "label": "t:sections.collection-banner.settings.section_height_mobile.options.standard.label"
          },
          {
            "value": "extended",
            "label": "t:sections.collection-banner.settings.section_height_mobile.options.extended.label"
          }
        ],
        "default": "auto"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "t:sections.collection-banner.settings.full_width.label"
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "t:sections.collection-banner.settings.show_collection_image.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_collection_title",
        "label": "t:sections.collection-banner.settings.show_collection_title.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_collection_description",
        "label": "t:sections.collection-banner.settings.show_collection_description.label",
        "default": true
      },
      {
        "type": "header",
        "content": "t:sections.collection-banner.settings.header_alignment.label"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.collection-banner.settings.header_alignment.alignment.label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.collection-banner.settings.header_alignment.alignment.options.left.label"
          }, {
            "value": "center",
            "label": "t:sections.collection-banner.settings.header_alignment.alignment.options.center.label"
          }, {
            "value": "right",
            "label": "t:sections.collection-banner.settings.header_alignment.alignment.options.right.label"
          }
        ],
        "default": "center"
      },
      {
        "type": "header",
        "content": "t:sections.collection-banner.settings.header_colors.label"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#ffffff"
      },
      {
        "type": "header",
        "content": "t:sections.collection-banner.settings.header_spacing.label"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.collection-banner.settings.header_spacing.top_spacing.label",
        "default": 16
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.collection-banner.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ]
  }
{% endschema %}