{% comment %}
{%- liquid
    assign header_text = section.settings.contact_header_text
    assign header_image = section.settings.contact_header_image
    assign text_color = section.settings.text_color
    assign show_breadcrumbs = section.settings.show_breadcrumbs

    assign lazyloading = ''
    assign lazyloadImages = section.settings.lazyload_images
    if lazyloadImages
    assign lazyloading = 'lazy'
    endif

    assign ratio = 0.75
    assign default = 'grande'
    assign sizes = '(min-width: 1200px) 650px, 45vw'
-%}
{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  .main__section-{{ section.id }} .contact-page__text-content {
    color: {{ text_color }};
  }
  .main__section-{{ section.id }} .contact-breadcrumb__list a {
    color: {{ text_color }};
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
{{ 'contact-form.css' | asset_url | stylesheet_tag }}
<div class="contact-page__header main__section-{{ section.id }}">
  <div class="page__width">
    <div class="contact-page__wrapper">
      <div class="contact-page__image-container">
        {%- if header_image != blank -%}
          <img
            src="{{ header_image | img_url: default }}"
            srcset="
              {{ header_image | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
              {{ header_image | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
              {{ header_image | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
              {{ header_image | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
              {{ header_image | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
              "
            width="{{ header_image.width }}"
            height="{{ header_image.height }}"
            loading="{{ lazyloading }}"
            sizes="{{ sizes }}"
            alt="{{ header_image.alt }}" />
        {%- else -%}
          {{ 'lifestyle-1' | placeholder_svg_tag: "placeholder__image" }}
        {%- endif -%}
      </div>
      <div class="contact-page__text-container">
        <div class="contact-page__text-shadow">
          <div class="contact-page__text-content">
            {%- if header_text != blank -%}
              <h1>{{ header_text }}</h1>
            {%- else -%}
              <h1>{{ page.title }}</h1>
            {%- endif -%}
            {%- if show_breadcrumbs -%}
              <nav role="navigation" aria-label="breadcrumb">
                <ul class="breadcrumb__list contact-breadcrumb__list">
                  <li class="breadcrumb__item">
                    <a href="{{ routes.root_url }}" title="Home">{{ 'general.breadcrumbs.home' | t }}</a>
                  </li>
                  <span class="separater__icon">{% render 'icon-arrow-down' %}</span>
                  <li class="breadcrumb__item" aria-current="page">
                    <span>{{ page.title }}</span>
                  </li>
                </ul>
              </nav>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.contact-header.name",
    "settings": [
      {
        "type": "text",
        "id": "contact_header_text",
        "label": "t:sections.contact-header.settings.contact_header_text.label",
        "default": "Contact Page"
      },
      {
        "type": "image_picker",
        "id": "contact_header_image",
        "label": "t:sections.contact-header.settings.contact_header_image.label"
      },
      {
        "type": "checkbox",
        "id": "show_breadcrumbs",
        "label": "t:sections.contact-header.settings.show_breadcrumbs.label"
      },
      {
        "type": "checkbox",
        "id": "lazyload_images",
        "label": "t:sections.contact-header.settings.lazyload_images.label",
        "default": false
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "t:sections.contact-header.settings.text_color.label",
        "default": "#ffffff"
      },
      {
        "type": "header",
        "content": "t:sections.contact-header.settings.header_spacing.label"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.contact-header.settings.header_spacing.top_spacing.label",
        "default": 16
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.contact-header.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ]
  }
{% endschema %}
{% endcomment %}