{%- liquid
   assign heading = section.settings.heading
   assign subheading = section.settings.subheading
   assign custom_content = section.settings.custom_content
   assign text_alignment = section.settings.text_alignment
-%}
{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<section class="custom-content main__section-{{ section.id }}">
  <div class="page__width">
    <div class="scroll__animate custom-content__wrapper text__align-{{ text_alignment }}">
      {%- if subheading != blank -%}
        <div class="sub__heading">
          {{ subheading }}
        </div>
      {%- endif -%}
      {%- if heading != blank -%}
        <div class="main__heading custom-content__heading">
          <h2>{{ heading }}</h2>
        </div>
      {%- endif -%}
      {%- if custom_content != blank -%}
        <div class="custom-content__text rte">
          {{ custom_content }}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "t:sections.custom-content.name",
    "class": "main__section",
    "settings": [
      {
        "type": "text",
        "id": "subheading",
        "label": "t:sections.custom-content.settings.subheading.label",
        "default": "Sub Heading"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.custom-content.settings.heading.label",
        "default": "Custom Content"
      },
      {
        "type": "liquid",
        "id": "custom_content",
        "label": "t:sections.custom-content.settings.custom_content.label",
        "default": "<p>Use this advanced section to build your own layouts or to add custom HTML, Liquid, or scripts.</p>"
      },
      {
        "type": "header",
        "content": "t:sections.text-image-center.settings.header_alignment.label"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.text-image-center.settings.header_alignment.alignment.label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.text-image-center.settings.header_alignment.alignment.options.left.label"
          }, {
            "value": "center",
            "label": "t:sections.text-image-center.settings.header_alignment.alignment.options.center.label"
          }, {
            "value": "right",
            "label": "t:sections.text-image-center.settings.header_alignment.alignment.options.right.label"
          }
        ],
        "default": "center"
      },
      {
        "type": "header",
        "content": "t:sections.custom-content.settings.header_spacing.label"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.custom-content.settings.header_spacing.top_spacing.label",
        "default": 16
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.custom-content.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ],
    "presets": [
      {
        "name": "t:sections.custom-content.presets.name"
      }
    ]
  }
{% endschema %}