{%- liquid
    assign faq_heading = section.settings.faq_heading
    assign faq_text = section.settings.faq_text
-%}
{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="faq__wrapper main__section-{{ section.id }}">
  <div class="page__width">
    <div class="faq__banner">
      <div class="faq__header">
        {%- if faq_heading != blank -%}
          <div class="main__heading">
            <h2>{{ faq_heading }}</h2>
          </div>
        {%- endif -%}
        {%- if faq_text != blank -%}
          <div class="faq__text rte">{{ faq_text }}</div>
        {%- endif -%}
      </div>
      <div class="faq__content">
        {%- for block in section.blocks -%}
          {%- liquid
                        assign question = block.settings.question
                        assign answer = block.settings.answer
                    -%}
          <div class="faq-question__item">
            <div class="faq-question__header">
              {%- if question != blank -%}
                <h3>{{ question }}</h3>
              {%- endif -%}
            </div>
            <div class="faq-question__dropdown{% if forloop.index > 1 %} hidden{% endif %}">
              {% if answer != blank %}
                <div class="rte">{{ answer }}</div>
              {% endif %}
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.faq.name",
    "class": "main__section",
    "settings": [
      {
        "type": "text",
        "id": "faq_heading",
        "label": "t:sections.faq.settings.faq_heading.label",
        "default": "FAQ"
      },
      {
        "type": "richtext",
        "id": "faq_text",
        "label": "t:sections.faq.settings.faq_text.label"
      },
      {
        "type": "header",
        "content": "t:sections.faq.settings.header_spacing.label"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.faq.settings.header_spacing.top_spacing.label",
        "default": 16
      }, {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.faq.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ],
    "blocks": [
      {
        "type": "question",
        "name": "t:sections.faq.blocks.question.name",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "t:sections.faq.blocks.question.settings.question.label",
            "default": "Any Question?"
          }, {
            "type": "richtext",
            "id": "answer",
            "label": "t:sections.faq.blocks.question.settings.answer.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.faq.presets.name",
        "blocks": [
          {
            "type": "question"
          },
          {
            "type": "question"
          },
          {
            "type": "question"
          }
        ]
      }
    ]
  }
{% endschema %}