{%- liquid
    assign faq_heading = section.settings.faq_heading
    assign faq_text = section.settings.faq_text
    assign textAlignment = section.settings.text_alignment 
-%}
{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="faq__wrapper main__section-{{ section.id }}">
  <div class="page__width">
    <div class="faq__banner">
      <div class="faq__header text__align-{{ textAlignment }}">
        {%- if faq_heading != blank -%}
          <div class="main__heading">
            <h2>{{ faq_heading }}</h2>
          </div>
        {%- endif -%}
        {%- if faq_text != blank -%}
          <div class="faq__text rte">{{ faq_text }}</div>
        {%- endif -%}
      </div>
      <div class="faq__content">
        {%- for block in section.blocks -%}
          {%- liquid
              assign question = block.settings.question
              assign answer = block.settings.answer
          -%}
          <div class="faq-question__item{% if forloop.index > 1 %} hidden{% endif %} faq__item-{{ forloop.index }}">
            <div class="faq-question__header">
              {%- if question != blank -%}
                <h3>{{ question }}</h3>
              {%- endif -%}
              <div class="icon__plus">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                  <path d="M7 1.5V7M7 7V12.5M7 7H12.5M7 7L1.5 7" stroke="#707070" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"></path>
                </svg>
              </div>
              <div class="icon__minus hidden">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="2" viewBox="0 0 14 2" fill="none">
                  <path d="M12.5 1H1.5" stroke="#707070" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"></path>
                </svg>
              </div>
            </div>
            <div class="faq-question__dropdown hidden">
              {% if answer != blank %}
                <div class="rte">{{ answer }}</div>
              {% endif %}
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.faq.name",
    "class": "main__section",
    "settings": [
      {
        "type": "text",
        "id": "faq_heading",
        "label": "t:sections.faq.settings.faq_heading.label",
        "default": "FAQ"
      },
      {
        "type": "richtext",
        "id": "faq_text",
        "label": "t:sections.faq.settings.faq_text.label"
      },
      {
        "type": "header",
        "content": "t:sections.faq.settings.header_alignment.label"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.faq.settings.header_alignment.alignment.label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.faq.settings.header_alignment.alignment.options.left.label"
          }, {
            "value": "center",
            "label": "t:sections.faq.settings.header_alignment.alignment.options.center.label"
          }, {
            "value": "right",
            "label": "t:sections.faq.settings.header_alignment.alignment.options.right.label"
          }
        ],
        "default": "left"
      },
      {
        "type": "header",
        "content": "t:sections.faq.settings.header_spacing.label"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.faq.settings.header_spacing.top_spacing.label",
        "default": 16
      }, {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.faq.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ],
    "blocks": [
      {
        "type": "question",
        "name": "t:sections.faq.blocks.question.name",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "t:sections.faq.blocks.question.settings.question.label",
            "default": "Any Question?"
          }, {
            "type": "richtext",
            "id": "answer",
            "label": "t:sections.faq.blocks.question.settings.answer.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.faq.presets.name",
        "blocks": [
          {
            "type": "question"
          },
          {
            "type": "question"
          },
          {
            "type": "question"
          }
        ]
      }
    ]
  }
{% endschema %}