{%- assign products_per_row = section.settings.product_per_row -%}
{%- case products_per_row -%}
  {%- when 1 -%}
  {%- assign itemWidth = '' -%}
  {%- when 2 -%}
  {%- assign itemWidth = 'medium-one__half' -%}
  {%- when 3 -%}
  {%- assign itemWidth = 'small-one__half medium-one__third' -%}
  {%- when 4 -%}
  {%- assign itemWidth = 'small-one__half medium-one__quarter' -%}
  {%- when 5 -%}
  {%- assign itemWidth = 'small-one__half medium-one__fifth' -%}
{%- endcase -%}
{%- assign product_rows = section.settings.product_rows -%}
{%- assign product_limit = products_per_row | times: product_rows -%}
{%- assign collection = collections[section.settings.collection] -%}
{%- assign show_view_all = section.settings.show_view_all -%}
{%- assign textAlignment = section.settings.text_alignment -%}
{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="featured-collection__wrapper main__section-{{ section.id }}">
  <div class="page__width">
    <div class="collection__header text__align-{{ textAlignment }}">
      {%- if section.settings.heading != blank -%}
        <div class="main__heading collection__title">
          <h2>{{ section.settings.heading }}</h2>
        </div>
      {%- endif -%}
      {%- if section.settings.text != blank -%}
        <div class="collection__text rte">
          {{ section.settings.text }}
        </div>
      {%- endif -%}
    </div>
    <div class="featured-collection__container">  
      <div class="scroller">
        <div class="featured-collection__grid scroller__inner">
          {%- if collection == blank or collection.empty? or collection.products_count == 0 -%}
            {%- for i in (1..product_limit) -%}
              <div class="featured-grid__item {{ itemWidth }}">
                <div class="featured-grid__content">
                  <div class="featured-grid__image">
                    {%- capture count -%}
                      {%- cycle 1, 2, 3, 4, 5, 6 -%}
                    {%- endcapture -%}
                    <div class="featured-product__image">
                      {{ 'product-' | append: count | placeholder_svg_tag: "placeholder__image product__placeholder" }}
                    </div>
                  </div>
                  <div class="featured-grid__description text__align-{{ textAlignment }}">
                    <div class="grid-product__title">
                      <h4>{{ 'homepage.onboarding.product_title' | t }}</h4>
                    </div>
                    <div class="grid-product__price">$30</div>
                  </div>
                </div>
             </div>
            {%- endfor -%}
          {%- else -%}
            {%- for product in collection.products limit: product_limit -%}
              {%- render 'product-item', products_per_row: products_per_row -%}
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div>
    </div>
    {%- if show_view_all -%}
      <div class="collection__footer">
        <div class="collection-btn__container">
          <a href="{{ collection.url }}" class="btn btn__link view_all_btn">{{ 'collections.general.all_collection' | t }}</a>
        </div>
      </div>
    {%- endif -%}

  </div>
</div>
{% schema %}
  {
    "name": "t:sections.featured-collection.name",
    "class": "main__section",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "t:sections.featured-collection.settings.collection.label"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.featured-collection.settings.heading.label",
        "default": "Featured Collection"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "t:sections.featured-collection.settings.text.label",
        "default": "Write Small Description About Your Collection"
      },
      {
        "type": "range",
        "id": "product_per_row",
        "label": "t:sections.featured-collection.settings.products_per_row.label",
        "default": 4,
        "min": 1,
        "max": 5,
        "step": 1
      }, {
        "type": "range",
        "id": "product_rows",
        "label": "t:sections.featured-collection.settings.product_rows.label",
        "default": 1,
        "min": 1,
        "max": 5,
        "step": 1
      }, {
        "type": "checkbox",
        "id": "stack_product",
        "label": "t:sections.featured-collection.settings.stack_product.label",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "t:sections.featured-collection.settings.show_view_all.label",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.featured-collection.settings.header_alignment.label"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.featured-collection.settings.header_alignment.alignment.label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.featured-collection.settings.header_alignment.alignment.options.left.label"
          }, {
            "value": "center",
            "label": "t:sections.featured-collection.settings.header_alignment.alignment.options.center.label"
          }, {
            "value": "right",
            "label": "t:sections.featured-collection.settings.header_alignment.alignment.options.right.label"
          }
        ],
        "default": "center"
      },
      {
        "type": "header",
        "content": "t:sections.featured-collection.settings.header_spacing.label"
      }, {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.featured-collection.settings.header_spacing.top_spacing.label",
        "default": 16
      }, {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.featured-collection.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ],
    "presets": [
      {
        "name": "t:sections.featured-collection.presets.name"
      }
    ],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}