{%- liquid
    assign lazyloading = ''
    assign lazyloadImages = section.settings.lazyload_images
    if lazyloadImages
    assign lazyloading = 'lazy'
    endif
-%}
{%- style -%}
  .footer__bottom-section {
    background: {{ settings.footer_background }};
    color: {{ settings.footer_text }};
  }
  .address__bar-wrapper p {
    color: {{ settings.footer_text }};
  }
  .copyright__text {
    color: {{ settings.footer_text }};
  }
{%- endstyle -%}
{%- for block in section.blocks -%}
  {%- style -%}
    @media only screen and (min-width:960px) {
      .grid__item-{{ block.id }}{
        width: {{ block.settings.footer_column_width }}%;
      }
    }
  {%- endstyle -%}
{%- endfor -%}
<footer class="site__footer">
  <div class="site__footer-banner">
    <div class="page__width">
      <div class="site__grid">
        {%- for block in section.blocks -%}
          {%- assign footer_logo = block.settings.footer_logo -%}
          {%- case block.type -%}
            {%- when 'text' -%}
            <div class="site__grid-item site__grid-text grid__item-{{ block.id }}" {{ block.shopify_attributes }}>
              <div class="site__item-block">
                <div class="footer__logo-block">
                  {%- if footer_logo != blank -%}
                    {%- assign classes = 'footer__logo-img' -%}
                    <a href="{{ routes.root_url }}" title="{{ shop.name }}">
                      {{ footer_logo | image_url: width: 80 | image_tag: class: classes, loading: lazyloading }}
                    </a>
                  {%- else -%}
                    <h1 class="site__footer-logo">
                      <a href="{{ routes.root_url }}" title="{{ shop.name }}">{{ shop.name }}</a>
                    </h1>
                  {%- endif -%}
                </div>
                {%- if block.settings.footer_text != blank -%}
                  <div class="site__text-block">
                    <div class="rte">
                      {{ block.settings.footer_text }}
                    </div>
                  </div>
                {%- endif -%}
              </div>
            </div>
            {%- when 'menu' -%}
            <div class="site__grid-item site__grid-menu grid__item-{{ block.id }}" {{ block.shopify_attributes }}>
              <div class="site__item-block">
                {%- if block.settings.show_heading -%}
                  {%- if block.settings.menu_heading != blank -%}
                    <h4>{{ block.settings.menu_heading }}</h4>
                  {%- else -%}
                    <h4>{{ linklists[block.settings.footer_menu].title }}</h4>
                  {%- endif -%}
                {%- endif -%}
                <ul class="site__footer-links">
                  {%- for link in linklists[block.settings.footer_menu].links -%}
                    <li>
                      <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
            {%- when 'newsletter' -%}
            <div class="site__grid-item site__grid-newsletter grid__item-{{ block.id }}" {{ block.shopify_attributes }}>
              <div class="site__item-block">
                {%- if block.settings.show_newsletter_heading -%}
                  <div class="footer__newsletter-heading">
                    <h4>{{ block.settings.newsletter_heading }}</h4>
                  </div>
                {%- endif -%}
                {%- if block.settings.newsletter_text != blank -%}
                  <div class="footer__newsletter-text">
                    <div class="rte">
                      {{ block.settings.newsletter_text }}
                    </div>
                  </div>
                {%- endif -%}
                <div class="footer__newsletter-container">
                  {% render 'newsletter-footer', block: block %}
                </div>
                {%- if block.settings.show_socials -%}
                  <div class="footer__socials">
                    <div class="social__icons-list">
                      {%- render 'social-icons' -%}
                    </div>
                  </div>
                {%- endif -%}
                {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
                  <div class="footer__follow-on-shop">
                    {{ shop | login_button: action: 'follow' }}
                  </div>
                {%- endif -%}
              </div>
            </div>

          {%- endcase -%}
        {%- endfor -%}

      </div>
    </div>
  </div>
  <div class="footer__bottom-section">
    <div class="footer__address-bar">
      <div class="page__width">
        <div class="rte address__bar-wrapper">
          {% for block in section.blocks %}
            {% if block.settings.footer_address_field != blank %}
              <div class="block__item footer__address-container" {{ block.shopify_attributes }}>
                <div class="icon icon__address">{% render 'icon-map' %}</div>
                <div class="bar-text__content">{{ block.settings.footer_address_field }}</div>
              </div>
            {% endif %}
            {% if block.settings.footer_phone_field != blank %}
              <div class="block__item footer__phoneno-container">
                <div class="icon icon__phone">{% render 'icon-phone' %}</div>
                <div class="bar-text__content">{{ block.settings.footer_phone_field }}</div>
              </div>
            {% endif %}
            {% if block.settings.footer_schedule_field != blank %}
              <div class="block__item footer__schedule-container">
                <div class="icon icon__clock">{% render 'icon-clock' %}</div>
                <div class="bar-text__content">{{ block.settings.footer_schedule_field }}</div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="footer__copyright-bar">
      <div class="page__width">
        <div class="copyright__bar-wrapper">
          {%- if section.settings.show_copyright -%}
            <div class="copyright__text rte">
              {{ 'sections.footer.copyright.text' | t }} {{ shop.name }},
              {%- if section.settings.footer_copyright_text != blank -%}
                {{ section.settings.footer_copyright_text }}
              {%- endif -%}
              {{ 'sections.footer.copyright.powered_by_text' | t }}
            </div>
          {%- endif -%}
          {%- if section.settings.show_payment_icons -%}
            <div class="payment__icons-list">
              {%- render 'payment-icons' -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</footer>
{% schema %}
  {
    "name": "t:sections.footer.name",
    "class": "shopify__footer-group",
    "max_blocks": 5,
    "settings": [
      {
        "type": "checkbox",
        "id": "show_copyright",
        "label": "t:sections.footer.settings.show_copyright.label",
        "default": false
      }, {
        "type": "text",
        "id": "footer_copyright_text",
        "label": "t:sections.footer.settings.fooetr_copyright_text.label"
      }, {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "t:sections.footer.settings.show_payment_icons.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "lazyload_images",
        "label": "t:sections.footer.settings.lazyload_images.label",
        "default": false,
        "info": "t:sections.footer.settings.lazyload_images.info"
      },
      {
        "type": "header",
        "content": "Follow On Shop"
      },
      {
        "type": "checkbox",
        "id": "enable_follow_on_shop",
        "label": "Enable Follow on Shop",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "menu",
        "name": "t:sections.footer.blocks.menu.name",
        "settings": [
          {
            "type": "text",
            "id": "menu_heading",
            "label": "t:sections.footer.blocks.menu.settings.menu_heading.label"
          }, {
            "type": "checkbox",
            "id": "show_heading",
            "label": "t:sections.footer.blocks.menu.settings.show_footer_heading.label",
            "default": false
          }, {
            "type": "link_list",
            "id": "footer_menu",
            "label": "t:sections.footer.blocks.menu.settings.footer_menu_label.label",
            "default": "footer"
          }, {
            "type": "range",
            "id": "footer_column_width",
            "label": "t:sections.footer.blocks.menu.settings.footer_column_width.label",
            "min": 15,
            "max": 100,
            "default": 25,
            "step": 1,
            "unit": "%"
          }
        ]
      }, {
        "type": "newsletter",
        "name": "t:sections.footer.blocks.newsletter.name",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_newsletter_heading",
            "label": "t:sections.footer.blocks.newsletter.settings.show_newsletter_heading.label",
            "default": true
          },
          {
            "type": "text",
            "id": "newsletter_heading",
            "label": "t:sections.footer.blocks.newsletter.settings.newsletter_heading.label",
            "default": "Newsletter"
          },
          {
            "type": "textarea",
            "id": "newsletter_text",
            "label": "t:sections.footer.blocks.newsletter.settings.newsletter_text.label",
            "default": "Join Our Newsletter"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "t:sections.footer.blocks.newsletter.settings.newsletter_submit_button.label",
            "default": "Button"
          }, {
            "type": "checkbox",
            "id": "show_socials",
            "label": "t:sections.footer.blocks.newsletter.settings.show_socials.label",
            "default": false
          }, {
            "type": "range",
            "id": "footer_column_width",
            "label": "t:sections.footer.blocks.newsletter.settings.footer_column_width.label",
            "min": 15,
            "max": 100,
            "default": 25,
            "step": 1,
            "unit": "%"
          }
        ]
      }, {
        "type": "text",
        "name": "t:sections.footer.blocks.text.name",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "footer_logo",
            "label": "t:sections.footer.blocks.text.settings.footer_logo.label"
          }, {
            "type": "textarea",
            "id": "footer_text",
            "label": "t:sections.footer.blocks.text.settings.footer_text.label",
            "default": "Welcome To Our Shop"
          }, {
            "type": "range",
            "id": "footer_column_width",
            "label": "t:sections.footer.blocks.text.settings.footer_column_width.label",
            "min": 15,
            "max": 100,
            "default": 25,
            "step": 1,
            "unit": "%"
          }
        ]
      }, {
        "type": "address_bar",
        "name": "t:sections.footer.blocks.address_bar.name",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "footer_address_field",
            "label": "t:sections.footer.blocks.address_bar.settings.footer_address.label"
          }, {
            "type": "richtext",
            "id": "footer_phone_field",
            "label": "t:sections.footer.blocks.address_bar.settings.footer_phone_no.label"
          }, {
            "type": "richtext",
            "id": "footer_schedule_field",
            "label": "t:sections.footer.blocks.address_bar.settings.footer_schedule.label"
          }
        ]
      }
    ],
    "default": {
      "settings": {},
      "blocks": [
        {
          "type": "text",
          "settings": {}
        }, {
          "type": "menu",
          "settings": {}
        }, {
          "type": "menu",
          "settings": {}
        }, {
          "type": "newsletter",
          "settings": {}
        }
      ]
    },
    "disabled_on": {
      "groups": ["header"]
    }
  }
{% endschema %}