<footer class="site__footer">
  <div class="page__width">
    <div class="site__grid">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'text' %}
          <div class="site__grid-item site__grid-text">
            <div class="site__item-block">
              <div class="footer__logo-block">
                {% if block.settings.footer_logo != blank %}
                  {% assign footer__logo = 'footer__logo-img' %}
                  {% render 'image-element', img-element: block.settings.footer_logo, img-width: 80, img-height: 50, classes: footer__logo %}
                {% else %}
                  <h1 class="site__footer-logo">
                    <a href="{{ routes.root_url }}">{{ shop.name }}</a>
                  </h1>
                {% endif %}
              </div>
              {% if block.settings.footer_text != blank %}
                <div class="site__text-block">
                  <div class="rte">
                    {{ block.settings.footer_text }}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
          {% when 'menu' %}
          <div class="site__grid-item site__grid-menu">
            <div class="site__item-block">
              {% if block.settings.show_heading %}
                {% if block.settings.menu_heading != blank %}
                  <h4>{{ block.settings.menu_heading }}</h4>
                {% else %}
                  <h4>{{ linklists[block.settings.footer_menu].title }}</h4>
                {% endif %}
              {% endif %}
              <ul class="site__footer-links">
                {% for link in linklists[block.settings.footer_menu].links %}
                  <li>
                    <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% when 'newsletter' %}
          <div class="site__grid-item site__grid-newsletter">
            <div class="site__item-block">
              {% if block.settings.show_newsletter_heading %}
                <div class="footer__newsletter-heading">
                  <h4>{{ block.settings.newsletter_heading }}</h4>
                </div>
              {% endif %}
              {% if block.settings.newsletter_text != blank %}
                <div class="footer__newsletter-text">
                  <div class="rte">
                    {{ block.settings.newsletter_text }}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>

        {% endcase %}
      {% endfor %}
    </div>
  </div>
</footer>
{% schema %}
  {
    "name": "Footer",
    "class": "shopify__footer-group",
    "max_blocks": 4,
    "settings": [],
    "blocks": [
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "menu_heading",
            "label": "Heading"
          }, {
            "type": "checkbox",
            "id": "show_heading",
            "label": "Show Heading",
            "default": false
          }, {
            "type": "link_list",
            "id": "footer_menu",
            "label": "Menu",
            "default": "footer"
          }
        ]
      }, {
        "type": "newsletter",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_newsletter_heading",
            "label": "Show Heading",
            "default": true
          }, {
            "type": "text",
            "id": "newsletter_heading",
            "label": "heading",
            "default": "Newsletter"
          }, {
            "type": "textarea",
            "id": "newsletter_text",
            "label": "Text",
            "default": "Join Our Newsletter"
          }, {
            "type": "checkbox",
            "id": "show_socials",
            "label": "Show Socials",
            "default": "false"
          }
        ]
      }, {
        "type": "text",
        "name": "Text",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "footer_logo",
            "label": "Logo"
          }, {
            "type": "textarea",
            "id": "footer_text",
            "label": "Text",
            "default": "Welcome To Our Shop"
          }
        ]
      }
    ],
    "default": {
      "settings": {},
      "blocks": [
        {
          "type": "text",
          "settings": {}
        }, {
          "type": "menu",
          "settings": {}
        }, {
          "type": "menu",
          "settings": {}
        }, {
          "type": "newsletter",
          "settings": {}
        }
      ]
    }
  }
{% endschema %}