{%-  liquid
  assign sticky_header = section.settings.sticky_header
  assign show_icons = section.settings.show_icons
  assign main_menu = linklists[section.settings.desktop_menu]
  assign mobile_menu = linklists[section.settings.mobile_menu]
  assign header_styles = section.settings.header_styles
  assign cart_icon = settings.cart_icon

  for block in section.blocks
    assign header_logo = block.settings.header_logo
    assign desktop_logo_width = block.settings.desktop_logo_width
    assign mobile_logo_width = block.settings.mobile_logo_width
  endfor
-%}
{%- style -%}
  :root  {
    --headerBackground: {{ settings.header_background_color }};
    --headerText: {{ settings.header_text_color }};
  }
  .section__header {
    background: #111111;
    background: var(--headerBackground);
    color: #ffffff;
    color: var(--headerText);
  }
  .header__logo{
    width: {{ mobile_logo_width }}px;
    max-width: flex 0 0 {{ mobile_logo_width }}px
  }
  @media only screen and (min-width: 769px) {
    .header__logo{
      width: {{ desktop_logo_width }}px;
      max-width: flex 0 0 {{ desktop_logo_width }}px
    }
  }
{%- endstyle -%}
<header class="section__header{% if sticky_header %} sticky__header{% endif %}">
  <div class="page__width">
    <div class="header__wrapper" data-header-style="{{ header_styles }}">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'logo' %}
            {%- capture header_logo -%}
              <h1 class="site__logo">
                <a href="{{ routes.root_url }}" aria-label="{{ shop.name }}">
                  {% if header_logo %}
                    {{ header_logo | image_url: width: 70, height: 70 | image_tag: loading: "lazy", class: "site__logo-image" }}
                  {% else %}
                    <span>{{ shop.name }}</span>
                  {% endif %}
                </a>
              </h1>
            {%- endcapture -%}
          {% endcase %}
      {% endfor %}
      {%- if header_styles == 'center_left' -%}
        <div class="header__navigation">
          {%- render 'header-nav-list' 
            , main_menu: main_menu,
            mobile_menu: mobile_menu -%}
        </div>
        <div class="header__logo">
          {{ header_logo }}
        </div>
      {%- elsif header_styles == 'drawer-center' -%}
        <div class="header__navigation">
          <button class="menu-item__link menu-toggle__btn">
            {% render 'icon-hamburger' %}
          </button>
        </div>
        <div class="header__logo">
          {{ header_logo }}
        </div>
      {%- else -%}
        <div class="header__logo{% if header_styles == 'center_below' %} header__logo-center{% endif %}">
          {{ header_logo }}
        </div>
        <div class="header__navigation{% if header_styles == 'left_center' or header_styles == 'center_below' %} header-nav__center{% endif %}">
          {%- render 'header-nav-list' 
            , main_menu: main_menu,
            mobile_menu: mobile_menu -%}
        </div>
      {%- endif -%}
      <div class="header__icon-container">
        {%- if show_icons -%}
          <a
            href="{{ routes.search_url }}"
            aria-label="Search"
            class="icon icon__search">
            {%- render 'icon-search' -%}
          </a>
          {%- if shop.customer_accounts_enabled -%}
            <a
              href="{{ routes.account_url }}"
              aria-label="Accounts"
              class="icon icon__accounts">
              {%- render 'icon-account' -%}
            </a>
          {%- endif -%}
          <a
            href="{{ routes.cart_url }}"
            aria-label="Cart"
            aria-controls="drawer"
            class="icon icon__cart">
            {%- if cart_icon == 'cart' -%}
              {%- render 'icon-cart' -%}
            {%- elsif cart_icon == 'bag' -%}
              {%- render 'icon-bag' -%}
            {%- else -%}
              {%- render 'icon-minimal-bag' -%}
            {%- endif -%}
          </a>
        {%- else -%}
          <ul class="icons-text__list">
            <li class="icons-text__item">
              <a href="{{ routes.search_url }}" aria-label="Search">Search</a>
            </li>
            {%- if shop.customer_accounts_enabled -%}
              <li class="icons-text__list">
                <a href="{{ routes.account_url }}" aria-label="Accounts">Accounts</a>
              </li>
            {%- endif -%}
            <li class="icons-text__list">
              <a
                href="{{ routes.cart_url }}"
                aria-label="Cart"
                aria-controls="drawer"
                class="icon icon__cart">Cart</a>
            </li>
          </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
</header>
{% schema %}
  {
    "name": "t:sections.header.name",
    "class": "shopify__header-group",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.header.settings.header_navigation.label"
      },
      {
        "type": "link_list",
        "id": "desktop_menu",
        "label": "t:sections.header.settings.header_navigation.desktop_menu.label",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "mobile_menu",
        "label": "t:sections.header.settings.header_navigation.mobile_menu.label",
        "info": "Provide Different Menu for Mobile Devices If None Selected Then Desktop Menu Used"
      },
      {
        "type": "select",
        "id": "header_styles",
        "label": "t:sections.header.settings.header_styles.label",
        "default": "left",
        "options": [
          {
            "value": "center_left",
            "label": "t:sections.header.settings.header_styles.options.center_left.label"
          },
          {
            "value": "left_center",
            "label": "t:sections.header.settings.header_styles.options.left_center.label"
          },
          {
            "value": "left",
            "label": "t:sections.header.settings.header_styles.options.left.label"
          },
          {
            "value": "drawer_center",
            "label": "t:sections.header.settings.header_styles.options.drawer_center.label"
          }, {
            "value": "center_below",
            "label": "t:sections.header.settings.header_styles.options.center_below.label"
          }
        ]
      }, {
        "type": "checkbox",
        "id": "sticky_header",
        "label": "t:sections.header.settings.sticky_header.label",
        "default": false
      }, {
        "type": "checkbox",
        "id": "show_icons",
        "label": "t:sections.header.settings.show_icons.label",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "logo",
        "name": "Logo",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "header_logo",
            "label": "Logo Image"
          }, {
            "type": "range",
            "id": "desktop_logo_width",
            "label": "Desktop Logo Width",
            "min": 50,
            "max": 350,
            "step": 10,
            "unit": "px",
            "default": 100
          }, {
            "type": "range",
            "id": "mobile_logo_width",
            "label": "Desktop Logo Width",
            "min": 20,
            "max": 200,
            "step": 10,
            "unit": "px",
            "default": 100
          }
        ]
      }, {
        "type": "mega-menu",
        "name": "Mega Menu",
        "settings": [
          {
            "type": "text",
            "id": "menu_item_label",
            "label": "Menu Item",
            "info": "Enter Menu Title to Apply Mega Menu"
          },
          {
            "type": "header",
            "content": "Image 1"
          },
          {
            "type": "image_picker",
            "id": "promo_image_1",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "promo_image_1_subheading",
            "label": "Subheading",
            "default": "Subheading"
          }, {
            "type": "text",
            "id": "promo_image_1_heading",
            "label": "Heading"
          }, {
            "type": "text",
            "id": "promo_image_1_text",
            "label": "Text",
            "default": "Text"
          }, {
            "type": "header",
            "content": "Image 2"
          }, {
            "type": "image_picker",
            "id": "promo_image_2",
            "label": "Image"
          }, {
            "type": "text",
            "id": "promo_image_2_subheading",
            "label": "Subheading",
            "default": "Subheading"
          }, {
            "type": "text",
            "id": "promo_image_2_heading",
            "label": "Heading"
          }, {
            "type": "text",
            "id": "promo_image_2_text",
            "label": "Text",
            "default": "Text"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["footer"]
    }
  }
{% endschema %}