{%-  liquid
  assign sticky_header = section.settings.sticky_header
  assign show_icons = section.settings.show_icons
  assign main_menu = linklists[section.settings.desktop_menu]
  assign mobile_menu = linklists[section.settings.mobile_menu]
  assign header_styles = section.settings.header_styles
  assign cart_icon = settings.cart_icon
-%}
{%- style -%}
  :root  {
    --headerBackground: {{ settings.header_background_color }};
    --headerText: {{ settings.header_text_color }};
  }
  .section__header {
    background: #111111;
    background: var(--headerBackground);
    color: #ffffff;
    color: var(--headerText);
  }
  @media only screen and (min-width: 769px) {
    {%- if header_styles == 'drawer_center' -%}
      .section__header{
        padding: 16px 0;
      }
      .header__navigation{
        padding: 0;
      }
    {%- endif -%}
  }
{%- endstyle -%}
{%- render 'menu-drawer',
   main_menu: main_menu,
   mobile_menu: mobile_menu
-%}
{%- if settings.cart_type == 'drawer' -%}
{%- render 'cart-drawer' -%}
  {%- elsif settings.cart_type == 'popup' -%}
  {%- render 'cart-popup' -%}
{%- endif -%}
<header class="section__header" data-sticky-header="{{ sticky_header }}">
  <div class="page__width">
    <div class="header__wrapper" data-header-style="{{ header_styles }}">
      {% for block in section.blocks %}
        {% liquid
          assign logo = block.settings.header_logo
          assign desktop_logo_width = block.settings.desktop_logo_width
          assign mobile_logo_width = block.settings.mobile_logo_width
        %}
        {% if block.type == 'logo' %}
          {% style %}
          .header__logo{
            width: {{ mobile_logo_width }}px;
            flex: 0 0 {{ mobile_logo_width }}px;
          }
          .site__logo-image {
            width: {{ mobile_logo_width }}px;
          }
          @media only screen and (min-width: 769px) {
            .header__logo{
              width: {{ desktop_logo_width }}px;
              flex: 0 0 {{ desktop_logo_width }}px
            }
            .site__logo-image {
              width: {{ desktop_logo_width }}px;
            }
          }
        {% endstyle %}
        {%- capture header_logo -%}
            <h1 class="site__logo">
              <a href="{{ routes.root_url }}" title="{{ shop.name }}" aria-label="{{ shop.name }}">
                {% if logo != blank %}
                  {{ logo | image_url: width: logo.width, height: logo.height | image_tag: class: "site__logo-image" }}
                {%- else -%}
                  <span>{{ shop.name }}</span>
                {% endif %}
              </a>
            </h1>
        {%- endcapture -%}
        {% endif %}
      {% endfor %}
      {%- if header_styles == 'center_left' -%}
        <div class="header__block navigation__hide">
          <button class="menu-toggle__btn{% unless show_icons %} icon__hide-desktop{% endunless %}">
            {% render 'icon-hamburger' %}
          </button>
          {%- unless show_icons -%}
            <button class="menu-toggle__btn icon__hide-mobile">{{ 'sections.header.general.navigation' | t }}</button>
          {%- endunless -%}
        </div>
        <div class="header__block header__navigation">
          {%- render 'header-nav-desktop',
            main_menu: main_menu,
            mobile_menu: mobile_menu
          -%}
        </div>
        <div class="header__block header__logo">
          {{ header_logo }}
        </div>
      {%- elsif header_styles == 'drawer_center' -%}
        <div class="header__block header__hamburger">
          <button class="menu-toggle__btn{% unless show_icons %} icon__hide-hamburger{% endunless %}">
            {% render 'icon-hamburger' %}
          </button>
          {%- unless show_icons -%}
            <button class="menu-toggle__btn icon__hide-mobile">{{ 'sections.header.general.navigation' | t }}</button>
          {%- endunless -%}
        </div>
        <div class="header__block header__logo">
          {{ header_logo }}
        </div>
      {%- elsif header_styles == 'center_below' -%}
        <div class="header__block navigation__hide">
          <button class="menu-toggle__btn{% unless show_icons %} icon__hide-desktop{% endunless %}">
            {% render 'icon-hamburger' %}
          </button>
          {%- unless show_icons -%}
            <button class="menu-toggle__btn icon__hide-mobile">{{ 'sections.header.general.navigation' | t }}</button>
          {%- endunless -%}
        </div>
        <div class="header__block header-center__below">
          <div class="header__block header__logo">
            {{ header_logo }}
          </div>
          <div class="header__block header__navigation">
            {%- render 'header-nav-desktop', 
              main_menu: main_menu,
              mobile_menu: mobile_menu
            -%}
          </div>
        </div>
      
      {%- else -%}
        <div class="header__block navigation__hide">
          <button class="menu-toggle__btn{% unless show_icons %} icon__hide-desktop{% endunless %}">
            {% render 'icon-hamburger' %}
          </button>
          {%- unless show_icons -%}
            <button class="menu-toggle__btn icon__hide-mobile">{{ 'sections.header.general.navigation' | t }}</button>
          {%- endunless -%}
        </div>
        <div class="header__block header__logo">
          {{ header_logo }}
        </div>
        <div class="header__block header__navigation{% if header_styles == 'left_center' %} header-nav__center{% endif %}">
          {%- render 'header-nav-desktop', 
            main_menu: main_menu,
            mobile_menu: mobile_menu
          -%}
        </div>
      {%- endif -%}
      <div class="header__block header__icon-container">
        {%- if settings.enable_search -%}
          <a href="{{ routes.search_url }}" aria-label="{{ 'sections.search.title' | t }}" title="{{ 'sections.search.title' | t }}" class="icon icon__search{% unless show_icons %} icon__hide-desktop{% endunless %}">
            {%- render 'icon-search' -%}
          </a>
        {%- endif -%}
        {%- if shop.customer_accounts_enabled -%}
          <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}"
            aria-label="{% if customer %}{{ 'sections.header.general.login' | t }}{% else %}{{ 'sections.header.general.account' | t }}{% endif %}"
            title="{% if customer %}{{ 'sections.header.general.login' | t }}{% else %}{{ 'sections.header.general.account' | t }}{% endif %}" 
            class="icon icon__accounts{% unless show_icons %} icon__hide-desktop{% endunless %}">
            {%- render 'icon-account' -%}
          </a>
        {%- endif -%}
        <a href="{{ routes.cart_url }}" data-cart-type="{{ settings.cart_type }}" aria-label="{{ 'sections.header.general.cart' | t }}" title="{{ 'sections.header.general.cart' | t }}" aria-controls="drawer" class="icon icon__cart{% unless show_icons %} icon__hide-desktop{% endunless %}">
          {%- if cart_icon == 'cart' -%}
            {%- render 'icon-cart' -%}
          {%- elsif cart_icon == 'bag' -%}
            {%- render 'icon-bag' -%}
          {%- else -%}
            {%- render 'icon-minimal-bag' -%}
          {%- endif -%}
          <span data-cart-count class="cart-item__count{% if cart.item_count <= 0 %} hidden{% endif %}">{{ cart.item_count }}</span>
        </a>
        {%- unless show_icons -%}
          {%- if settings.enable_search -%}
            <a href="{{ routes.search_url }}" class="icon icon__search icon__hide-mobile">{{ 'sections.search.title' | t }}</a>
          {%- endif -%}
          {%- if shop.customer_accounts_enabled -%}
              <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}"
                class="icon icon__accounts icon__hide-mobile">
                {% if customer %}
                  {{ 'sections.header.general.login' | t }}
                {% else %}
                  {{ 'sections.header.general.account' | t }}
                {% endif %}
              </a>
          {%- endif -%}
          <a href="{{ routes.cart_url }}" data-cart-type="{{ settings.cart_type }}" aria-label="{{ 'sections.header.general.cart' | t }}" class="icon icon__cart icon__hide-mobile">
            {{ 'sections.header.general.cart' | t }}
            <span data-cart-count class="cart-item__count{% if cart.item_count <= 0 %} hidden{% endif %}">{{ cart.item_count }}</span>
          </a>
        {%- endunless -%}
        <predictive-search>
          <div class="site-search__container hidden">
            <div class="site-search__wrapper">
              <div class="page__width">
                <div class="search__form">
                  <form action="{{ routes.search_url }}">
                    <div class="search-form__flex">
                      <input {% if settings.enable_predictive_search %}id="predictive__input"{% endif %} class="form__input" type="search" placeholder="{{ 'search.general.search_placeholder' | t }}" name="q" value="{{ search.terms | escape }}" autocomplete="off" 
                        autocorrect="off" autocapitalize="off" role="combobox" aria-expanded="false" aria-owns="predictive-search-results" aria-controls="predictive-search-results"
                        aria-haspopup="listbox" aria-autocomplete="list">
                      <button type="submit" class="btn btn__link btn__secondary" aria-label="{{ 'search.general.submit' | t }}">{{ 'search.general.submit' | t }}</button>
                      <button type="button" id="close__search-modal" class="btn btn__link" aria-label="{{ 'search.general.cancel' | t }}">{{ 'search.general.cancel' | t }}</button>
                    </div>
                    {%- if settings.enable_predictive_search -%}
                      <div id="PredictiveResults" class="predictive-results hidden"></div>
                    {%- endif -%}
                  </form>
                  
                  {% comment %}
                  <button type="button" id="close__search-modal" aria-label="{{ 'search.general.cancel' | t }}">{%- render 'icon-close' -%}</button>
                  {% endcomment %}
                </div>
              </div>
            </div>
          </div>
        </predictive-search>
      </div>
    </div>
  </div>
</header>
{% schema %}
  {
    "name": "t:sections.header.name",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.header.settings.header_navigation.label"
      },
      {
        "type": "link_list",
        "id": "desktop_menu",
        "label": "t:sections.header.settings.header_navigation.desktop_menu.label",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "mobile_menu",
        "label": "t:sections.header.settings.header_navigation.mobile_menu.label",
        "info": "Provide Different Menu for Mobile Devices If None Selected Then Desktop Menu Used"
      },
      {
        "type": "select",
        "id": "header_styles",
        "label": "t:sections.header.settings.header_styles.label",
        "default": "left",
        "options": [
          {
            "value": "center_left",
            "label": "t:sections.header.settings.header_styles.options.center_left.label"
          },
          {
            "value": "left_center",
            "label": "t:sections.header.settings.header_styles.options.left_center.label"
          },
          {
            "value": "left",
            "label": "t:sections.header.settings.header_styles.options.left.label"
          },
          {
            "value": "drawer_center",
            "label": "t:sections.header.settings.header_styles.options.drawer_center.label"
          }, {
            "value": "center_below",
            "label": "t:sections.header.settings.header_styles.options.center_below.label"
          }
        ]
      }, 
      {
        "type": "checkbox",
        "id": "sticky_header",
        "label": "t:sections.header.settings.sticky_header.label",
        "default": false
      }, 
      {
        "type": "checkbox",
        "id": "show_icons",
        "label": "t:sections.header.settings.show_icons.label",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "logo",
        "name": "t:sections.header.blocks.logo.name",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "t:sections.header.blocks.logo.settings.header_logo.label"
          },
          {
            "type": "image_picker",
            "id": "header_logo",
            "label": "t:sections.header.blocks.logo.settings.header_logo.logo.label"
          }, 
          {
            "type": "range",
            "id": "desktop_logo_width",
            "label": "t:sections.header.blocks.logo.settings.header_logo.desktop_logo_width.label",
            "min": 50,
            "max": 350,
            "step": 10,
            "unit": "px",
            "default": 100
          }, 
          {
            "type": "range",
            "id": "mobile_logo_width",
            "label": "t:sections.header.blocks.logo.settings.header_logo.mobile_logo_width.label",
            "min": 20,
            "max": 200,
            "step": 10,
            "unit": "px",
            "default": 100
          }
        ]
      },
      {
        "type": "mega-menu",
        "name": "t:sections.header.blocks.mega-menu.name",
        "settings": [
          {
            "type": "text",
            "id": "menu_item_label",
            "label": "t:sections.header.blocks.mega-menu.settings.menu_item_label.label",
            "info": "t:sections.header.blocks.mega-menu.settings.menu_item_label.info"
          },
          {
            "type": "link_list",
            "id": "mega_menu",
            "label": "t:sections.header.blocks.mega-menu.settings.mega_menu.label",
            "info": "t:sections.header.blocks.mega-menu.settings.mega_menu.info"
          },
          {
            "type": "header",
            "content": "t:sections.header.blocks.mega-menu.settings.header_alignment.label"
          },
          {
            "type": "select",
            "id": "content_position",
            "label": "t:sections.header.blocks.mega-menu.settings.content_position.label",
            "options": [
              {
                "value": "top-left",
                "label": "t:sections.header.blocks.mega-menu.settings.content_position.options.top_left.label"
              },
              {
                "value": "top-center",
                "label": "t:sections.header.blocks.mega-menu.settings.content_position.options.top_center.label"
              },
              {
                "value": "top-right",
                "label": "t:sections.header.blocks.mega-menu.settings.content_position.options.top_right.label"
              },
              {
                "value": "center-left",
                "label": "t:sections.header.blocks.mega-menu.settings.content_position.options.center_left.label"
              }, {
                "value": "center",
                "label": "t:sections.header.blocks.mega-menu.settings.content_position.options.center.label"
              }, {
                "value": "center-right",
                "label": "t:sections.header.blocks.mega-menu.settings.content_position.options.center_right.label"
              }, {
                "value": "bottom-left",
                "label": "t:sections.header.blocks.mega-menu.settings.content_position.options.bottom_left.label"
              }, {
                "value": "bottom-center",
                "label": "t:sections.header.blocks.mega-menu.settings.content_position.options.bottom_center.label"
              }, {
                "value": "bottom-right",
                "label": "t:sections.header.blocks.mega-menu.settings.content_position.options.bottom_right.label"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "t:sections.header.blocks.mega-menu.settings.alignment.label",
            "options": [
              {
                "value": "left",
                "label": "t:sections.header.blocks.mega-menu.settings.alignment.options.left.label"
              }, {
                "value": "center",
                "label": "t:sections.header.blocks.mega-menu.settings.alignment.options.center.label"
              }, {
                "value": "right",
                "label": "t:sections.header.blocks.mega-menu.settings.alignment.options.right.label"
              }
            ],
            "default": "center"
          },
          {
            "type": "header",
            "content": "t:sections.header.blocks.mega-menu.settings.header_image_1.label"
          },
          {
            "type": "image_picker",
            "id": "promo_image_1",
            "label": "t:sections.header.blocks.mega-menu.settings.header_image_1.promo_image.label"
          },
          {
            "type": "text",
            "id": "promo_image_1_subheading",
            "label": "t:sections.header.blocks.mega-menu.settings.header_image_1.subheading.label",
            "default": "Subheading"
          }, {
            "type": "text",
            "id": "promo_image_1_heading",
            "label": "t:sections.header.blocks.mega-menu.settings.header_image_1.heading.label",
            "default": "Heading"
          }, 
          {
            "type": "text",
            "id": "promo_image_1_text",
            "label": "t:sections.header.blocks.mega-menu.settings.header_image_1.text.label",
            "default": "Text"
          },
          {
            "type": "url",
            "id": "promo_image_1_link",
            "label": "t:sections.header.blocks.mega-menu.settings.header_image_1.link.label"
          },
          {
            "type": "header",
            "content": "t:sections.header.blocks.mega-menu.settings.header_image_2.label"
          }, 
          {
            "type": "image_picker",
            "id": "promo_image_2",
            "label": "t:sections.header.blocks.mega-menu.settings.header_image_2.promo_image.label"
          }, 
          {
            "type": "text",
            "id": "promo_image_2_subheading",
            "label": "t:sections.header.blocks.mega-menu.settings.header_image_2.subheading.label",
            "default": "Subheading"
          }, 
          {
            "type": "text",
            "id": "promo_image_2_heading",
            "label": "t:sections.header.blocks.mega-menu.settings.header_image_2.heading.label",
            "default": "Heading"
          }, 
          {
            "type": "text",
            "id": "promo_image_2_text",
            "label": "t:sections.header.blocks.mega-menu.settings.header_image_2.text.label",
            "default": "Text"
          },
          {
            "type": "url",
            "id": "promo_image_2_link",
            "label": "t:sections.header.blocks.mega-menu.settings.header_image_2.link.label"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["footer"]
    }
  }
{% endschema %}