{%- liquid
    assign layout_reverse = section.settings.layout_reverse
    assign lazyloading = ''
    assign lazyloadImages = section.settings.lazyload_images
    if lazyloadImages
    assign lazyloading = 'lazy'
    endif

    assign ratio = 0.75
    assign default = 'large'
    assign sizes = '(min-width: 1200px) 650px, 45vw'
    
-%}
{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<section class="image-text__section main__section-{{ section.id }}">
  <div class="page__width">
    <div class="scroll__animate image-text__wrapper{% if layout_reverse %} image-text__reverse{% endif %}">
      {%- for block in section.blocks -%}
        {%- liquid
            assign image = block.settings.image
            assign heading = block.settings.heading
            assign text = block.settings.text
            assign button_label = block.settings.button_label
            assign button_link = block.settings.button_link 
        -%}
        {%- case block.type -%}
          {%- when 'image' -%}
          <div class="image-text__item image__block" {{ block.shopify_attributes }}>
            {%- if image != blank -%}
              {% comment %}
              {{ image | image_url: width: image.width, height: image.height | image_tag: loading: lazyloading, class: 'image-text__image', widths: '240,480,600,1024,2048', sizes: '(min-width: 1200px) 650px, 45vw' }}
              {% endcomment %}
              <img    
                src="{{ image | img_url: default }}"
                srcset="
                    {{ image | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                    {{ image | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                    {{ image | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                    {{ image | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                    {{ image | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
                "
                width="{{ image.width }}"
                height="{{ image.height }}"
                loading= "{{ lazyloading }}"
                sizes="{{ sizes }}"
                alt="{{ image.alt }}">
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: "placeholder__image" }}
            {%- endif -%}
          </div>

          {%- when 'text' -%}
          <div class="image-text__item text__block" {{ block.shopify_attributes }}>
            {%- if heading != blank -%}
              <div class="main__heading image-text__heading">
                <h2>{{ heading }}</h2>
              </div>
            {%- endif -%}
            {%- if text != blank -%}
              <div class="image-text__text rte">
                {{ text }}
              </div>
            {%- endif -%}
            {%- if button_label != blank -%}
              <div class="image-text__button--container">
                <a
                  href="{{ button_link }}"
                  class="btn btn__primary btn__link"
                  title="{{ button_label }}">
                  {{ button_label }}
                </a>
              </div>
            {%- endif -%}
          </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "t:sections.image-with-text.name",
    "class": "main__section",
    "max_blocks": 2,
    "settings": [
      {
        "type": "checkbox",
        "id": "layout_reverse",
        "label": "t:sections.image-with-text.settings.layout_reverse.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "lazyload_images",
        "label": "t:sections.image-with-text.settings.lazyload_images.label",
        "default": false,
        "info": "t:sections.image-with-text.settings.lazyload_images.info"
      },
      {
        "type": "header",
        "content": "t:sections.image-with-text.settings.header_spacing.label"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.image-with-text.settings.header_spacing.top_spacing.label",
        "default": 16
      }, {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.image-with-text.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ],
    "blocks": [
      {
        "type": "image",
        "limit": 1,
        "name": "t:sections.image-with-text.blocks.image.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.image-with-text.blocks.image.settings.image.label"
          }
        ]
      }, {
        "type": "text",
        "name": "t:sections.image-with-text.blocks.text.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "t:sections.image-with-text.blocks.text.settings.heading.label",
            "default": "Image With Text"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "t:sections.image-with-text.blocks.text.settings.text.label"
          }, {
            "type": "text",
            "id": "button_label",
            "label": "t:sections.image-with-text.blocks.text.settings.button_label.label",
            "default": "Shop Now"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.image-with-text.blocks.text.settings.button_link.label"
          }

        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.image-with-text.presets.name",
        "blocks": [
          {
            "type": "image"
          }, {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}