{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="lookbook-wrapper main__section-{{ section.id }}">
  <div class="page__width">
    <div class="lookbook-grid">
      {%- for block in section.blocks -%}
        {%- assign lookbookImage = block.settings.lookbook_image -%}
        <div class="lookbook-grid__item lookbook-item-{{ block.id }}">
          <div class="lookbook-image__container">
            {%- if lookbookImage != blank -%}
              <img
                src="{{ lookbookImage | img_url: 'master' }}"
                width=""
                height=""
                alt="{{ lookbookImage.alt }}"
                loading="lazy" />
            {%- else -%}
              {{ 'lifestyle-1' | placeholder_svg_tag: "placeholder__image" }}
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.lookbook.name",
    "class": "main__section",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.lookbook.settings.header_spacing.label"
      }, {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.lookbook.settings.header_spacing.top_spacing.label",
        "default": 16
      }, {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.lookbook.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ],
    "blocks": [
      {
        "type": "lookbook",
        "name": "t:sections.lookbook.blocks.lookbook.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "lookbook_image",
            "label": "t:sections.lookbook.blocks.lookbook.settings.image.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.lookbook.presets.name",
        "blocks": [
          {
            "type": "lookbook"
          }, {
            "type": "lookbook"
          }, {
            "type": "lookbook"
          }, {
            "type": "lookbook"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}