<div class="orders__wrapper">
  <div class="page__width">
    <div class="form__header account-form__header">
      <h2>{{ 'customers.order.title' | t: name: order.name }}</h2>
      <a class="btn btn__link btn__primary" href="{{ routes.account_url }}"title="{{ 'customers.order.return_url' | t }}">
        {{ 'customers.order.return_url' | t }}
      </a>
    </div>
    <orders-details id="ordersDetails">
      <div class="account-form__grid">
        <div class="form__grid-item orders__container">
          <div class="form__header">
            {%- assign order_date = order.created_at | time_tag: format: "date_at_time" -%}
            <h4>{{ 'customers.order.date_html' | t: date: order_date }}</h4>
            {% if order.cancelled %}
              <div class="errors">
                {%- assign cancelled_at = order.cancelled_at | time_tag: format: "date_at_time" -%}
                <p >{{ 'customers.order.cancelled_html' | t: date: cancelled_at }}</p>
                <p>{{ 'customers.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
              </div>
            {% endif %}
          </div>
          <table role="table" class="orders__table">
            <thead>
              <tr>
                <th>{{ 'customers.order.product' | t }}</th>
                <th>{{ 'customers.order.sku' | t }}</th>
                <th>{{ 'customers.order.price' | t }}</th>
                <th>{{ 'customers.order.quantity' | t }}</th>
                <th>{{ 'customers.order.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <td><label class="label__hidden">{{ 'customers.orders.order_number' | t }}</label><a href="{{ order.customer_url  }}">{{ order.name }}</a></td>
                  <td><label class="label__hidden">{{ 'customers.orders.date' | t }}</label><span>{{ order.created_at | date: '%d %b %Y' }}</span></td>
                  <td><label class="label__hidden">{{ 'customers.orders.payment_status' | t }}</label><span>{{ order.financial_status_label }}</span></td>
                  <td><label class="label__hidden">{{ 'customers.orders.fulfilment_status' | t }}</label><span>{{ order.fulfillment_status_label }}</span></td>
                  <td><label class="label__hidden">{{ 'customers.orders.total' | t }}</label><span>{{ order.total_price }}</span></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="form__grid-item form__addresses-container">
          <div class="billing__address">
            <div class="form__header">
              <h4>{{ 'customers.order.billing_address' | t }}</h4>
            </div>
            <p>{{ 'customers.order.payment_status_html' | t: status: order.financial_status_label }}</p>
            <div class="customer__header">{{ order.billing_address.name }}</div>
           <div class="rte">
             {% if order.billing_address.company != blank %}
              {{ order.billing_address.company }}<br>
             {% endif %}
             {{ order.billing_address.street }}<br>
             {{ order.billing_address.city }}<br>
             {% if order.billing_address.province != blank %}
              {{ order.billing_address.province }}<br>
             {% endif %}
             {{ order.billing_address.zip | upcase }}<br>
             {{ order.billing_address.country }}<br>
             {{ order.billing_address.phone }}
           </div>
          </div>
          <hr>
          <div class="shipping__address">
            <div class="form__header">
              <h4>{{ 'customers.order.shipping_address' | t }}</h4>
            </div>
            <p>{{ 'customers.order.fulfillment_status_html' | t: status: order.fulfillment_status_label }}</p>
            <div class="customer__header">{{ order.shipping_address.name }}</div>
           <div class="rte">
            {% if order.shipping_address.company != blank %}
              {{ order.shipping_address.company }}<br>
            {% endif %}
            {{ order.shipping_address.street }}<br>
            {{ order.shipping_address.city }}<br>
            {% if order.shipping_address.province != blank %}
              {{ order.shipping_address.province }}<br>
            {% endif %}
            {{ order.shipping_address.zip | upcase }}<br>
            {{ order.shipping_address.country }}<br>
            {{ order.shipping_address.phone }}
           </div>
          </div>
        </div>
      </div>
    </orders-details>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.customer-order.name",
    "class": "customer__forms"
  }
{% endschema %}