{%- liquid
   assign passwordImage = section.settings.background_image
   assign ratio = 0.75
   assign default = 'grande'
   assign sizes = '(min-width: 1200px) 650px, 45vw'
-%}
<div class="main__password-section">
  <div class="password__wrapper">
    <div class="password__image-container">
      {%- if section.settings.background_image != blank -%}
      <img src="{{ passwordImage | img_url: default }}"
        srcset="
          {{ passwordImage | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
          {{ passwordImage | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
          {{ passwordImage | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
          {{ passwordImage | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
          {{ passwordImage | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
        "
        width="{{ passwordImage.width }}"
        height="{{ passwordImage.height }}"
        loading="lazy"
        sizes="{{ sizes }}"
        alt= "{{ passwordImage.alt }}"
      />
      {% else %}
        {{ 'lifestyle-1' | placeholder_svg_tag: "placeholder__image" }}
      {%- endif -%}
    </div>
    <div class="password__content">
      <div class="password__content-box text__position-{{ section.settings.content_position }}">
        <div class="password__banner text__align-{{ section.settings.text_alignment }}">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'title' -%}
                {%- if block.settings.title != blank -%}
                  <div class="password__title">
                    <h2>{{ block.settings.title }}</h2>
                  </div>
                {%- endif -%}
              {%- when 'text' -%}
                {%- if block.settings.text != blank -%}
                  <div class="password__text rte">
                    {{ block.settings.text }}
                  </div>
                {%- endif -%}
              {%- when 'form' -%}
                <div class="password__newsletter-form">
                  {%- render 'newsletter-form' -%}
                </div>
              {%- when 'socials' -%}
                <div class="password__socials">
                  {%- render 'social-icons' -%}
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.main-password.name",
    "class": "main__section",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "t:sections.main-password.settings.background_image.label"
      },
      {
        "type": "header",
        "content": "t:sections.main-password.settings.header_alignment.label"
      },
      {
        "type": "select",
        "id": "content_position",
        "label": "t:sections.main-password.settings.content_position.label",
        "options": [
          {
            "value": "top-left",
            "label": "t:sections.main-password.settings.content_position.options.top_left.label"
          },
          {
            "value": "top-center",
            "label": "t:sections.main-password.settings.content_position.options.top_center.label"
          },
          {
            "value": "top-right",
            "label": "t:sections.main-password.settings.content_position.options.top_right.label"
          },
          {
            "value": "center-left",
            "label": "t:sections.main-password.settings.content_position.options.center_left.label"
          }, {
            "value": "center",
            "label": "t:sections.main-password.settings.content_position.options.center.label"
          }, {
            "value": "center-right",
            "label": "t:sections.main-password.settings.content_position.options.center_right.label"
          }, {
            "value": "bottom-left",
            "label": "t:sections.main-password.settings.content_position.options.bottom_left.label"
          }, {
            "value": "bottom-center",
            "label": "t:sections.main-password.settings.content_position.options.bottom_center.label"
          }, {
            "value": "bottom-right",
            "label": "t:sections.main-password.settings.content_position.options.bottom_right.label"
          }
        ],
        "default": "center"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.main-password.settings.alignment.label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.main-password.settings.alignment.options.left.label"
          }, {
            "value": "center",
            "label": "t:sections.main-password.settings.alignment.options.center.label"
          }, {
            "value": "right",
            "label": "t:sections.main-password.settings.alignment.options.right.label"
          }
        ],
        "default": "center"
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "t:sections.main-password.blocks.title.name",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.main-password.blocks.title.settings.title.label",
            "default": "Heading"
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.main-password.blocks.text.name",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "t:sections.main-password.blocks.text.settings.text.label"
          }
        ]
      },
      {
        "type": "form",
        "name": "t:sections.main-password.blocks.form.name",
        "limit": 1
      },
      {
        "type": "socials",
        "name": "t:sections.main-password.blocks.socials.name",
        "limit": 1
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "text"
        },
        {
          "type": "form"
        }
      ]
    }
  }
{% endschema %}