{%- liquid
  assign show_date = section.settings.show_date
  assign show_tags = section.settings.show_tags
  assign show_comments = section.settings.show_comments
  assign show_category = section.settings.show_category
  assign show_social_sharing = section.settings.show_social_sharing
  assign show_author = section.settings.show_author
  assign articleImage = article.image
  assign ratio = 0.75
  assign default = 'grande'
  assign sizes = '(min-width: 1200px) 650px, 45vw'
-%}
{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="main__section-{{ section.id }}">
  <div class="page__width">
    <article class="article__main--container">
      <div class="article__wrapper">
        <div class="article__type-date">
          {%- if show_category -%}
            <h4>{{ article.tags[0] }}</h4>
          {%- endif -%}
          {%- if show_date -%}
            <span class="article__date">
              {{ article.created_at | date: '%d %b %Y' }}
            </span>
          {%- endif -%}
        </div>
        {%- if show_author -%}
          <div class="article__author rte">{{ 'article.general.author' | t: author: article.author }}</div>
        {%- endif -%}
        <div class="main__heading article__title">
          <a href="{{ article.url }}" title="{{ article.title }}">
            <h2>{{ article.title }}</h2>
          </a>
        </div>
        {%- if show_tags -%}
          <ul class="tags__list">
            {%- for tag in article.tags limit: 3 -%}
              <li>{{ tag }}</li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        {%- if article.image -%}
          <div class="scroll__animate grid__item-image">                  
            <a href="{{ article.url }}" title="{{ article.title }}" aria-label="{{ article.title | escape }}" class="article__image">
              <div class="article_image-wrapper">
                <img style="aspect-ratio: {{ imageAspectRatio }};"src="{{ articleImage | img_url: default }}"srcset="
                  {{ articleImage | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                  {{ articleImage | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                  {{ articleImage | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                  {{ articleImage | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                  {{ articleImage | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
                  "width="{{ articleImage.width }}"height="{{ articleImage.height }}"loading="{{ lazyloading }}"sizes="{{ sizes }}"alt="{{ articleImage.alt }}">
              </div>     
            </a>    
          </div>  
        {%- endif -%}
        <div class="article__content rte">
          {{ article.content | strip_html }}
        </div>
      </div>
      {%- if show_social_sharing -%}
        <div class="article-social__sharing rte">
          <div>{{ 'article.general.sharing_socials_label' | t }}</div>
          <div class="social-sharing">
            {%- render 'social-share' -%}
          </div>
        </div>
      {%- endif -%}
      {% comment %}
      <div class="article-pagination">
      {%- paginate blog.articles by 1 -%}
      {%- if paginate.pages > 1 -%}
      {%- render 'article-pagination', paginate: paginate -%}
      {%- endif -%}
      {%- endpaginate -%}
      </div>
      {% endcomment %}
      <div class="scroll__animate article__form">
        {%- if show_comments -%}
          <div class="comments__wrapper">
            <h3 class="comments-form__heading">{{ 'article.comments.comments_count' | t: count: article.comments_count }}</h3>
            {%- if article.comments_count > 0 -%}
              {%- paginate article.comments by 50 %}
                {%- for comments in article.comments -%}
                  <div class="comment__item rte">
                    <div class="comments__header">
                      <h3>{{ comments.author }}</h3>
                      <div>{{ comments.created_at | date: '%B %d, %Y' }}</div>
                    </div>
                    <div>{{ comments.content }}</div>
                  </div>
                {%- endfor -%}

                {%- if paginate.pages > 1 -%}
                  {%- render 'pagination', paginate: paginate -%}
                {%- endif -%}
              {%- endpaginate -%}
            {%- else -%}
              <div class="rte">{{ 'article.comments.empty' | t }}</div>
            {%- endif -%}
          </div>
        {%- endif -%}
        {%- if article.comments_enabled? -%}
          {%- form 'new_comment', article -%}
            {{ form.errors | default_errors }}
            {%- if form.posted_successfully? -%}
              {% if blog.moderated? %}
                <div class="success__message">{{ 'article.comments.comment_sent' | t }}</div>
              {% else %}
                <div class="success__message">{{ 'article.comments.comment_published' | t }}</div>
              {% endif %}
            {%- endif -%}
            <h3 class="comments-form__heading">{{ 'article.comments.leave_comments' | t }}</h3>
            <div class="form__grid">
              <div class="form__group">
                <label class="form__label" for="name">{{ 'article.comments.name' | t }}</label>
                <input class="form__input" type="text" name="comment[author]" placeholder="{{ 'article.comments.name_placeholder' | t }}" id="name" value="{{ form.author }}">
              </div>
              <div class="form__group">
                <label class="form__label" for="email">{{ 'article.comments.email' | t }}</label>
                <input class="form__input" type="email" name="comment[email]" placeholder="{{ 'article.comments.email_placeholder' | t }}" id="email" value="{{ form.email }}">
              </div>
            </div>
            <div class="form__group">
              <label class="form__label" for="comment">{{ 'article.comments.message' | t }}</label>
              <textarea class="form__input" rows="5" name="comment[body]" placeholder="{{ 'article.comments.message_placeholder' | t }}" id="comment">{{ form.body }}</textarea>
            </div>
            <div class="text__center">
              <div class="comments-form__submit">
                <button class="btn btn__link btn__primary" type="submit">{{ 'article.comments.submit' | t }}</button>
              </div>
              <a href="{{ blog.url }}" class="form__links">{{ 'article.comments.back' | t }}</a>
            </div>
          {%- endform -%}
        {%- endif -%}
      </div>
    </article>
  </div>
</div>
{% schema %}
  {
    "name": "Article",
    "class": "main__section",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_date",
        "label": "t:sections.main-article.settings.show_date.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_tags",
        "label": "t:sections.main-article.settings.show_tags.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_category",
        "label": "t:sections.main-article.settings.show_category.label",
        "info": "t:sections.main-article.settings.show_category.info",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "t:sections.main-article.settings.show_author.label",
        "default": false
      }, {
        "type": "checkbox",
        "id": "show_social_sharing",
        "label": "t:sections.main-article.settings.show_social_sharing.label",
        "default": false
      }, {
        "type": "checkbox",
        "id": "show_comments",
        "label": "t:sections.main-article.settings.show_comments.label",
        "default": false
      }, {
        "type": "header",
        "content": "t:sections.main-article.settings.header_spacing.label"
      }, {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.main-article.settings.header_spacing.top_spacing.label",
        "default": 16
      }, {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.main-article.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ]
  }
{% endschema %}