<div class="registration__wrapper">
  <div class="page__width">
    <div class="customer-form__container">
      <div id="registrationForm">
        <div class="form__header">
          <h4>{{ 'customers.register.title' | t }}</h4>
        </div>
        <div class="form__content">
          {%- form 'create_customer' -%}
            {{ form.errors | default_errors }}
            <div class="form__grid">
              <div class="form__group">
                <label for="first_name" class="form__label">{{ 'customers.register.first_name' | t }}</label>
                <input type="text" id="first_name" name="customer[first_name]" value="{%- if customer -%}{{ customer.first_name }}{%- endif -%}" class="form__input" required aria-label="{{ 'customers.register.first_name' | t }}">
              </div>
              <div class="form__group">
                <label for="last_name" class="form__label">{{ 'customers.register.last_name' | t }}</label>
                <input type="text" id="last_name" name="customer[last_name]" value="{%- if customer -%}{{ customer.last_name }}{%- endif -%}" class="form__input" required aria-label="{{ 'customers.register.last_name' | t }}">
              </div>
            </div>
            <div class="form__group">
              <label for="email" class="form__label">{{ 'customers.register.email' | t }}</label>
              <input type="email" id="email" name="customer[email]" value="{%- if customer -%}{{ customer.email }}{%- endif -%}" class="form__input" required aria-label="{{ 'customers.register.email' | t }}">
            </div>
            {% comment %}
            <div class="form__group password__group">
              <label for="password" class="form__label">{{ 'customers.register.password' | t }}</label>
              <input type="password" id="password" name="customer[password]" class="form__input" required value="">
              <span class="password__toggle-btn">{{ 'customers.register.show_password' | t }}</span>
            </div>
            {% endcomment %}
            <div class="form__group password__group">
              <label for="password" class="form__label">{{ 'customers.register.password' | t }}</label>
              <input type="password" id="password" name="customer[password]" class="form__input" required value="">
              <span class="password__toggle-btn password__show-btn">{{ 'customers.register.show_password' | t }}</span>
              <span class="password__toggle-btn password__hide-btn hidden">{{ 'customers.register.hide_password' | t }}</span>
            </div>
            <div class="form__submit">
              <button type="submit" class="btn btn__link btn__primary" aria-label="{{ 'customers.register.submit' | t }}">{{ 'customers.register.submit' | t }}</button>
            </div>
            <div class="text__center">
              <a class="form__links" href="{{ routes.account_login_url }}" title="{{ 'customers.register.login_user' | t }}">{{ 'customers.register.login_user' | t }}</a>
            </div>
            {%- assign additional_text = section.settings.additional_text -%}
            {%- if additional_text != blank -%}
              <div class="register-form__text rte">
                {{ additional_text }}
              </div>
            {%- endif -%}
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.customer-registration.name",
    "class": "customer__forms",
    "settings": [
      {
        "type": "richtext",
        "id": "additional_text",
        "label": "t:sections.customer-registration.settings.additional_text.label"
      }
    ]
  }
{% endschema %}