<div class="main__password-section">
  <div class="page__width">
    <div class="password__wrapper">
      <div class="password__image-container">
        {%- if section.settings.background_image != blank -%}
          <img src="{{ section.settings.background_image | img_url: "master" }}" width="{{ section.settings.background_image.width }}" height="{{ section.settings.background_image.height }}" loading="lazy" />
        {% else %}
          {{ 'lifestyle-1' | placeholder_svg_tag: "placeholder__image" }}
        {%- endif -%}
      </div>
      <div class="password__content">
        <div class="password__content-box">
          <div class="password__banner">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'title' -%}
                  {%- if block.settings.title != blank -%}
                    <div class="password__title">
                      {{ block.settings.title }}
                    </div>
                  {%- endif -%}
                {%- when 'text' -%}
                  {%- if block.settings.text != blank -%}
                    <div class="password__text rte">
                      {{ block.settings.text }}
                    </div>
                  {%- endif -%}
                {%- when 'form' -%}
                  {%- render 'newsletter-form' -%}
                {%- when 'socials' -%}
                  {%- render 'social-icons' -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.main-password.name",
    "class": "main__section",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "Title",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      },
      {
        "type": "form",
        "name": "Form",
        "limit": 1
      },
      {
        "type": "socials",
        "name": "Socials",
        "limit": 1
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "text"
        },
        {
          "type": "form"
        }
      ]
    }
  }
{% endschema %}