{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="activate-account__wrapper main__section-{{ section.id }}">
  <div class="page__width">
    <div class="customer-form__container">
      <div id="activateAccountForm">
        <div class="form__header">
          <h4>{{ 'customers.activate_account.title' | t }}</h4>
        </div>
        <div class="form__header_text rte">
          {{ 'customers.activate_account.sub_text' | t }}
        </div>
        <div class="form__content">
          {% form 'activate_customer_password' %}
            {{ form.errors | default_errors }}
            <div class="form__group password__group">
              <label for="password" class="form__label">{{ 'customers.activate_account.password' | t }}</label>
              <input
                type="password"
                id="password"
                name="customer[password]"
                class="form__input"
                required
                value="">
              <span class="password__toggle-btn">{{ 'customers.activate_account.show_password' | t }}</span>
            </div>
            <div class="form__group password__group">
              <label for="confirm_password" class="form__label">{{ 'customers.activate_account.confirm_password' | t }}</label>
              <input
                type="password"
                id="confirm_password"
                name="customer[confirm_password]"
                class="form__input"
                required
                value="">
              <span class="password__toggle-btn">{{ 'customers.activate_account.show_password' | t }}</span>
            </div>
            <div class="form__submit">
              <button
                type="submit"
                class="btn btn__link btn__primary"
                aria-label="{{ 'customers.activate_account.submit' | t }}">{{ 'customers.activate_account.submit' | t }}</button>
            </div>
            <a href="{{ routes.account_login_url }}" title="{{ 'customers.activate_account.cancel' | t }}">{{ 'customers.activate_account.cancel' | t }}</a>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.customer-activate-account.name",
    "class": "main__section",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.customer-activate-account.settings.header_spacing.label"
      }, {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.customer-activate-account.settings.header_spacing.top_spacing.label",
        "default": 16
      }, {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.customer-activate-account.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ]
  }
{% endschema %}