{%- liquid
  assign show_date = section.settings.show_date
  assign show_tags = section.settings.show_tags
  assign show_comments = section.settings.show_comments
  assign show_category = section.settings.show_category
  assign show_social_sharing = section.settings.show_social_sharing
  assign show_author = section.settings.show_author
  assign articleImage = article.image
-%}
{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="main__section-{{ section.id }}">
  <div class="page__width">
    <article class="article__main--container">
      <div class="article__wrapper">
        <div class="article__type-date">
          {%- if show_category -%}
            <h4>{{ article.tags[0] }}</h4>
          {%- endif -%}
          {%- if show_date -%}
            <span class="article__date">
              {{ article.created_at | date: '%d %b %Y' }}
            </span>
          {%- endif -%}
        </div>
        {%- if show_author -%}
          <div class="article__author rte">{{ 'article.general.author' | t:author: article.author }}</div>
        {%- endif -%}
        <div class="main__heading article__title">
          <a href="{{ article.url }}" title="{{ article.title }}">
            <h2>{{ article.title }}</h2>
          </a>
        </div>
        {%- if show_tags -%}
          <ul class="tags__list">
            {%- for tag in article.tags limit: 3 -%}
              <li>{{ tag }}</li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        {%- if article.image -%}
          <div class="grid__item-image">
            <a
              href="{{ article.url }}"
              title="{{ article.title }}"
              aria-label="{{ article.title | escape }}"
              class="article__image">
              <div class="article_image-wrapper">
                <img style="aspect-ratio: {{ imageAspectRatio }};"src="{{ articleImage | img_url: default }}"srcset="
                    {{ articleImage | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                    {{ articleImage | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                    {{ articleImage | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                    {{ articleImage | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                    {{ articleImage | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
                    "
                    width="{{ articleImage.width }}"
                    height="{{ articleImage.height }}"
                    loading="{{ lazyloading }}"
                    sizes="{{ sizes }}"
                    alt="{{ articleImage.alt }}"
                  >
              </div>
            </a>
          </div>
        {%- endif -%}
        <div class="article__content rte">
          {{ article.content | strip_html }}
        </div>
      </div>
      {%- if show_social_sharing -%}
        social sharing icons here
      {%- endif -%}
      <div class="article__form">
        {%- if show_comments -%}
          <div class="comments__wrapper">
            <h3>Customer Comments
            </h3>
            {%- paginate article.comments by 2 %}
              {%- for comments in article.comments -%}
                <div class="comment__item">
                  <h3>{{ comments.author }}</h3>
                  <p>{{ comments.email }}</p>
                  <p>{{ comments.content }}</p>
                </div>
              {%- endfor -%}
    
              {%- if paginate.pages > 0 -%}
                {%- render 'pagination' -%}
              {%- endif -%}
            {%- endpaginate -%}
          </div>
        {%- endif -%}
        {%- if article.comments_enabled? -%}
          {%- form 'new_comment', article -%}
            <h3>Leave a Comment</h3>
            {{ form.errors | default_errors }}
            <div class="form__grid">
              <div class="form__group">
                <label class="form__label" for="name">Name</label>
                <input class="form__input" type="text" name="comment[author]" id="name" value="{{ form.author }}">
              </div>
              <div class="form__group">
                <label class="form__label" for="email">Email</label>
                <input class="form__input" type="email" name="comment[email]" id="email" value="{{ form.email }}">
              </div>
            </div>
            <div class="form__group">
              <label class="form__label" for="comment">Comment</label>
              <textarea class="form__input" name="comment[body]" id="comment">{{ form.body }}</textarea>
            </div>
            <div class="text__center">
              <div class="comments-form__submit">
                <button class="btn btn__link btn__primary" type="submit">Submit</button>
              </div>
              <a href="{{ blog.url }}" class="form__links">Back</a>
            </div>
          {%- endform -%}
        {%- endif -%}
      </div>
    </article>
  </div>
</div>
{% schema %}
  {
    "name": "Article",
    "class": "main__section",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_date",
        "label": "t:sections.main-article.settings.show_date.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_tags",
        "label": "t:sections.main-article.settings.show_tags.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_category",
        "label": "t:sections.main-article.settings.show_category.label",
        "info": "t:sections.main-article.settings.show_category.info",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "t:sections.main-article.settings.show_author.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_social_sharing",
        "label": "t:sections.main-article.settings.show_social_sharing.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_comments",
        "label": "t:sections.main-article.settings.show_comments.label",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.main-article.settings.header_spacing.label"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.main-article.settings.header_spacing.top_spacing.label",
        "default": 16
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.main-article.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ]
  }
{% endschema %}