{%- liquid
  assign show_date = section.settings.show_date
  assign show_tags = section.settings.show_tags
  assign show_comments = section.settings.show_comments
  assign show_category = section.settings.show_category
  assign show_social_sharing = section.settings.show_social_sharing
  assign show_author = section.settings.show_author
  assign articleImage = article.image
-%}
{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="main__section-{{ section.id }}">
  <div class="page__width">
    <article class="article__main--container">
      <div class="article__wrapper">
        <div class="article__type-date">
          {%- if show_category -%}
            <h4>{{ article.tags[0] }}</h4>
          {%- endif -%}
          {%- if show_date -%}
            <span class="article__date">
              {{ article.created_at | date: '%d %b %Y' }}
            </span>
          {%- endif -%}
        </div>
        {%- if show_author -%}
          <div class="article__author rte">{{ 'article.general.author' | t:author: article.author }}</div>
        {%- endif -%}
        <div class="main__heading article__title">
          <a href="{{ article.url }}" title="{{ article.title }}">
            <h2>{{ article.title }}</h2>
          </a>
        </div>
        {%- if show_tags -%}
          <ul class="tags__list">
            {%- for tag in article.tags limit: 3 -%}
              <li>{{ tag }}</li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        {%- if article.image -%}
          <div class="grid__item-image">
            <a
              href="{{ article.url }}"
              title="{{ article.title }}"
              aria-label="{{ article.title | escape }}"
              class="article__image">
              <div class="article_image-wrapper">
                <img style="aspect-ratio: {{ imageAspectRatio }};"src="{{ articleImage | img_url: default }}"srcset="
                    {{ articleImage | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                    {{ articleImage | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                    {{ articleImage | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                    {{ articleImage | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                    {{ articleImage | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
                    "
                    width="{{ articleImage.width }}"
                    height="{{ articleImage.height }}"
                    loading="{{ lazyloading }}"
                    sizes="{{ sizes }}"
                    alt="{{ articleImage.alt }}"
                  >
              </div>
            </a>
          </div>
        {%- endif -%}
        <div class="article__content rte">
          {{ article.content | strip_html }}
        </div>
      </div>
      {%- if show_social_sharing -%}
        <div class="article-social__sharing rte">
          <div>{{ 'article.general.sharing_socials_label' | t }}</div>
          <div class="social-sharing">
            <a class="icon" href="//www.facebook.com/sharer.php?u={{ shop.url | append: article.title }}" aria-label="{{ 'article.socials.facebook' | t }}" title="{{ 'article.socials.facebook' | t }}" rel="noopener" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17" viewBox="0 0 10 17" fill="none">
                <path d="M5.66022 9.88295V16.9997H2.56851V9.88295H0V6.99728H2.56851V5.94738C2.56851 2.04952 4.10842 0 7.36662 0C8.36548 0 8.61519 0.169745 9.16219 0.308056V3.16229C8.54979 3.04913 8.37737 2.98626 7.74119 2.98626C6.9861 2.98626 6.58179 3.21259 6.21317 3.65896C5.84454 4.10532 5.66022 4.87861 5.66022 5.9851V7.00357H9.16219L8.22278 9.88924H5.66022V9.88295Z" fill="currentcolor" fill-opacity="0.6"/>
              </svg>
              <span class="visually__hidden">{{ 'article.socials.facebook' | t }}</span>
            </a>
            <a class="icon" href="//www.twitter.com/sharer.php?u={{ shop.url | append: article.title }}" aria-label="{{ 'article.socials.facebook' | t }}" title="{{ 'article.socials.facebook' | t }}" rel="noopener" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16" fill="none">
                <path d="M19.1349 2.37475C18.4611 2.6846 17.7372 2.89396 16.9761 2.9886C17.7525 2.50623 18.3481 1.7408 18.6289 0.829654C17.9026 1.27685 17.098 1.60178 16.2417 1.77597C15.5558 1.01892 14.5793 0.544922 13.4978 0.544922C11.4222 0.544922 9.73869 2.29184 9.73869 4.44743C9.73869 4.75226 9.77259 5.04872 9.83554 5.33512C6.70992 5.17182 3.94101 3.61836 2.08646 1.25843C1.76365 1.83627 1.57803 2.50623 1.57803 3.21973C1.57803 4.57305 2.24221 5.76809 3.25019 6.46735C2.63362 6.44642 2.05418 6.27139 1.54736 5.97912V6.02937C1.54736 7.91948 2.84264 9.4964 4.56323 9.85482C4.24687 9.94359 3.91518 9.99049 3.573 9.99049C3.3309 9.99049 3.09444 9.96704 2.86524 9.92182C3.34381 11.4711 4.7319 12.6 6.37743 12.6301C5.09022 13.6769 3.4689 14.3008 1.70796 14.3008C1.40452 14.3008 1.10511 14.2824 0.810547 14.2464C2.47464 15.3543 4.45024 15.9992 6.57273 15.9992C13.489 15.9992 17.2699 10.055 17.2699 4.89965C17.2699 4.73216 17.2659 4.563 17.2586 4.39551C17.993 3.84447 18.6305 3.1586 19.1333 2.37726L19.1349 2.37475Z" fill="currentcolor" fill-opacity="0.6"/>
              </svg>
              <span class="visually__hidden">{{ 'article.socials.facebook' | t }}</span>
            </a> 
            <a class="icon" href="//www.pinterest.com/sharer.php?u={{ shop.url | append: article.title }}" aria-label="{{ 'article.socials.facebook' | t }}" title="{{ 'article.socials.facebook' | t }}" rel="noopener" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.88543 11.6182C6.38052 11.6355 6.82769 12.3473 8.13728 12.3473C10.5968 12.3647 12.2896 10.3162 12.8167 7.62546C14.6533 -1.69668 2.14831 -2.44315 0.87066 5.22983C0.567219 7.03523 1.06231 9.11839 2.35593 9.79542C3.3461 10.3162 3.40999 8.82328 3.10654 8.18097C1.76501 5.33399 3.37804 2.76475 5.48616 2.03565C7.46652 1.34126 8.87193 1.91413 9.94196 3.11195C11.3154 4.65696 10.6926 8.858 9.06358 10.1947C8.48864 10.6634 7.43458 10.7676 6.89158 10.2121C5.77363 9.08367 7.49846 6.68804 7.24293 4.93471C6.9874 3.19875 4.46405 3.45914 4.33628 6.01101C4.2724 7.31299 4.62375 7.6949 4.35225 8.99688C3.92104 11.08 2.61146 15.3332 3.53775 16.9997C4.89525 16.3053 5.56602 12.139 5.88543 11.6182Z" fill="currentcolor" fill-opacity="0.6"/>
              </svg>
              <span class="visually__hidden">{{ 'article.socials.facebook' | t }}</span>
            </a>
          </div>
        </div>
      {%- endif -%}
      {% paginate blog.articles by 1 %}
        {% if paginate.pages > 1 %}
          {% render 'pagination', paginate: paginate %}
        {% endif %}
      {% endpaginate %}
      <div class="article__form">
        {%- if show_comments -%}
          <div class="comments__wrapper">
            <h3 class="comments-form__heading">{{ 'article.comments.comments_count' | t:count: article.comments_count }}</h3>
            {%- if article.comments_count > 0 -%}
              {%- paginate article.comments by 50 %}
                {%- for comments in article.comments -%}
                  <div class="comment__item rte">
                    <div class="comments__header">
                      <h3>{{ comments.author }}</h3>
                      <div>{{ comments.created_at | date: '%B %d, %Y' }}</div>
                    </div>
                    <div>{{ comments.content }}</div>
                  </div>
                {%- endfor -%}
      
                {%- if paginate.pages > 1 -%}
                  {%- render 'pagination', paginate: paginate -%}
                {%- endif -%}
              {%- endpaginate -%}
            {%- else -%}
              <div class="rte">{{ 'article.comments.empty' | t }}</div>
            {%- endif -%}
          </div>
        {%- endif -%}
        {%- if article.comments_enabled? -%}
          {%- form 'new_comment', article -%}
            {{ form.errors | default_errors }}
            {%- if form.posted_successfully? -%}
              {% if blog.moderated? %}
                <div class="success__message">{{ 'article.comments.comment_sent' | t }}</div>
              {% else %}
                <div class="success__message">{{ 'article.comments.comment_published' | t }}</div>
              {% endif %}
            {%- endif -%}
            <h3 class="comments-form__heading">{{ 'article.comments.leave_comments' | t }}</h3>
            <div class="form__grid">
              <div class="form__group">
                <label class="form__label" for="name">{{ 'article.comments.name' | t }}</label>
                <input class="form__input" type="text" name="comment[author]" placeholder="{{ 'article.comments.name_placeholder' | t }}" id="name" value="{{ form.author }}">
              </div>
              <div class="form__group">
                <label class="form__label" for="email">{{ 'article.comments.email' | t }}</label>
                <input class="form__input" type="email" name="comment[email]" placeholder="{{ 'article.comments.email_placeholder' | t }}" id="email" value="{{ form.email }}">
              </div>
            </div>
            <div class="form__group">
              <label class="form__label" for="comment">{{ 'article.comments.message' | t }}</label>
              <textarea class="form__input" rows="5" name="comment[body]" placeholder="{{ 'article.comments.message_placeholder' | t }}" id="comment">{{ form.body }}</textarea>
            </div>
            <div class="text__center">
              <div class="comments-form__submit">
                <button class="btn btn__link btn__primary" type="submit">{{ 'article.comments.submit' | t }}</button>
              </div>
              <a href="{{ blog.url }}" class="form__links">{{ 'article.comments.back' | t }}</a>
            </div>
          {%- endform -%}
        {%- endif -%}
      </div>
    </article>
  </div>
</div>
{% schema %}
  {
    "name": "Article",
    "class": "main__section",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_date",
        "label": "t:sections.main-article.settings.show_date.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_tags",
        "label": "t:sections.main-article.settings.show_tags.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_category",
        "label": "t:sections.main-article.settings.show_category.label",
        "info": "t:sections.main-article.settings.show_category.info",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "t:sections.main-article.settings.show_author.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_social_sharing",
        "label": "t:sections.main-article.settings.show_social_sharing.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_comments",
        "label": "t:sections.main-article.settings.show_comments.label",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.main-article.settings.header_spacing.label"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.main-article.settings.header_spacing.top_spacing.label",
        "default": 16
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.main-article.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ]
  }
{% endschema %}