<div class="orders__wrapper">
  <div class="page__width">
    <div class="form__header account-form__header">
      <h2>{{ 'customers.order.title' | t: name: order.name }}</h2>
      <a class="btn btn__link btn__primary" href="{{ routes.account_url }}"title="{{ 'customers.order.return_url' | t }}">
        {{ 'customers.order.return_url' | t }}
      </a>
    </div>
    <orders-details id="ordersDetails">
      <div class="account-form__grid">
        <div class="form__grid-item orders__container">
          <div class="form__header">
            {%- assign order_date = order.created_at | time_tag: format: "date_at_time" -%}
            <h4>{{ 'customers.order.date_html' | t: date: order_date }}</h4>
            {% if order.cancelled %}
              <div class="errors">
                {%- assign cancelled_at = order.cancelled_at | time_tag: format: "date_at_time" -%}
                <p >{{ 'customers.order.cancelled_html' | t: date: cancelled_at }}</p>
                <p>{{ 'customers.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
              </div>
            {% endif %}
          </div>
          <table role="table" class="orders__table">
            <thead>
              <tr>
                <th>{{ 'customers.order.product' | t }}</th>
                <th>{{ 'customers.order.sku' | t }}</th>
                <th>{{ 'customers.order.price' | t }}</th>
                <th>{{ 'customers.order.quantity' | t }}</th>
                <th>{{ 'customers.order.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for line_item in order.line_items %}
                <tr>
                  <td><label class="label__hidden">{{ 'customers.order.product' | t }}</label>
                    {{ line_item.title | link_to: line_item.product.url }}
                    {%- assign property_size = line_item.properties | size -%}
                    {% unless line_item.selling_plan_allocation == nil and property_size == 0 %}
                      <div>
                        {% unless line_item.selling_plan_allocation == nil %}
                          {{ line_item.selling_plan_allocation.selling_plan.name }}
                        {% endunless %}
                        {% if property_size != 0 %}
                          {% for property in line_item.properties %}
                            {% assign property_first_char = property.first | slice: 0 %}
                            {% if property.last != blank and property_first_char != '_' %}
                              <div class="cart__item-property">
                                {{ property.first }}:
                                {% if property.last contains '/uploads/' %}
                                  <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                                {% else %}
                                  {{ property.last }}
                                {% endif %}
                              </div>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      </div>
                    {% endunless %}
                    {%- if line_item.line_level_discount_allocations != blank -%}
                      {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                        <div class="cart__discount">
                          {{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})
                        </div>
                      {%- endfor -%}
                    {%- endif -%}
                    {% if line_item.fulfillment %}
                      <div class="note">
                        {%- assign created_at = line_item.fulfillment.created_at | time_tag: format: 'date' -%}
                        {{ 'customers.order.fulfilled_html' | t: date: created_at }}
                        {% if line_item.fulfillment.tracking_number %}
                          <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                        {% endif %}
                      </div>
                    {% endif %}
                  </td>
                  <td><label class="label__hidden">{{ 'customers.order.sku' | t }}</label><span>{{ line_item.sku }}</span></td>
                  <td><label class="label__hidden">{{ 'customers.order.price' | t }}</label>
                    {%- if line_item.original_price != line_item.final_price -%}
                      <span class="visually__hidden">{{ 'products.price.regular_price' | t }}</span>
                      <span class="item__price price__strike">{{ line_item.original_price | money }}</span>
                      <span class="visually__hidden">{{ 'products.price.sale_price' | t }}</span>
                      <span class="item__price">{{ line_item.final_price | money }}</span>
                    {%- else -%}
                      <span class="item__price">{{ line_item.original_price | money }}</span>
                    {%- endif -%}
      
                    {%- if line_item.unit_price_measurement -%}
                      {%- capture unit_price_base_unit -%}
                        <span>
                          {%- if line_item.unit_price_measurement -%}
                            {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                              {{ line_item.unit_price_measurement.reference_value }}
                            {%- endif -%}
                            {{ line_item.unit_price_measurement.reference_unit }}
                          {%- endif -%}
                        </span>
                      {%- endcapture -%}
      
                      <div class="cart__unit-price">{{ line_item.unit_price | money }}/{{ unit_price_base_unit }}</div>
                    {%- endif -%}
                  </td>
                  <td><label class="label__hidden">{{ 'customers.order.quantity' | t }}</label><span>{{ line_item.quantity }}</span></td>
                  <td><label class="label__hidden">{{ 'customers.order.total' | t }}</label>
                    {%- if line_item.original_line_price != line_item.final_line_price -%}
                      <span class="visually__hidden">{{ 'products.price.regular_price' | t }}</span>
                      <span class="item__price price__strike">{{ line_item.original_line_price | money }}</span>
                      <span class="visually__hidden">{{ 'products.price.sale_price' | t }}</span>
                      <span class="item__price">{{ line_item.final_line_price | money }}</span>
                    {%- else -%}
                      <span class="item__price">{{ line_item.original_line_price | money }}</span>
                    {%- endif -%}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4" class="mobile__hidden text-left">{{ 'customers.order.subtotal' | t }}</td>
                <td><label class="label__hidden">{{ 'customers.order.subtotal' | t }}</label>{{ order.line_items_subtotal_price | money }}</td>
              </tr>
              {%- if order.cart_level_discount_applications != blank -%}
                <tr>
                  {%- for discount_application in order.cart_level_discount_applications -%}
                    <th scope="row" colspan="4" class="small--hide">
                      {{ 'customers.order.discount' | t }} | {{ discount_application.title }}
                    </th>
                    <td class="text-right" data-label="{{ 'customers.order.discount' | t }}">
                      <div class="cart__discount">
                        <span class="medium-up--hide">
                          {{ discount_application.title }}
                        </span>
                        <span class="cart__discount">-{{ discount_application.total_allocated_amount | money }}</span>
                      </div>
                    </td>
                  {%- endfor -%}
                </tr>
              {%- endif -%}
              {% for shipping_method in order.shipping_methods %}
                <tr>
                  <td colspan="4" class="mobile__hidden text-left">{{ 'customers.order.shipping' | t }} ({{ shipping_method.title }})</td>
                  <td><label class="label__hidden">{{ 'customers.order.shipping' | t }}</label>{{ shipping_method.price | money }}</td>
                </tr>
              {% endfor %}
              {% for tax_line in order.tax_lines %}
                <tr>
                  <td colspan="4" class="mobile__hidden text-left">{{ 'customers.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                  <td><label class="label__hidden">{{ 'customers.order.tax' | t }}</label>{{ tax_line.price | money }}</td>
                </tr>
              {% endfor %}
              <tr>
                <td colspan="4" class="mobile__hidden text-left">{{ 'customers.order.total' | t }}</td>
                <td><label class="label__hidden">{{ 'customers.order.total' | t }}</label>{{ order.total_price | money }} {{ order.currency }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="form__grid-item form__addresses-container">
          <div class="billing__address">
            <div class="form__header">
              <h4>{{ 'customers.order.billing_address' | t }}</h4>
              <p>{{ 'customers.order.payment_status_html' | t: status: order.financial_status_label }}</p>
            </div>
            <div class="customer__header">{{ order.billing_address.name }}</div>
           <div class="rte">
             {% if order.billing_address.company != blank %}
              {{ order.billing_address.company }}<br>
             {% endif %}
             {{ order.billing_address.street }}<br>
             {{ order.billing_address.city }}<br>
             {% if order.billing_address.province != blank %}
              {{ order.billing_address.province }}<br>
             {% endif %}
             {{ order.billing_address.zip | upcase }}<br>
             {{ order.billing_address.country }}<br>
             {{ order.billing_address.phone }}
           </div>
          </div>
          <hr class="line-gap">
          <div class="shipping__address">
            <div class="form__header">
              <h4>{{ 'customers.order.shipping_address' | t }}</h4>
              <p>{{ 'customers.order.fulfillment_status_html' | t: status: order.fulfillment_status_label }}</p>
            </div>
            <div class="customer__header">{{ order.shipping_address.name }}</div>
           <div class="rte">
            {% if order.shipping_address.company != blank %}
              {{ order.shipping_address.company }}<br>
            {% endif %}
            {{ order.shipping_address.street }}<br>
            {{ order.shipping_address.city }}<br>
            {% if order.shipping_address.province != blank %}
              {{ order.shipping_address.province }}<br>
            {% endif %}
            {{ order.shipping_address.zip | upcase }}<br>
            {{ order.shipping_address.country }}<br>
            {{ order.shipping_address.phone }}
           </div>
          </div>
        </div>
      </div>
    </orders-details>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.customer-order.name",
    "class": "customer__forms"
  }
{% endschema %}