<div class="login__wrapper">
  <div class="page__width">
    <div class="scroll__animate customer-form__container">
      <div id="loginForm">
        <div class="form__header">
          <h4>{{ 'customers.login.title' | t }}</h4>
        </div>
        <div class="form__content">
          {%- form 'customer_login' -%}
            {{ form.errors | default_errors }}
            <div class="form__group">
              <label for="email[login]" class="form__label">{{ 'customers.login.email' | t }}</label>
              <input type="email" id="email[login]" name="customer[email]" class="form__input" required aria-label="{{ 'customers.login.email' | t }}" autofocus autocomplete autocapitalize="off">
            </div>
            <div class="form__group password__group">
              <label for="password" class="form__label">{{ 'customers.login.password' | t }}</label>
              <input type="password" id="password" name="customer[password]" class="form__input" required>
              <span class="password__toggle-btn password__show-btn">{{ 'customers.login.show_password' | t }}</span>
              <span class="password__toggle-btn password__hide-btn hidden">{{ 'customers.login.hide_password' | t }}</span>
            </div>
            <div class="form__submit">
              <button type="submit" class="btn btn__link btn__primary" aria-label="{{ 'customers.login.submit' | t }}">{{ 'customers.login.submit' | t }}</button>
            </div>
            <div class="form__links-container">
              <a class="form__links forget-password__btn" href="#" title="{{ 'customers.login.forget_password' | t }}">{{ 'customers.login.forget_password' | t }}</a>
              <a class="form__links" href="{{ routes.account_register_url }}" title="{{ 'customers.login.create_account' | t }}">{{ 'customers.login.create_account' | t }}</a>
            </div>
          {%- endform -%}
        </div>
      </div>
      <div id="recoverPasswordForm" class="hidden" data-form>
        <div class="form__header">
          <h4>{{ 'customers.recover_password.title' | t }}</h4>
        </div>
        <div class="form__header_text rte">
          {{ 'customers.recover_password.sub_text' | t }}
        </div>
        <div class="form__content">
          {% form 'recover_customer_password' %}
            {%- if form.posted_successfully? -%}
              <p class="success__message">{{ 'customers.recover_password.success_mesage' | t }}</p>
            {%- endif -%}
            {{ form.errors | default_errors }}
            <div class="form__group">
              <label for="email[recover]" class="form__label">{{ 'customers.recover_password.email' | t }}</label>
              <input type="email" id="email[recover]" name="customer[email]" class="form__input" required aria-label="{{ 'customers.recover_password.email' | t }}" autofocus autocomplete autocapitalize="off">
            </div>
            <div class="form__submit">
              <button type="submit" class="btn btn__link btn__primary" aria-label="{{ 'customers.recover_password.submit' | t }}">{{ 'customers.recover_password.submit' | t }}</button>
            </div>
            <div class="text__center">
              <a class="form__links back__btn" href="#" title="{{ 'customers.recover_password.cancel' | t }}">{{ 'customers.recover_password.cancel' | t }}</a>
            </div>
          {% endform %}
        </div>
      </div>
      {%- if shop.checkout.guest_login -%}
        <div id="guestLoginForm">
          <div class="form__header">
            <h4>{{ 'customers.login.guest_title' | t }}</h4>
          </div>
          <div class="form__content">
            {%- form 'guest_login' -%}
              <div class="form__submit">
                <button type="submit" class="btn btn__link btn__primary" aria-label="{{ 'customers.login.guest_submit' | t }}">{{ 'customers.login.guest_submit' | t }}</button>
              </div>
            {%- endform -%}
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.customer-login.name",
    "class": "customer__forms"
  }
{% endschema %}