{%- liquid
  assign show_filtering =  section.settings.show_filtering
  assign show_sorting =  section.settings.show_sorting
  assign show_collection_count = section.settings.show_collection_count
  assign show_breadcrumbs = settings.show_breadcrumbs
  assign results_per_row = section.settings.results_per_row
  assign results_to_show = section.settings.results_to_show
  case results_per_row   
  when 1
    assign itemWidth = ''
  when 2
    assign itemWidth = 'block__item--half'
  when 3
    assign itemWidth = 'block__item--auto block__item--one-third'
  when 4
    assign itemWidth = 'block__item--auto block__item--one-fourth'
  when 5
    assign itemWidth = 'block__item--auto block__item--one-fifth'
  endcase

  assign lazyloading = ''
  assign lazyloadImages = section.settings.lazyload_images
  if lazyloadImages
    assign lazyloading = 'lazy'
  endif

  assign filter_drawer_position = 'left'
  assign textDirection = settings.text_direction
  if textDirection == 'rtl'
    assign filter_drawer_position = 'right'
  endif

  assign ratio = 0.75
  assign default = 'grande'
  assign sizes = '(min-width: 1200px) 650px, 45vw'

  assign selectedImageSize = settings.image_size
  assign imageAspectRatio = "0"
  case selectedImageSize
  when 'natural'
  assign imageAspectRatio = "0"
  when 'square'
  assign imageAspectRatio = "1/1"
  when 'portrait'
  assign imageAspectRatio = "2/3"
  when 'landscape'
  assign imageAspectRatio = "4/3"
  when 'wide'
  assign imageAspectRatio = "16/9"
  endcase
-%}
{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="main-section__wrapper main__section-{{ section.id }}">
  <div class="page__width">
    {%- render 'loader' -%}
    {%- if show_breadcrumbs -%}
      {%- render 'breadcrumbs' -%}
    {%- endif -%}
    <div class="search__form">
      <form class="search-form__flex" action="{{ routes.search_url }}">
        <input class="form__input" type="text" placeholder="{{ 'search.general.search_placeholder' | t }}" name="q" value="{{ search.terms | escape }}">
        <button class="btn btn__link btn__primary" type="submit" aria-label="{{ 'search.general.submit' | t }}">{{ 'search.general.submit' | t }}</button>
      </form>
    </div>
    <div class="search__results">
      {%- if search.performed -%}
        {%- if search.results_count != 0 -%}
          <div class="catalog__wrapper">
            {%- if show_filtering -%}
              <div class="catalog-filter__block">
                <div class="filter-drawer filter-drawer__{{ filter_drawer_position }}">
                  <div class="filter-drawer__box">
                    <div class="drawer__header filter-drawer__header">
                      <div class="drawer__title">{{ 'collections.general.filter_drawer' | t }}</div>
                      <button class="drawer-icon__close filter-icon__close">
                        {%- render 'icon-close' -%}
                      </button>
                    </div>
                    {%- render 'filter-facets', filters: search.filters -%}
                    <div class="drawer__header filter-drawer__header">
                      <div class="drawer__title">{{ 'collections.general.sort_drawer' | t }}</div>
                    </div>
                    {%- if show_sorting -%}
                      <div class="catalog-sorting__drawer filter-drawer__header">
                        <select id="sort-by">
                          {%- assign sort_by = search.sort_by | default: search.default_sort_by -%}
                          {%- for option in search.sort_options -%}
                            <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>
                              {{ option.name }}
                            </option>
                          {%- endfor -%}
                        </select>
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            {%- endif -%} 
            <div class="catalog__content {% if show_filtering %}catalog-list__banner{% endif %}">
                <div class="catalog__header">
                  <div class="catalog-title__container">
                    {%- if search.results_count != 0 -%}
                      <div class="rte search-results__query">{{ 'search.general.search_results' | t: count: search.results_count, search_term: search.terms }}</div>
                    {%- endif -%}
                </div>
                <div class="catalog-sorting__container">
                  {%- if show_collection_count -%}
                    <div class="catalog-product__count">
                      {{ 'collections.general.products_count' | t: products_count:search.results_count }}
                    </div>
                  {%- endif -%}
                  {%- if show_sorting -%}
                  <div class="catalog__sorting">
                    <select id="sort-by">
                      {%- assign sort_by = search.sort_by | default: search.default_sort_by -%}
                      {%- for option in search.sort_options -%}
                        <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>
                          {{ option.name }}
                        </option>
                      {%- endfor -%}
                    </select>
                  </div>
                  {%- endif -%}
                </div>
                <div class="catalog-sorting__btn">
                  <button class="filter__btn" aria-label="Filter/Sort">
                    {%- render 'icon-filter' -%}
                    {{ 'collections.general.fiter_collection' | t }}
                  </button>
                </div>
              </div>
              {%- assign filters = search.filters -%}
              {%- if show_filtering and filters.size > 0 -%}
                
                <div class="active-filters">
                  {% comment %}
                  <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="active-filters__clear">Clear all</a>
                  {% endcomment %}
                  {%- for filter in filters -%}
                    {%- if filter.type == "price_range" -%}
                      {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                        {%- assign min_value = filter.min_value.value | default: 0 -%}
                        {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                        <a class="active-filters__remove-filter" data-filter-name="{{ filter.label }}" data-filter-value="{{ min_value | money }} - {{ max_value | money }}" href="{{ filter.url_to_remove }}">
                          {{ min_value | money }} - {{ max_value | money }} X
                        </a>
                      {%- endif -%}
                    {%- else -%}
                      {%- for filter_value in filter.active_values -%}
                        <a class="active-filters__remove-filter" data-filter-name="{{ filter.label }}" data-filter-value="{{ filter_value.label }}" href="{{ filter_value.url_to_remove }}">
                          {{ filter.label }}: {{ filter_value.label }} X
                        </a>
                      {%- endfor -%}
                    {%- endif -%}
                  {%- endfor -%}
                </div>
              {%- endif -%}
              {%- paginate search.results by results_to_show -%}
                <div class="collection-grid">
                  {%- for result in search.results -%}
                    {%- if result.object_type == 'product' -%}
                      {%- render 'product-item',
                        section: section,
                        textAlignment: section.settings.text_alignment,
                        products_per_row: section.settings.results_per_row,
                        product: result,
                        collection: search,
                        lazyloadImages: section.settings.lazyload_images
                      -%}
                     {%- elsif result.object_type == 'page' -%}
                      <div class="collection-grid__item {{ itemWidth }} {% if stackProduct == false %}list-scroller__item{% endif %}">
                        <div class="search-result__page">
                          <a href="{{ result.url }}" title="{{ result.title }}">{{ result.title }}</a>
                        </div>
                      </div>
                    {%- elsif result.object_type == 'article' %}
                      <div class="collection-grid__item {{ itemWidth }} {% if stackProduct == false %}list-scroller__item{% endif %}">
                        <div class="search-result__article">
                          <a href="{{ result.url }}" title="{{ result.title }}">
                            {%- if result.image -%}
                              <img style="aspect-ratio: {{ imageAspectRatio }};" src="{{ result | img_url: default }}"
                                srcset="
                                    {{ result | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                                    {{ result | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                                    {{ result | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                                    {{ result | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                                    {{ result | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
                                "
                                width="{{ result.width }}"
                                height="{{ result.height }}"
                                loading="{{ lazyloading }}"
                                sizes="{{ sizes }}"
                                alt="{{ result.alt }}" />
                            {%- endif %}
                            <span>{{ result.title }}</span>
                          </a>
                        </div>
                      </div>
                    {%- endif -%}
                  {%- endfor -%}
                  {%- if collection.products_count == 0 -%}
                    <div class="empty-products__message">
                      <h2>{{ 'collections.general.empty_collection_message' | t }}</h2>
                      <a class="btn btn__link btn__outline" href="{{ collection.url }}" title="{{ 'collections.general.remove_filters' | t }}">{{ 'collections.general.remove_filters' | t }}</a>
                    </div>
                  {%- endif -%}
                </div>
                {%- if paginate.pages > 1 -%}
                  {%- render 'pagination', paginate: paginate, collection: search -%}
                {%- endif -%}
              {%- endpaginate -%}
            </div>
          </div>
        {%- else -%}
          <div class="search-no__results text__center">{{ 'search.general.no_results' | t:search_term: search.terms }}</div>
        {%- endif -%}
      {%- endif -%}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.main-search.name",
    "settings": [
      {
        "type": "range",
        "id": "results_to_show",
        "label": "t:sections.main-search.settings.results_to_show.label",
        "min": 8,
        "max": 50,
        "default": 12,
        "step": 1
      },
      {
        "type": "range",
        "id": "results_per_row",
        "label": "t:sections.main-search.settings.results_per_row.label",
        "min": 2,
        "max": 5,
        "default": 4,
        "step": 1
      },
      {
        "type": "header",
        "content": "t:sections.main-search.settings.header_sorting.label"
      },
      {
        "type": "checkbox",
        "id": "show_sorting",
        "label": "t:sections.main-search.settings.header_sorting.show_sorting.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_filtering",
        "label": "t:sections.main-search.settings.header_sorting.show_filtering.label",
        "info": "t:sections.main-search.settings.header_sorting.show_filtering.info",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_collection_count",
        "label": "t:sections.main-search.settings.header_sorting.show_collection_count.label",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.main-search.settings.header_alignment.label"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.main-search.settings.header_alignment.alignment.label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.main-search.settings.header_alignment.alignment.options.left.label"
          }, {
            "value": "center",
            "label": "t:sections.main-search.settings.header_alignment.alignment.options.center.label"
          }, {
            "value": "right",
            "label": "t:sections.main-search.settings.header_alignment.alignment.options.right.label"
          }
        ],
        "default": "center"
      },
      {
        "type": "checkbox",
        "id": "lazyload_images",
        "label": "t:sections.main-search.settings.lazyload_images.label",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.main-search.settings.header_spacing.label"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.main-search.settings.header_spacing.top_spacing.label",
        "default": 16
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.main-search.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ]
  }
{% endschema %}