<div class="marquee-text">
  <div class="marquee-text__inner">
    {% for block in section.blocks %}
      {% style %}
        .marquee-text__item {
          background: #111111;
          background: {{ block.settings.marquee_background }};
        }
        .marquee-item-{{ block.id }} h3 {
          font-size: {{ block.settings.marquee_text_size }}px;
          line-height: 2em;
        }
        --marquee_speed: {{ block.settings.marquee_text_speed }}s;
      {% endstyle %}
      {% if block.settings.marquee_text_link != blank %}
        <a href="{{ block.settings.marquee_text_link }}">
        {% endif %}
        <div class="marquee-text__item marquee-item-{{ block.id }} marquee-text-{{ block.settings.marquee_direction }}" {{ block.shopify_attributes }}>
          {% for i in (1..30) %}
            <h3><span>{{ block.settings.marquee_text }}</span></h3>
          {% endfor %}
        </div>
        {% if block.settings.marquee_text_link != blank %}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.marquee-text.name",
    "class": "main__section",
    "settings": [],
    "blocks": [
      {
        "type": "marquee",
        "name": "t:sections.marquee-text.blocks.marquee.name",
        "settings": [
          {
            "type": "text",
            "id": "marquee_text",
            "label": "t:sections.marquee-text.blocks.marquee.settings.marquee_text.label",
            "default": "Marquee Text"
          },
          {
            "type": "url",
            "id": "marquee_text_link",
            "label": "t:sections.marquee-text.blocks.marquee.settings.marquee_text_link.label"
          },
          {
            "type": "range",
            "id": "marquee_text_size",
            "label": "t:sections.marquee-text.blocks.marquee.settings.marquee_text_size.label",
            "min": 20,
            "max": 100,
            "step": 1,
            "default": 30,
            "unit": "px"
          },
          {
            "type": "select",
            "id": "marquee_direction",
            "label": "t:sections.marquee-text.blocks.marquee.settings.marquee_text_direction.label",
            "options": [
              {
                "value": "left",
                "label": "t:sections.marquee-text.blocks.marquee.settings.marquee_text_direction.options.left.label"
              }, {
                "value": "right",
                "label": "t:sections.marquee-text.blocks.marquee.settings.marquee_text_direction.options.right.label"
              }
            ],
            "default": "left"
          }, {
            "type": "range",
            "id": "marquee_text_speed",
            "label": "t:sections.marquee-text.blocks.marquee.settings.marquee_text_speed.label",
            "min": 50,
            "max": 500,
            "step": 10,
            "default": 100,
            "unit": "s"
          }, {
            "type": "color",
            "id": "marquee_background",
            "label": "t:sections.marquee-text.blocks.marquee.settings.marquee_background_color.label",
            "default": "#111111"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.marquee-text.presets.name",
        "blocks": [
          {
            "type": "marquee"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}