{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  .main__section-{{ section.id }} .newsletter__banner {
    background: {{ section.settings.newsletter_background }};
    color: {{ section.settings.newsletter_text }};
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="newsletter__main-wrapper main__section-{{ section.id }}">
  <div class="newsletter__banner">
    <div class="page__width">
      <div class="newsletter__content text__align-{{ section.settings.text_alignment }}">
        <div class="newsletter__block main__heading newsletter__heading">
          <h2>{{ section.settings.newsletter_heading }}</h2>
        </div>
        <div class="newsletter__block newsletter__form">
          {%- render 'newsletter-form', section: section -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.newsletter.name",
    "class": "main__section",
    "settings": [
      {
        "type": "text",
        "id": "newsletter_heading",
        "label": "t:sections.newsletter.settings.newsletter_heading.label",
        "default": "Newsletter"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "t:sections.newsletter.settings.newsletter_button_label.label",
        "default": "Button"
      },
      {
        "type": "header",
        "content": "t:sections.newsletter.settings.header_alignment.label"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.newsletter.settings.header_alignment.alignment.label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.newsletter.settings.header_alignment.alignment.options.left.label"
          }, {
            "value": "center",
            "label": "t:sections.newsletter.settings.header_alignment.alignment.options.center.label"
          }, {
            "value": "right",
            "label": "t:sections.newsletter.settings.header_alignment.alignment.options.right.label"
          }
        ],
        "default": "center"
      },
      {
        "type": "color",
        "id": "newsletter_background",
        "label": "t:sections.newsletter.settings.newsletter_background_color.label",
        "default": "#000000"
      }, {
        "type": "color",
        "id": "newsletter_text",
        "label": "t:sections.newsletter.settings.newsletter_text_color.label",
        "default": "#ffffff"
      }, {
        "type": "header",
        "content": "t:sections.newsletter.settings.header_spacing.label"
      }, {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.newsletter.settings.header_spacing.top_spacing.label",
        "default": 16
      }, {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.newsletter.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ],
    "presets": [
      {
        "name": "t:sections.newsletter.presets.name"
      }
    ]
  }
{% endschema %}