<header class="section__header password__header">
  <div class="page__width">
    <div class="header__wrapper">
      {%- liquid
        assign logo = section.settings.header_logo
        assign desktop_logo_width = section.settings.desktop_logo_width
        assign mobile_logo_width = section.settings.mobile_logo_width
      -%}
      {%- style -%}
      .header__logo{
        width: {{ mobile_logo_width }}px;
        flex: 0 0 {{ mobile_logo_width }}px;
      }
      .site__logo-image {
        width: {{ mobile_logo_width }}px;
      }
      @media only screen and (min-width: 769px) {
        .header__logo{
          width: {{ desktop_logo_width }}px;
          flex: 0 0 {{ desktop_logo_width }}px
        }
        .site__logo-image {
          width: {{ desktop_logo_width }}px;
        }
      }
    {%- endstyle -%}
    {%- capture header_logo -%}
        <h1 class="site__logo">
          <a href="{{ routes.root_url }}" title="{{ shop.name }}" aria-label="{{ shop.name }}">
            {% if logo != blank %}
              {{ logo | image_url: width: logo.width, height: logo.height | image_tag: class: "site__logo-image" }}
            {%- else -%}
              <span>{{ shop.name }}</span>
            {% endif %}
          </a>
        </h1>
    {%- endcapture -%}
      <div class="header__block header__logo">
        {{ header_logo }}
      </div>
    </div>
  </div>
</header>
{% schema %}
  {
    "name": "t:sections.password-header.name",
    "settings": [
      {
        "type": "select",
        "id": "header_layout",
        "label": "Layout",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ],
        "default": "left"
      },
      {
        "type": "image_picker",
        "id": "header_logo",
        "label": "t:sections.header.blocks.logo.settings.header_logo.logo.label"
      }, 
      {
        "type": "range",
        "id": "desktop_logo_width",
        "label": "t:sections.header.blocks.logo.settings.header_logo.desktop_logo_width.label",
        "min": 50,
        "max": 350,
        "step": 10,
        "unit": "px",
        "default": 100
      }, 
      {
        "type": "range",
        "id": "mobile_logo_width",
        "label": "t:sections.header.blocks.logo.settings.header_logo.mobile_logo_width.label",
        "min": 20,
        "max": 200,
        "step": 10,
        "unit": "px",
        "default": 100
      }
    ]
  }
{% endschema %}