{%- liquid
  assign section_heading = section.settings.posts_main_heading
  assign section_text = section.settings.posts_main_text
  assign posts_to_show = section.settings.posts_to_show
  assign image_size = section.settings.post_image_size
  assign show_date = section.settings.show_date
  assign show_tags = section.settings.show_tags
  assign show_view_all = section.settings.show_view_all_btn
  assign show_category = section.settings.show_category
  
  assign lazyloading = ''
  assign lazyloadImages = section.settings.lazyload_images
  if lazyloadImages
  assign lazyloading = 'lazy'
  endif
  
  assign selectedImageSize = image_size
  assign imageAspectRatio = "0"
  case selectedImageSize
  when 'natural'
  assign imageAspectRatio = "0"
  when 'square'
  assign imageAspectRatio = "1/1"
  when 'portrait'
  assign imageAspectRatio = "2/3"
  when 'landscape'
  assign imageAspectRatio = "4/3"
  when 'wide'
  assign imageAspectRatio = "16/9"
  endcase
-%}
{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
{%- liquid
   assign blog = blogs[section.settings.blog] 
-%}
<div class="blog-post__wrapper main__section-{{ section.id }}">
  <div class="page__width">
    <div class="blog-post__content">
      <header class="blog-post__header text__align-{{ section.settings.text_alignment }}">
        {%- if section_heading != blank -%}
          <div class="main__heading blog-post__heading">
            <h2>{{ section_heading }}</h2>
          </div>
        {%- endif -%}
        {%- if section_text != blank -%}
          <div class="blog__text rte">
            {{ section_text }}
          </div>
        {%- endif -%}
      </header>
      {%- unless blog.empty? or blog.articles.size == 0 -%}
        <div class="scroll__animate blog__grid">
          {%- for article in blog.articles limit: posts_to_show -%}
            {%- render 'article-item',
              article: article,
              blog: blog,
              imageAspectRatio: imageAspectRatio,
              show_date: show_date,
              show_tags: show_tags,
              show_category: show_category,
              lazyloading: lazyloading
            -%}
          {%- endfor -%}

        </div>
      {%- else -%}
        <div class="blog__grid">
          {%- for i in (1..posts_to_show) -%}
            <div class="grid__item">
              <div class="article__grid ">
                <div class="article-grid__item">
                  <div class="grid__item-image">
                    <a href="#" class="article__image" style="aspect-ratio: {{ imageAspectRatio }};">
                      {{ 'image' | placeholder_svg_tag: "placeholder__image article__placeholder" }}
                    </a>
                  </div>
                  <div class="grid__item-text">
                    <div class="article__type-date">
                      {% if show_category %}
                        <h4>{{ 'blogs.article.tag' | t }}</h4>
                      {% endif %}
                      {%- if show_date -%}
                        <span class="article__date">
                          {{ 'blogs.article.date' | t }}
                        </span>
                        {%- endif -%}
                    </div>
                    <div class="main__heading article__title">
                      <h3>{{ 'blogs.article.title' | t }}</h3>
                    </div>
                    <div class="article__content rte">
                      {{ 'blogs.article.content' | t }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
      {%- endunless -%}
      {%- if show_view_all and blog.articles.size > posts_to_show -%}
        <div class="button__wrapper">
          <div class="view__all-btn">
            <a class="btn btn__primary btn__link" href="{{ blog.url }}" title="{{ 'blogs.article.view_all_text' | t }}">{{ 'blogs.article.view_all_text' | t }}</a>
          </div>
        </div>
      {%- endif -%}

    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.blog-posts.name",
    "class": "main__section",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.newsletter.settings.header_alignment.label"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.blog-posts.settings.header_alignment.alignment.label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.blog-posts.settings.header_alignment.alignment.options.left.label"
          },
          {
            "value": "center",
            "label": "t:sections.blog-posts.settings.header_alignment.alignment.options.center.label"
          },
          {
            "value": "right",
            "label": "t:sections.blog-posts.settings.header_alignment.alignment.options.right.label"
          }
        ],
        "default": "center"
      },
      {
        "type": "text",
        "id": "posts_main_heading",
        "label": "t:sections.blog-posts.settings.posts_heading.label",
        "default": "Blog Posts"
      },
      {
        "type": "textarea",
        "id": "posts_main_text",
        "label": "t:sections.blog-posts.settings.posts_text.label",
        "default": "Blog Post Text"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "t:sections.blog-posts.settings.blog.label"
      },
      {
        "type": "range",
        "id": "posts_to_show",
        "label": "t:sections.blog-posts.settings.posts_to_show.label",
        "min": 3,
        "max": 12,
        "step": 3,
        "default": 3
      },
      {
        "type": "checkbox",
        "id": "show_date",
        "label": "t:sections.blog-posts.settings.show_date.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_tags",
        "label": "t:sections.blog-posts.settings.show_tags.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_category",
        "label": "t:sections.blog-posts.settings.show_category.label",
        "info": "t:sections.blog-posts.settings.show_category.info",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_view_all_btn",
        "label": "t:sections.blog-posts.settings.show_view_all_btn.label",
        "default": false,
        "info": "t:sections.blog-posts.settings.show_view_all_btn.info"
      },
      {
        "type": "select",
        "id": "post_image_size",
        "label": "t:sections.blog-posts.settings.post_image_size.label",
        "options": [
          {
            "value": "natural",
            "label": "t:sections.blog-posts.settings.post_image_size.options.natural.label"
          },
          {
            "value": "square",
            "label": "t:sections.blog-posts.settings.post_image_size.options.square.label"
          },
          {
            "value": "portrait",
            "label": "t:sections.blog-posts.settings.post_image_size.options.portrait.label"
          },
          {
            "value": "landscape",
            "label": "t:sections.blog-posts.settings.post_image_size.options.landscape.label"
          }, {
            "value": "wide",
            "label": "t:sections.blog-posts.settings.post_image_size.options.wide.label"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "lazyload_images",
        "label": "t:sections.blog-posts.settings.lazyload_images.label",
        "default": false,
        "info": "t:sections.blog-posts.settings.lazyload_images.info"
      },
      {
        "type": "header",
        "content": "t:sections.blog-posts.settings.header_spacing.label"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.blog-posts.settings.header_spacing.top_spacing.label",
        "default": 16
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.blog-posts.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ],
    "presets": [
      {
        "name": "t:sections.blog-posts.presets.name"
      }
    ],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}