{%- liquid
   assign lazyloading = ''
   assign lazyloadImages = section.settings.lazyload_images
   if lazyloadImages
     assign lazyloading = 'lazy'
   endif
-%}
{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="promotional__wrapper main__section-{{ section.id }}">
  <div class="promotional-grid" data-aos="fade-up">
    {%- for block in section.blocks -%}
      {%- style -%}
        {%- liquid
           assign bannerBackgroundColor = block.settings.banner_background_color
           assign promoBackgroundColor = block.settings.promo_background_color
           assign collectionBackgroundColor = block.settings.collection_background_color
        -%}
        .promotional-item-{{ block.id }} .promotional-banner__wrapper {
          background: #9d1339;
          background: {{ bannerBackgroundColor }};
        }

        .promotional-item-{{ block.id }} .promo-product__wrapper {
          background: #F1F3F4;
          background: {{ promoBackgroundColor }};
        }

        .promotional-item-{{ block.id }} .promo-collection__wrapper {
          background: #F1F3F4;
          background: {{ collectionBackgroundColor }};
        }
        
      {%- endstyle -%}
      <div class="promotional-grid__item promotional-item-{{ block.id }}">
        {%- case block.type -%}
          {%- when 'banner' -%}
            {%- if block.type == 'banner' -%}
              {%- render 'promo-banner',
                 block: block,
                 bannerBackgroundColor: bannerBackgroundColor
              -%}
            {%- endif -%}
          {%- when 'product' -%}
            {%- if block.type == 'product' -%}
              {%- render 'promo-product-block',
                 block: block,
                 promoBackgroundColor: promoBackgroundColor,
                 lazyloading: lazyloading
              -%}
            {%- endif -%}
          {%- when 'collection' -%}
            {%- if block.type == 'collection' -%}
              {%- render 'promo-collection-block',
                 block: block,
                 collectionBackgroundColor: collectionBackgroundColor,
                 lazyloading: lazyloading
              -%}
            {%- endif -%}
        {%- endcase -%}
      </div>
    {%- endfor -%}
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.promotional-grid.name",
    "class": "main__section",
    "settings": [
      {
        "type": "checkbox",
        "id": "lazyload_images",
        "label": "t:sections.promotional-grid.settings.lazyload_images.label",
        "default": false,
        "info": "t:sections.promotional-grid.settings.lazyload_images.info"
      },
      {
        "type": "header",
        "content": "t:sections.promotional-grid.settings.header_spacing.label"
      }, {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.promotional-grid.settings.header_spacing.top_spacing.label",
        "default": 16
      }, {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.promotional-grid.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ],
    "blocks": [
      {
        "type": "banner",
        "name": "t:sections.promotional-grid.blocks.banner.name",
        "settings": [
          {
            "type": "text",
            "id": "banner_heading",
            "label": "t:sections.promotional-grid.blocks.banner.settings.banner_heading.label",
            "default": "Banner Promotion"
          },
          {
            "type": "textarea",
            "id": "banner_text",
            "label": "t:sections.promotional-grid.blocks.banner.settings.banner_text.label",
            "default": "Welcome to Our Shop"
          },
          {
            "type": "header",
            "content": "t:sections.promotional-grid.blocks.banner.settings.header_first_button.label"
          },
          {
            "type": "text",
            "id": "banner_button_1",
            "label": "t:sections.promotional-grid.blocks.banner.settings.header_first_button.button_label.label",
            "default": "Shop This"
          },
          {
            "type": "url",
            "id": "banner_button_link_1",
            "label": "t:sections.promotional-grid.blocks.banner.settings.header_first_button.button_link.label"
          },
          {
            "type": "header",
            "content": "t:sections.promotional-grid.blocks.banner.settings.header_second_button.label"
          },
          {
            "type": "text",
            "id": "banner_button_2",
            "label": "t:sections.promotional-grid.blocks.banner.settings.header_second_button.button_label.label",
            "default": "Shop All"
          },
          {
            "type": "url",
            "id": "banner_button_link_2",
            "label": "t:sections.promotional-grid.blocks.banner.settings.header_second_button.button_link.label"
          },
          {
            "type": "color",
            "id": "banner_background_color",
            "label": "t:sections.promotional-grid.blocks.banner.settings.banner_background.label",
            "default": "#000000"
          }
        ]
      },
      {
        "type": "product",
        "name": "t:sections.promotional-grid.blocks.product.name",
        "settings": [
          {
            "type": "product",
            "id": "promo_product",
            "label": "t:sections.promotional-grid.blocks.product.settings.promo_product.label"
          },
          {
            "type": "text",
            "id": "promo_heading",
            "label": "t:sections.promotional-grid.blocks.product.settings.promo_product_heading.label",
            "default": "Heading"
          },
          {
            "type": "textarea",
            "id": "promo_text",
            "label": "t:sections.promotional-grid.blocks.product.settings.promo_product_text.label",
            "default": "Description Text"
          },
          {
            "type": "text",
            "id": "promo_button_label",
            "label": "t:sections.promotional-grid.blocks.product.settings.button_label.label",
            "default": "Button"
          },
          {
            "type": "url",
            "id": "promo_button_link",
            "label": "t:sections.promotional-grid.blocks.product.settings.button_link.label"
          },
          {
            "type": "checkbox",
            "id": "show_price",
            "label": "t:sections.promotional-grid.blocks.product.settings.show_price.label",
            "default": false
          },
          {
            "type": "color",
            "id": "promo_background_color",
            "label": "t:sections.promotional-grid.blocks.product.settings.promo_background_color.label",
            "default": "#111111"
          },
          {
            "type": "header",
            "content": "t:sections.promotional-grid.blocks.product.settings.header_timer.label"
          },
          {
            "type": "checkbox",
            "id": "show_timer",
            "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.show_timer.label",
            "default": false
          },
          {
            "type": "number",
            "id": "years",
            "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.year.label",
            "default": 2024
          },
          {
            "type": "select",
            "id": "months",
            "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.month.label",
            "default": "08",
            "options": [
              {
                "value": "01",
                "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.month.options.01.label"
              },
              {
                "value": "02",
                "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.month.options.02.label"
              },
              {
                "value": "03",
                "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.month.options.03.label"
              },
              {
                "value": "04",
                "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.month.options.04.label"
              },
              {
                "value": "05",
                "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.month.options.05.label"
              },
              {
                "value": "06",
                "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.month.options.06.label"
              },
              {
                "value": "07",
                "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.month.options.07.label"
              },
              {
                "value": "08",
                "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.month.options.08.label"
              },
              {
                "value": "09",
                "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.month.options.09.label"
              },
              {
                "value": "10",
                "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.month.options.10.label"
              },
              {
                "value": "11",
                "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.month.options.11.label"
              },
              {
                "value": "12",
                "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.month.options.12.label"
              }
            ]
          },
          {
            "type": "range",
            "id": "days",
            "min": 1,
            "max": 31,
            "step": 1,
            "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.day.label",
            "default": 31
          },
          {
            "type": "range",
            "id": "hours",
            "min": 0,
            "max": 23,
            "step": 1,
            "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.hour.label",
            "default": 12
          },
          {
            "type": "range",
            "id": "minutes",
            "min": 1,
            "max": 60,
            "step": 1,
            "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.minutes.label",
            "default": 12
          },
          {
            "type": "richtext",
            "id": "timer_completion_message",
            "label": "t:sections.promotional-grid.blocks.product.settings.header_timer.timer_completion_message.label"
          }
        ]
      },
      {
        "type": "collection",
        "name": "t:sections.promotional-grid.blocks.collection.name",
        "settings": [
          {
            "type": "collection",
            "id": "promo_collection",
            "label": "t:sections.promotional-grid.blocks.collection.settings.promo_collection.label"
          },
          {
            "type": "text",
            "id": "collection_heading",
            "label": "t:sections.promotional-grid.blocks.collection.settings.promo_collection_heading.label",
            "default": "Heading"
          },
          {
            "type": "textarea",
            "id": "collection_text",
            "label": "t:sections.promotional-grid.blocks.collection.settings.promo_collection_text.label",
            "default": "Description Text"
          },
          {
            "type": "text",
            "id": "collection_button_label",
            "label": "t:sections.promotional-grid.blocks.collection.settings.button_label.label",
            "default": "Button"
          },
          {
            "type": "url",
            "id": "collection_button_link",
            "label": "t:sections.promotional-grid.blocks.collection.settings.button_link.label"
          },
          {
            "type": "color",
            "id": "collection_background_color",
            "label": "t:sections.promotional-grid.blocks.collection.settings.collection_background_color.label",
            "default": "#111111"
          },
          {
            "type": "header",
            "content": "t:sections.promotional-grid.blocks.collection.settings.header_timer.label"
          },
          {
            "type": "checkbox",
            "id": "show_collection_timer",
            "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.show_timer.label",
            "default": false
          },
          {
            "type": "number",
            "id": "years",
            "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.year.label",
            "default": 2024
          },
          {
            "type": "select",
            "id": "months",
            "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.month.label",
            "default": "08",
            "options": [
              {
                "value": "01",
                "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.month.options.01.label"
              },
              {
                "value": "02",
                "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.month.options.02.label"
              },
              {
                "value": "03",
                "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.month.options.03.label"
              },
              {
                "value": "04",
                "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.month.options.04.label"
              },
              {
                "value": "05",
                "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.month.options.05.label"
              },
              {
                "value": "06",
                "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.month.options.06.label"
              },
              {
                "value": "07",
                "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.month.options.07.label"
              },
              {
                "value": "08",
                "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.month.options.08.label"
              },
              {
                "value": "09",
                "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.month.options.09.label"
              },
              {
                "value": "10",
                "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.month.options.10.label"
              },
              {
                "value": "11",
                "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.month.options.11.label"
              },
              {
                "value": "12",
                "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.month.options.12.label"
              }
            ]
          },
          {
            "type": "range",
            "id": "days",
            "min": 1,
            "max": 31,
            "step": 1,
            "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.day.label",
            "default": 31
          },
          {
            "type": "range",
            "id": "hours",
            "min": 0,
            "max": 23,
            "step": 1,
            "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.hour.label",
            "default": 12
          },
          {
            "type": "range",
            "id": "minutes",
            "min": 1,
            "max": 60,
            "step": 1,
            "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.minutes.label",
            "default": 12
          },
          {
            "type": "richtext",
            "id": "timer_completion_message",
            "label": "t:sections.promotional-grid.blocks.collection.settings.header_timer.timer_completion_message.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.promotional-grid.presets.name",
        "blocks": [
          {
            "type": "banner"
          }, {
            "type": "product"
          }, {
            "type": "collection"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["header"]
    }
  }
{% endschema %}