{%- liquid
    assign lazyloading = ''
    assign lazyloadImages = section.settings.lazyload_images
    if lazyloadImages
    assign lazyloading = 'lazy'
    endif
-%}
{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="promo-block__wrapper main__section-{{ section.id }}">
  <div class="page__width">
    <div class="promo-block__grid">
      {%- for block in section.blocks -%}
        {%- liquid
           assign textColor = block.settings.promo_text_color
           assign buttonBackground = block.settings.promo_button_color
           assign imageDesktop = block.settings.promo_image_desktop
           assign imageMobile = block.settings.promo_image_mobile
           assign ratio = 0.75
           assign default = 'grande'
           assign sizes = '100vw'
        -%}
        {%- style -%}
          .promo-block-{{ block.id }} .promo-block__shadow{
            color: {{ textColor }};
          }
          .promo-block-{{ block.id }} .btn__promo{
            background: {{ buttonBackground }};
            border: 1px solid #ffffff;
          }
          .promo-block-{{ block.id }} .btn-color__dark{
            color: #111111;
          }
          .promo-block-{{ block.id }} .btn-color__light{
            color: #ffffff;
          }
        {%- endstyle -%}
        <div class="promo-block__item promo-block-{{ block.id }}" {{ block.shopify_attributes }}>
          <div class="promo-block__container">
            <div class="promo-block__image">
              {%- if imageDesktop != blank or imageMobile != blank -%}
                {%- if imageDesktop != blank -%}
                  <img class="promo__image promo-image__desktop{% if imageMobile != blank %} promo__image-hide{% endif %}"
                    src="{{ imageDesktop | img_url: default }}"
                    srcset="
                      {{ imageDesktop | product_img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                      {{ imageDesktop | product_img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                      {{ imageDesktop | product_img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                      {{ imageDesktop | product_img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                      {{ imageDesktop | product_img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
                    "
                    width="{{ imageDesktop.width }}"
                    height="{{ imageDesktop.height }}"
                    loading= "{{ lazyloading }}"
                    sizes="{{ sizes }}"
                    alt="{{ imageDesktop.alt }}" />
                {%- endif -%}
                {%- if imageMobile != blank -%}
                  <img class="promo__image promo-image__mobile"
                    src="{{ imageMobile | img_url: default }}"
                    srcset="
                      {{ imageMobile | product_img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                      {{ imageMobile | product_img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                      {{ imageMobile | product_img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                      {{ imageMobile | product_img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                      {{ imageMobile | product_img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
                    "
                    width="{{ imageMobile.width }}"
                    height="{{ imageMobile.height }}"
                    loading= "{{ lazyloading }}"
                    sizes="{{ sizes }}" 
                    alt="{{ imageMobile.alt }}" />
                {%- endif -%}
              {%- else -%}
                {{ 'lifestyle-1' | placeholder_svg_tag: "placeholder__image" }}
              {%- endif -%}
            </div>
            <div class="promo-block__content">
            <div class="promo-block__box text__position-{{ block.settings.content_position }}">
              <div class="promo-block__shadow text__align-{{ block.settings.text_alignment }}">
                {%- if block.settings.subheading != blank -%}
                  <div class="sub__heading promo-sub__heading">
                    {{ block.settings.subheading }}
                  </div>
                {%- endif -%}
                {%- if block.settings.heading != blank -%}
                  <div class="main__heading promo-main__heading">
                    <h2>{{ block.settings.heading }}</h2>
                  </div>
                {%- endif -%}
                {%- if block.settings.button_label != blank -%}
                  <div class="promo-button__container">
                    <a
                      class="btn btn__link btn__promo{% if buttonBackground contains '#ffffff' or buttonBackground contains '#f' %} btn-color__dark{% else %} btn-color__light{% endif %}"
                      href="{{ block.settings.button_link }}"
                      title="{{ block.settings.button_label }}">
                      {{ block.settings.button_label }}
                    </a>
                  </div>
                {%- endif -%}
              </div>
            </div>
          </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.promotional-block.name",
    "settings": [
      {
        "type": "checkbox",
        "id": "lazyload_images",
        "label": "t:sections.promotional-block.settings.lazyload_images.label",
        "default": false,
        "info": "t:sections.promotional-block.settings.lazyload_images.info"
      },
      {
        "type": "header",
        "content": "t:sections.promotional-block.settings.header_spacing.label"
      }, {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.promotional-block.settings.header_spacing.top_spacing.label",
        "default": 16
      }, {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.promotional-block.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ],
    "blocks": [
      {
        "type": "image-with-text",
        "name": "t:sections.promotional-block.blocks.image-with-text.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "promo_image_desktop",
            "label": "t:sections.promotional-block.blocks.image-with-text.settings.image_desktop.label"
          },
          {
            "type": "image_picker",
            "id": "promo_image_mobile",
            "label": "t:sections.promotional-block.blocks.image-with-text.settings.image_mobile.label"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "t:sections.promotional-block.blocks.image-with-text.settings.subheading.label",
            "default": "SubHeading"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "t:sections.promotional-block.blocks.image-with-text.settings.heading.label",
            "default": "Image With Text"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "t:sections.promotional-block.blocks.image-with-text.settings.button_label.label",
            "default": "Button"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.promotional-block.blocks.image-with-text.settings.button_link.label"
          },
          {
            "type": "header",
            "content": "t:sections.promotional-block.blocks.image-with-text.settings.header_alignment.label"
          },
          {
            "type": "select",
            "id": "content_position",
            "label": "t:sections.promotional-block.blocks.image-with-text.settings.content_position.label",
            "options": [
              {
                "value": "top-left",
                "label": "t:sections.promotional-block.blocks.image-with-text.settings.content_position.options.top_left.label"
              },
              {
                "value": "top-center",
                "label": "t:sections.promotional-block.blocks.image-with-text.settings.content_position.options.top_center.label"
              },
              {
                "value": "top-right",
                "label": "t:sections.promotional-block.blocks.image-with-text.settings.content_position.options.top_right.label"
              },
              {
                "value": "center-left",
                "label": "t:sections.promotional-block.blocks.image-with-text.settings.content_position.options.center_left.label"
              }, {
                "value": "center",
                "label": "t:sections.promotional-block.blocks.image-with-text.settings.content_position.options.center.label"
              }, {
                "value": "center-right",
                "label": "t:sections.promotional-block.blocks.image-with-text.settings.content_position.options.center_right.label"
              }, {
                "value": "bottom-left",
                "label": "t:sections.promotional-block.blocks.image-with-text.settings.content_position.options.bottom_left.label"
              }, {
                "value": "bottom-center",
                "label": "t:sections.promotional-block.blocks.image-with-text.settings.content_position.options.bottom_center.label"
              }, {
                "value": "bottom-right",
                "label": "t:sections.promotional-block.blocks.image-with-text.settings.content_position.options.bottom_right.label"
              }
            ],
            "default": "center-left"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "t:sections.promotional-block.blocks.image-with-text.settings.alignment.label",
            "options": [
              {
                "value": "left",
                "label": "t:sections.promotional-block.blocks.image-with-text.settings.alignment.options.left.label"
              }, {
                "value": "center",
                "label": "t:sections.promotional-block.blocks.image-with-text.settings.alignment.options.center.label"
              }, {
                "value": "right",
                "label": "t:sections.promotional-block.blocks.image-with-text.settings.alignment.options.right.label"
              }
            ],
            "default": "left"
          },
          {
            "type": "header",
            "content": "t:sections.promotional-block.blocks.image-with-text.settings.header_colors.label"
          },
          {
            "type": "color",
            "id": "promo_text_color",
            "label": "t:sections.promotional-block.blocks.image-with-text.settings.header_colors.text.label",
            "default": "#111111"
          },
          {
            "type": "color",
            "id": "promo_button_color",
            "label": "t:sections.promotional-block.blocks.image-with-text.settings.header_colors.button.label",
            "default": "#111111"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.promotional-block.presets.name",
        "blocks": [
          {
            "type": "image-with-text"
          }, {
            "type": "image-with-text"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}