{%- liquid
   assign lazyloading = ''
   assign lazyloadImages = section.settings.lazyload_images
   if lazyloadImages
     assign lazyloading = 'lazy'
   endif
-%}
{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  @media only screen and (min-width:769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="promotional__wrapper main__section-{{ section.id }}">
  <div class="promotional-grid">
    {%- for block in section.blocks -%}
      {%- style -%}
        {%- liquid
           assign bannerBackgroundColor = block.settings.banner_background_color
           assign promoBackgroundColor = block.settings.promo_background_color
           assign collectionBackgroundColor = block.settings.collection_background_color
        -%}
        .promotional-item-{{ block.id }} .promotional-banner__wrapper {
          background: #9d1339;
          background: {{ bannerBackgroundColor }};
        }

        .promotional-item-{{ block.id }} .promo-product__wrapper {
          background: #F1F3F4;
          background: {{ promoBackgroundColor }};
        }

        .promotional-item-{{ block.id }} .promo-collection__wrapper {
          background: #F1F3F4;
          background: {{ collectionBackgroundColor }};
        }
        
      {%- endstyle -%}
      <div class="promotional-grid__item promotional-item-{{ block.id }}">
        {%- case block.type -%}
          {%- when 'banner' -%}
            {%- if block.type == 'banner' -%}
              {%- render 'promo-banner',
                 bannerBackgroundColor: bannerBackgroundColor,
                 banner_heading: block.settings.banner_heading,
                 banner_text: block.settings.banner_text,
                 banner_button1: block.settings.banner_button_1,
                 banner_link1: block.settings.banner_button_link_1,
                 banner_button2: block.settings.banner_button_2,
                 banner_link2: block.settings.banner_button_link_2
              -%}
            {%- endif -%}
          {%- when 'product' -%}
            {%- if block.type == 'product' -%}
              {%- render 'promo-product-block',
                 block: block,
                 promoBackgroundColor: promoBackgroundColor,
                 promo_product: all_products[block.settings.promo_product],
                 promo_heading: block.settings.promo_heading,
                 promo_text: block.settings.promo_text,
                 promo_button_label: block.settings.promo_button_label,
                 promo_button_link: block.settings.promo_button_link,
                 show_price: block.settings.show_price,
                 show_timer: block.settings.show_timer,
                 timer_duration: block.settings.timer_duration
                 lazyloading: lazyloading
              -%}
            {%- endif -%}
          {%- when 'collection' -%}
            {%- if block.type == 'collection' -%}
              {%- render 'promo-collection-block',
                 collectionBackgroundColor: collectionBackgroundColor,
                 promo_collection: collections[block.settings.promo_collection],
                 collection_heading: block.settings.collection_heading,
                 collection_text: block.settings.collection_text,
                 collection_button_label: block.settings.collection_button_label,
                 collection_button_link: block.settings.collection_button_link,
                 show_collection_price: block.settings.show_collection_price,
                 show_collection_timer: block.settings.show_collection_timer,
                 lazyloading: lazyloading
              -%}
            {%- endif -%}
        {%- endcase -%}
      </div>
    {%- endfor -%}
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.promotional-grid.name",
    "class": "main__section",
    "settings": [
      {
        "type": "checkbox",
        "id": "lazyload_images",
        "label": "t:sections.promotional-grid.settings.lazyload_images.label",
        "default": false,
        "info": "t:sections.promotional-grid.settings.lazyload_images.info"
      },
      {
        "type": "header",
        "content": "t:sections.promotional-grid.settings.header_spacing.label"
      }, {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.promotional-grid.settings.header_spacing.top_spacing.label",
        "default": 16
      }, {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.promotional-grid.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ],
    "blocks": [
      {
        "type": "banner",
        "name": "t:sections.promotional-grid.blocks.banner.name",
        "settings": [
          {
            "type": "text",
            "id": "banner_heading",
            "label": "t:sections.promotional-grid.blocks.banner.settings.banner_heading.label",
            "default": "Banner Promotion"
          },
          {
            "type": "textarea",
            "id": "banner_text",
            "label": "t:sections.promotional-grid.blocks.banner.settings.banner_text.label",
            "default": "Welcome to Our Shop"
          },
          {
            "type": "header",
            "content": "t:sections.promotional-grid.blocks.banner.settings.header_first_button.label"
          },
          {
            "type": "text",
            "id": "banner_button_1",
            "label": "t:sections.promotional-grid.blocks.banner.settings.header_first_button.button_label.label",
            "default": "Shop This"
          },
          {
            "type": "url",
            "id": "banner_button_link_1",
            "label": "t:sections.promotional-grid.blocks.banner.settings.header_first_button.button_link.label"
          },
          {
            "type": "header",
            "content": "t:sections.promotional-grid.blocks.banner.settings.header_second_button.label"
          },
          {
            "type": "text",
            "id": "banner_button_2",
            "label": "t:sections.promotional-grid.blocks.banner.settings.header_second_button.button_label.label",
            "default": "Shop All"
          },
          {
            "type": "url",
            "id": "banner_button_link_2",
            "label": "t:sections.promotional-grid.blocks.banner.settings.header_second_button.button_link.label"
          },
          {
            "type": "color",
            "id": "banner_background_color",
            "label": "t:sections.promotional-grid.blocks.banner.settings.banner_background.label",
            "default": "#000000"
          }
        ]
      },
      {
        "type": "product",
        "name": "t:sections.promotional-grid.blocks.product.name",
        "settings": [
          {
            "type": "product",
            "id": "promo_product",
            "label": "t:sections.promotional-grid.blocks.product.settings.promo_product.label"
          },
          {
            "type": "text",
            "id": "promo_heading",
            "label": "t:sections.promotional-grid.blocks.product.settings.promo_product_heading.label",
            "default": "Heading"
          },
          {
            "type": "textarea",
            "id": "promo_text",
            "label": "t:sections.promotional-grid.blocks.product.settings.promo_product_text.label",
            "default": "Description Text"
          },
          {
            "type": "text",
            "id": "promo_button_label",
            "label": "t:sections.promotional-grid.blocks.product.settings.button_label.label",
            "default": "Button"
          },
          {
            "type": "url",
            "id": "promo_button_link",
            "label": "t:sections.promotional-grid.blocks.product.settings.button_link.label"
          },
          {
            "type": "checkbox",
            "id": "show_price",
            "label": "t:sections.promotional-grid.blocks.product.settings.show_price.label",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "show_timer",
            "label": "t:sections.promotional-grid.blocks.product.settings.show_timer.label",
            "default": false
          },
          {
            "type": "text",
            "id": "timer_duration",
            "label": "t:sections.promotional-grid.blocks.product.settings.timer_duration.label"
          },
          {
            "type": "color",
            "id": "promo_background_color",
            "label": "t:sections.promotional-grid.blocks.product.settings.promo_background_color.label",
            "default": "#111111"
          }
        ]
      },
      {
        "type": "collection",
        "name": "t:sections.promotional-grid.blocks.collection.name",
        "settings": [
          {
            "type": "collection",
            "id": "promo_collection",
            "label": "t:sections.promotional-grid.blocks.collection.settings.promo_collection.label"
          },
          {
            "type": "text",
            "id": "collection_heading",
            "label": "t:sections.promotional-grid.blocks.collection.settings.promo_collection_heading.label",
            "default": "Heading"
          },
          {
            "type": "textarea",
            "id": "collection_text",
            "label": "t:sections.promotional-grid.blocks.collection.settings.promo_collection_text.label",
            "default": "Description Text"
          },
          {
            "type": "text",
            "id": "collection_button_label",
            "label": "t:sections.promotional-grid.blocks.collection.settings.button_label.label",
            "default": "Button"
          },
          {
            "type": "url",
            "id": "collection_button_link",
            "label": "t:sections.promotional-grid.blocks.collection.settings.button_link.label"
          },
          {
            "type": "checkbox",
            "id": "show_collection_price",
            "label": "t:sections.promotional-grid.blocks.collection.settings.show_price.label",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "show_collection_timer",
            "label": "t:sections.promotional-grid.blocks.collection.settings.show_timer.label",
            "default": false
          },
          {
            "type": "text",
            "id": "timer_duration",
            "label": "t:sections.promotional-grid.blocks.collection.settings.timer_duration.label"
          },
          {
            "type": "color",
            "id": "collection_background_color",
            "label": "t:sections.promotional-grid.blocks.collection.settings.collection_background_color.label",
            "default": "#111111"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.promotional-grid.presets.name",
        "blocks": [
          {
            "type": "banner"
          }, {
            "type": "product"
          }, {
            "type": "collection"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["header"]
    }
  }
{% endschema %}