{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="text__container main__section-{{ section.id }}">
  <div class="page__width">
    <div class="scroll__animate text__wrapper text__align-{{ section.settings.text_alignment }}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'subheading' -%}
          {%- if block.settings.text_sub_heading != blank -%}
            <div class="sub__heading" {{ block.shopify_attributes }}>{{ block.settings.text_sub_heading }}</div>
          {%- endif -%}

          {%- when 'heading' -%}
          {%- if block.settings.text_main_heading != blank -%}
            <div class="main__heading rich-text__heading" {{ block.shopify_attributes }}>
              <h2>{{ block.settings.text_main_heading }}</h2>
            </div>
          {%- endif -%}
          {%- when 'text' -%}
          {%- if block.settings.text_description != blank -%}
            <div class="rich-text__text" {{ block.shopify_attributes }}>
              <div class="rte">
                {{ block.settings.text_description }}
              </div>
            </div>
          {%- endif -%}
          {%- when 'button' -%}
          {%- if block.settings.richtext_button_label != blank -%}
            <div class="richtext__btn richtext__btn-{{ forloop.index }}" {{ block.shopify_attributes }}>
              <a
                href="{{ block.settings.richtext_button_link }}"
                class="btn btn__primary btn__link"
                title="{{ block.settings.richtext_button_label }}">{{ block.settings.richtext_button_label }}</a>
            </div>
          {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.richtext.name",
    "class": "main__section",
    "max_blocks": 5,
    "settings": [
      {
        "type": "header",
        "content": "t:sections.richtext.settings.header_alignment.label"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.richtext.settings.header_alignment.alignment.label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.richtext.settings.header_alignment.alignment.options.left.label"
          }, {
            "value": "center",
            "label": "t:sections.richtext.settings.header_alignment.alignment.options.center.label"
          }, {
            "value": "right",
            "label": "t:sections.richtext.settings.header_alignment.alignment.options.right.label"
          }
        ],
        "default": "center"
      },
      {
        "type": "header",
        "content": "t:sections.richtext.settings.header_spacing.label"
      }, {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.richtext.settings.header_spacing.top_spacing.label",
        "default": 16
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.richtext.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ],
    "blocks": [
      {
        "type": "subheading",
        "name": "t:sections.richtext.blocks.subheading.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "text_sub_heading",
            "label": "t:sections.richtext.blocks.subheading.settings.richtext_subheading.label",
            "default": "Sub Heading"
          }
        ]
      },
      {
        "type": "heading",
        "name": "t:sections.richtext.blocks.heading.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "text_main_heading",
            "label": "t:sections.richtext.blocks.heading.settings.richtext_main_heading.label",
            "default": "Rich Text"
          }

        ]
      },
      {
        "type": "text",
        "name": "t:sections.richtext.blocks.text.name",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "text_description",
            "label": "t:sections.richtext.blocks.text.settings.richtext_text_description.label"
          }
        ]
      },
      {
        "type": "button",
        "name": "t:sections.richtext.blocks.button.name",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "richtext_button_label",
            "label": "t:sections.richtext.blocks.button.settings.button_label.label",
            "default": "Button"
          }, {
            "type": "url",
            "id": "richtext_button_link",
            "label": "t:sections.richtext.blocks.button.settings.button_link.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.richtext.presets.name",
        "blocks": [
          {
            "type": "subheading"
          }, {
            "type": "heading"
          }, {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}