<section class="text__banner main__section-{{ section.id }}">
  <div class="text__container">
    <div class="page__width">
      <div class="text__wrapper text__align-{{ section.settings.text_alignment }}">
        {% if section.settings.text_sub_heading != blank %}
          <div class="sub__heading">{{ section.settings.text_sub_heading }}</div>
        {% endif %}
        {% if section.settings.text_main_heading != blank %}
          <div class="main__heading rich-text__heading">
            <h2>{{ section.settings.text_main_heading }}</h2>
          </div>
        {% endif %}
        {% if section.settings.text_description != blank %}
          <div class="rich-text__text">
            <div class="rte">
              {{ section.settings.text_description }}
            </div>
          </div>
        {% endif %}
        <div class="rich-text__buttons">
          {% if section.settings.shop_btn_1 != blank %}
            <div class="rte">
              <a
                href="{{ section.settings.button_link_1 }}"
                class="btn"
                title="{{ section.settings.shop_btn_1 }}">{{ section.settings.shop_btn_1 }}</a>
            </div>
          {% endif %}
          {% if section.settings.shop_btn_2 != blank %}

            <div class="rte">
              <a
                href="{{ section.settings.button_link_2 }}"
                class="btn"
                title="{{ section.settings.shop_btn_2 }}">{{ section.settings.shop_btn_2 }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "t:sections.richtext.name",
    "settings": [
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "text",
        "id": "text_sub_heading",
        "label": "Subheading",
        "default": "Sub Heading"
      },
      {
        "type": "text",
        "id": "text_main_heading",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "richtext",
        "id": "text_description",
        "label": "Text"
      }, {
        "type": "header",
        "content": "First Button"
      }, {
        "type": "text",
        "id": "shop_btn_1",
        "label": "button label",
        "default": "Button"
      }, {
        "type": "url",
        "id": "button_link_1",
        "label": "Button Link"
      }, {
        "type": "header",
        "content": "Second Button"
      }, {
        "type": "text",
        "id": "shop_btn_2",
        "label": "button label",
        "default": "Button"
      }, {
        "type": "url",
        "id": "button_link_2",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "t:sections.richtext.name"
      }
    ]
  }
{% endschema %}