{%- liquid
    assign slideAutomation = section.settings.slide_automation
    assign slideChangeDuration = 0
    if slideAutomation
      assign slideChangeDuration = section.settings.slide_change_duration | times: 1000
    endif
    assign lazyloading = ''
    assign lazyloadImages = section.settings.lazyload_images
    if lazyloadImages
    assign lazyloading = 'lazy'
    endif
-%}
<div class="slideshow" data-section-id="{{ section.id }}" data-auto-slide="{{ slideAutomation }}" data-slide-duration="{{ slideChangeDuration }}">
  <div id="slideshow-{{ section.id }}"   
    class="slideshow__slides swiper"   
    data-desktop-height="{{ section.settings.slide_height_desktop }}"  
    data-mobile-height="{{ section.settings.slide_height_mobile }}"
    >    
    <div class="slideshow__wrapper swiper-wrapper">
      {%- for block in section.blocks -%}
        {%- liquid
           assign slideTextColor = block.settings.slide_text_color
           assign slideButtonColor = block.settings.slide_button_color
           assign imageDesktop = block.settings.slide_image_desktop
           assign imageMobile = block.settings.slide_image_mobile
           assign ratio = 0.75
           assign default = 'grande'
           assign sizes = '100vw'
        -%}
        <div class="slideshow__slide swiper-slide slideshow__slide-{{ block.id }}" {{ block.shopify_attributes }}>
          {%- style -%}
            .slideshow__slide-{{ block.id }} .slide__text-heading{
              color: #ffffff;
              color: {{ slideTextColor }};
            }
            .slideshow__slide-{{ block.id }} .slide__text-text{
              color: #ffffff;
              color: {{ slideTextColor }};
            }
            .slideshow__slide-{{ block.id }} .slide__btn {
              background: {{ slideButtonColor }};
              border: 1px solid #ffffff;
            }
            .slideshow__slide-{{ block.id }} .btn-color__dark{
              color: #111111;
            }
            .slideshow__slide-{{ block.id }} .btn-color__light{
              color: #ffffff;
            }
          {%- endstyle -%}
          <div class="slideshow__image-container">
            {%- if imageDesktop != blank or imageMobile != blank -%}
              {%- if imageDesktop != blank -%}
                <img
                  class="hero__image desktop__image{% if imageMobile != blank %} desktop__image-hide{% endif %}"
                  src="{{ imageDesktop | img_url: default }}"
                  srcset="
                      {{ imageDesktop | product_img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                      {{ imageDesktop | product_img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                      {{ imageDesktop | product_img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                      {{ imageDesktop | product_img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                      {{ imageDesktop | product_img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
                  "
                  width="{{ imageDesktop.width }}"
                  height="{{ imageDesktop.height }}"
                  loading= "{{ lazyloading }}"
                  sizes="{{ sizes }}"
                  alt="{{ imageDesktop.alt }}">
              {%- endif -%}
              {%- if imageMobile != blank -%}
                <img
                  class="hero__image mobile__image"
                  src="{{ imageMobile | img_url: default }}"
                  srcset="
                      {{ imageMobile | product_img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                      {{ imageMobile | product_img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                      {{ imageMobile | product_img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                      {{ imageMobile | product_img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                      {{ imageMobile | product_img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
                  "
                  width="{{ imageMobile.width }}"
                  height="{{ imageMobile.height }}"
                  loading= "{{ lazyloading }}"
                  sizes="{{ sizes }}"
                  alt="{{ imageMobile.alt }}">
              {%- endif -%}
            {%- else -%}
              {%- capture imagePlaceholder -%}lifestyle-{% cycle '1', '2' %}{%- endcapture -%}
              {{ imagePlaceholder | placeholder_svg_tag: "placeholder__image hero__image-placeholder" }}
            {%- endif -%}
          </div>
          <div class="slideshow__text-content">
            <div class="page__width">
              <div class="slide__content text__position-{{ block.settings.content_position }}">
                <div class="slide__text-shadow text__align-{{ block.settings.text_alignment }}">
                  {%- if block.settings.slide_heading != blank -%}
                    <div class="slide__text-heading">
                      <h1>{{ block.settings.slide_heading }}</h1>
                    </div>
                  {%- endif -%}
                  {%- if block.settings.slide_text != blank -%}
                    <div class="slide__text-text rte">
                      {{ block.settings.slide_text }}
                    </div>
                  {%- endif -%}
                  {%- if block.settings.slide_button_label != blank -%}
                    <div class="slide__btn-wrapper">
                      <a class="btn btn__link slide__btn{% if block.settings.slide_button_color contains '#ffffff' or block.settings.slide_button_color contains '#f' %} btn-color__dark{% else %} btn-color__light{% endif %}" href="{{ block.settings.slide_button_link }}" title="{{ block.settings.slide_button_label }}">
                        {{ block.settings.slide_button_label }}
                      </a>
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
    <div class="swiper-pagination swiper-pagination-{{ section.id }} {% if section.settings.navigation_styles == 'bars' %}nav__bars{% endif %}"></div>
    <div class="swiper-button-next swiper-button-{{ section.id }}"></div>
    <div class="swiper-button-prev swiper-button-{{ section.id }}"></div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.slideshow.name",
    "class": "slideshow__hero",
    "settings": [
      {
        "type": "select",
        "id": "slide_height_desktop",
        "label": "t:sections.slideshow.settings.section_height_desktop.label",
        "options": [
          {
            "value": "natural",
            "label": "t:sections.slideshow.settings.section_height_desktop.options.natural.label"
          },
          {
            "value": "compact",
            "label": "t:sections.slideshow.settings.section_height_desktop.options.compact.label"
          },
          {
            "value": "standard",
            "label": "t:sections.slideshow.settings.section_height_desktop.options.standard.label"
          },
          {
            "value": "extended",
            "label": "t:sections.slideshow.settings.section_height_desktop.options.extended.label"
          }, {
            "value": "full",
            "label": "t:sections.slideshow.settings.section_height_desktop.options.full.label"
          }
        ],
        "default": "natural"
      },
      {
        "type": "select",
        "id": "slide_height_mobile",
        "label": "t:sections.slideshow.settings.section_height_mobile.label",
        "options": [
          {
            "value": "auto",
            "label": "t:sections.slideshow.settings.section_height_mobile.options.auto.label"
          },
          {
            "value": "compact",
            "label": "t:sections.slideshow.settings.section_height_mobile.options.compact.label"
          },
          {
            "value": "standard",
            "label": "t:sections.slideshow.settings.section_height_mobile.options.standard.label"
          },
          {
            "value": "extended",
            "label": "t:sections.slideshow.settings.section_height_mobile.options.extended.label"
          }, {
            "value": "full",
            "label": "t:sections.slideshow.settings.section_height_mobile.options.full.label"
          }
        ],
        "default": "auto"
      },
      {
        "type": "checkbox",
        "id": "slide_automation",
        "label": "t:sections.slideshow.settings.show_auto_slides.label",
        "default": false
      },
      {
        "type": "range",
        "id": "slide_change_duration",
        "default": 5,
        "min": 4,
        "max": 10,
        "unit": "s",
        "step": 1,
        "label": "t:sections.slideshow.settings.change_duration.label"
      }, {
        "type": "select",
        "id": "navigation_styles",
        "label": "t:sections.slideshow.settings.navigation_styles.label",
        "options": [
          {
            "value": "bars",
            "label": "t:sections.slideshow.settings.navigation_styles.options.bars.label"
          }, {
            "value": "dots",
            "label": "t:sections.slideshow.settings.navigation_styles.options.dots.label"
          }
        ],
        "default": "bars"
      },
      {
        "type": "checkbox",
        "id": "lazyload_images",
        "label": "t:sections.slideshow.settings.lazyload_images.label",
        "default": false,
        "info": "t:sections.slideshow.settings.lazyload_images.info"
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "t:sections.slideshow.blocks.slide.name",
        "settings": [
          {
            "type": "text",
            "id": "slide_heading",
            "label": "t:sections.slideshow.blocks.slide.settings.slide_heading.label",
            "default": "Heading"
          },
          {
            "type": "textarea",
            "id": "slide_text",
            "label": "t:sections.slideshow.blocks.slide.settings.slide_text.label",
            "default": "Slide Text"
          }, {
            "type": "text",
            "id": "slide_button_label",
            "label": "t:sections.slideshow.blocks.slide.settings.slide_button.label",
            "default": "Button"
          }, {
            "type": "url",
            "id": "slide_button_link",
            "label": "t:sections.slideshow.blocks.slide.settings.slide_button_link.label"
          }, {
            "type": "image_picker",
            "id": "slide_image_desktop",
            "label": "t:sections.slideshow.blocks.slide.settings.slide_image_desktop.label"
          }, {
            "type": "image_picker",
            "id": "slide_image_mobile",
            "label": "t:sections.slideshow.blocks.slide.settings.slide_image_mobile.label"
          },
          {
            "type": "header",
            "content": "t:sections.slideshow.blocks.slide.settings.header_alignment.label"
          },
          {
            "type": "select",
            "id": "content_position",
            "label": "t:sections.slideshow.blocks.slide.settings.content_position.label",
            "options": [
              {
                "value": "top-left",
                "label": "t:sections.slideshow.blocks.slide.settings.content_position.options.top_left.label"
              },
              {
                "value": "top-center",
                "label": "t:sections.slideshow.blocks.slide.settings.content_position.options.top_center.label"
              },
              {
                "value": "top-right",
                "label": "t:sections.slideshow.blocks.slide.settings.content_position.options.top_right.label"
              },
              {
                "value": "center-left",
                "label": "t:sections.slideshow.blocks.slide.settings.content_position.options.center_left.label"
              }, {
                "value": "center",
                "label": "t:sections.slideshow.blocks.slide.settings.content_position.options.center.label"
              }, {
                "value": "center-right",
                "label": "t:sections.slideshow.blocks.slide.settings.content_position.options.center_right.label"
              }, {
                "value": "bottom-left",
                "label": "t:sections.slideshow.blocks.slide.settings.content_position.options.bottom_left.label"
              }, {
                "value": "bottom-center",
                "label": "t:sections.slideshow.blocks.slide.settings.content_position.options.bottom_center.label"
              }, {
                "value": "bottom-right",
                "label": "t:sections.slideshow.blocks.slide.settings.content_position.options.bottom_right.label"
              }
            ],
            "default": "center-left"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "t:sections.slideshow.blocks.slide.settings.alignment.label",
            "options": [
              {
                "value": "left",
                "label": "t:sections.slideshow.blocks.slide.settings.alignment.options.left.label"
              }, {
                "value": "center",
                "label": "t:sections.slideshow.blocks.slide.settings.alignment.options.center.label"
              }, {
                "value": "right",
                "label": "t:sections.slideshow.blocks.slide.settings.alignment.options.right.label"
              }
            ],
            "default": "left"
          },
          {
            "type": "header",
            "content": "t:sections.slideshow.blocks.slide.settings.header_colors.label"
          },
          {
            "type": "color",
            "id": "slide_text_color",
            "label": "t:sections.slideshow.blocks.slide.settings.header_colors.text.label",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "slide_button_color",
            "label": "t:sections.slideshow.blocks.slide.settings.header_colors.button.label",
            "default": "#111111"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.slideshow.presets.name",
        "blocks": [
          {
            "type": "slide"
          }, {
            "type": "slide"
          }, {
            "type": "slide"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}