{%- liquid
    assign lazyloading = ''
    assign lazyloadImages = section.settings.lazyload_images
    if lazyloadImages
    assign lazyloading = 'lazy'
    endif
-%}
{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="text__image-container main__section-{{ section.id }} text__container-desktop">
  <div class=" scroll-animate text__image-wrapper" data-aos="fade-up">
    {%- for block in section.blocks -%}
      {%- assign brandLogo = block.settings.brand_logo -%}
      <div class="text__image-item" {{ block.shopify_attributes }}>
        <div class="text__image-width text__align-{{ block.settings.text_alignment }}" data-aos="fade-up">
          <div class="image__banner">
            {%- if brandLogo != blank -%}
              {%- assign logo__classes = 'brand__logo-img' -%}
              {{ brandLogo | image_url: width: 40 | image_tag: class: logo__classes, loading: lazyloading }}
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: "placeholder__image icon__placeholder" }}
            {%- endif -%}
          </div>
          {%- if block.settings.brand_heading != blank -%}
            <div class="main__heading text__image-heading">
              <h3>{{ block.settings.brand_heading }}</h3>
            </div>
          {%- endif -%}
          {%- if block.settings.brand_text != blank -%}
            <div class="text__image-text">
              <div class="rte">{{ block.settings.brand_text }}
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>
<div id="brands-{{ section.id }}" class="text__image-container main__section-{{ section.id }} text__container-mobile swiper brands__slider" data-section-id="{{ section.id }}">
  <div class="text__image-wrapper swiper-wrapper">
    {%- for block in section.blocks -%}
      <div class="text__image-item swiper-slide" {{ block.shopify_attributes }}>
        <div class="text__image-width text__align-{{ block.settings.text_alignment }}">
          <div class="image__banner">
            {%- if brandLogo != blank -%}
              {%- assign logo__classes = 'brand__logo-img' -%}
              {{ brandLogo | image_url: width: 40 | image_tag: class: logo__classes, loading: lazyloading }}
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: "placeholder__Image icon__placeholder" }}
            {%- endif -%}
          </div>
          {%- if block.settings.brand_heading != blank -%}
            <div class="main__heading text__image-heading">
              <h3>{{ block.settings.brand_heading }}</h3>
            </div>
          {%- endif -%}
          {%- if block.settings.brand_text != blank -%}
            <div class="text__image-text">
              <div class="rte">{{ block.settings.brand_text }}
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}

  </div>
  <div class="swiper-button-next swiper-button-{{ section.id }}"></div>
  <div class="swiper-button-prev swiper-button-{{ section.id }}"></div>
</div>
{% comment %}
<script>
//  Brands slider for mobile devices
  var swiper = new Swiper("#swiper-{{ section.id }}", {
      navigation: {
        nextEl: ".swiper-button-next.swiper-button-{{ section.id }}",
        prevEl: ".swiper-button-prev.swiper-button-{{ section.id }}",
      },
    });
</script>
{% endcomment %}
{% schema %}
  {
    "name": "t:sections.text-with-icon.name",
    "class": "main__section",
    "settings": [
      {
        "type": "checkbox",
        "id": "lazyload_images",
        "label": "t:sections.text-with-icon.settings.lazyload_images.label",
        "default": false,
        "info": "t:sections.text-with-icon.settings.lazyload_images.info"
      },
      {
        "type": "header",
        "content": "t:sections.text-with-icon.settings.header_spacing.label"
      }, {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.text-with-icon.settings.header_spacing.top_spacing.label",
        "default": 16
      }, {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.text-with-icon.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "t:sections.text-with-icon.blocks.slide.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "brand_logo",
            "label": "t:sections.text-with-icon.blocks.slide.settings.slide_logo_label.label"
          }, {
            "type": "text",
            "id": "brand_heading",
            "label": "t:sections.text-with-icon.blocks.slide.settings.slide_heading.label",
            "default": "Heading"
          }, {
            "type": "textarea",
            "id": "brand_text",
            "label": "t:sections.text-with-icon.blocks.slide.settings.slide_text.label",
            "default": "Welcome To Our Store"
          },
          {
            "type": "header",
            "content": "t:sections.text-with-icon.blocks.slide.settings.header_alignment.label"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "t:sections.text-with-icon.blocks.slide.settings.header_alignment.alignment.label",
            "options": [
              {
                "value": "left",
                "label": "t:sections.text-with-icon.blocks.slide.settings.header_alignment.alignment.options.left.label"
              }, {
                "value": "center",
                "label": "t:sections.text-with-icon.blocks.slide.settings.header_alignment.alignment.options.center.label"
              }, {
                "value": "right",
                "label": "t:sections.text-with-icon.blocks.slide.settings.header_alignment.alignment.options.right.label"
              }
            ],
            "default": "center"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.text-with-icon.presets.name",
        "blocks": [
          {
            "type": "slide"
          }, {
            "type": "slide"
          }, {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}