{%- liquid
    assign image = section.settings.image
    assign main_heading = section.settings.main_heading
    assign button_label = section.settings.button_label
    assign button_link = section.settings.button_link
    assign text_alignment = section.settings.text_alignment
    
    assign lazyloading = ''
    assign lazyloadImages = section.settings.lazyload_images
    if lazyloadImages
    assign lazyloading = 'lazy'
    endif

    assign ratio = 0.75
    assign default = 'large'
    assign sizes = '(min-width: 1200px) 650px, 45vw'
-%}
{%- style -%}
  .main__section-{{ section.id }}{
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  @media only screen and (min-width: 769px) {
    .main__section-{{ section.id }}{
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="text-image-center__section main__section-{{ section.id }}">
  <div class="page__width">
    <div class="main__heading center-image__heading text__align-{{ text_alignment }}">
      <h2>{{ main_heading }}</h2>
    </div>
    <div class="scroll-animate image-center__wrapper" data-aos="fade-up">
       <div class="center-image__block desktop__hide">       
        {%- if image != blank -%}
          {% comment %}
            {{ image | image_url: width: image.width, height: image.height | image_tag: loading: lazyloading, class: "center-image__image", widths: '240,480,600,1024,2048', sizes: '100vw' }}
          {% endcomment %}
          <img    
            class="center-image__image"
            src="{{ image | img_url: default }}"
            srcset="
                {{ image | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                {{ image | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                {{ image | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                {{ image | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                {{ image | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
            "
            width="{{ image.width }}"
            height="{{ image.height }}"
            loading= "{{ lazyloading }}"
            sizes="{{ sizes }}"
            alt="{{ image.alt }}">
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: "placeholder__image" }}
        {%- endif -%}
      </div>
      <div class="image-center__item left-text__block">
        {%- for block in section.blocks -%}
          {%- liquid 
              assign left_heading = block.settings.left_heading
              assign left_text = block.settings.left_text 
          -%}
          {%- if block.type == 'left-text' -%}
            <div class="image-text__content" {{ block.shopify_attributes }}>
                {%- if left_heading != blank -%}
                  <div class="image-center__title">
                    <h4>{{ left_heading }}</h4>
                  </div>
                {%- endif -%}
                {%- if left_text != blank -%}
                  <div class="image-center__text rte">
                    {{ left_text }}
                  </div>
                {%- endif -%}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
       <div class="image-center__item center-image__block">       
        {%- if image != blank -%}
          {% comment %}
            {{ image | image_url: width: image.width, height: image.height | image_tag: loading: lazyloading, class: "center-image__image", widths: '240,480,600,1024,2048', sizes: '100vw' }}
          {% endcomment %}
          <img    
            class="center-image__image"
            src="{{ image | img_url: default }}"
            srcset="
                {{ image | img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                {{ image | img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                {{ image | img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                {{ image | img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                {{ image | img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
            "
            width="{{ image.width }}"
            height="{{ image.height }}"
            loading= "{{ lazyloading }}"
            sizes="{{ sizes }}"
            alt="{{ image.alt }}">
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: "placeholder__image" }}
        {%- endif -%}
      </div>
      <div class="image-center__item right-text__block">
         {% for block in section.blocks %}
          {%- liquid 
              assign right_heading = block.settings.right_heading
              assign right_text = block.settings.right_text 
          -%}
           {%- if block.type == 'right-text' -%}
             <div class="image-text__content" {{ block.shopify_attributes }}> 
              {%- if right_heading != blank -%}
                <div class="image-center__title">
                  <h4>{{ right_heading }}</h4>
                </div>
              {%- endif -%}
              {%- if right_text != blank -%}
                <div class="image-center__text rte">
                  {{ right_text }}
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}
        {% endfor %}
      </div>
    </div>
    <div class="center-image_btn--container">
      {% if button_label != blank %}
        <a href="{{ button_link }}" class="btn btn__primary btn__link btn-image__center" title="{{ button_label }}">{{ button_label }}</a>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.text-image-center.name",
    "class": "main__section",
    "settings": [
      {
        "type": "text",
        "id": "main_heading",
        "label": "t:sections.text-image-center.settings.main_heading.label",
        "default": "Text Image Center"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.text-image-center.settings.image.label"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "t:sections.text-image-center.settings.button_label.label",
        "default": "Button"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.text-image-center.settings.button_link.label"
      },
      {
        "type": "header",
        "content": "t:sections.text-image-center.settings.header_alignment.label"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.text-image-center.settings.header_alignment.alignment.label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.text-image-center.settings.header_alignment.alignment.options.left.label"
          }, {
            "value": "center",
            "label": "t:sections.text-image-center.settings.header_alignment.alignment.options.center.label"
          }, {
            "value": "right",
            "label": "t:sections.text-image-center.settings.header_alignment.alignment.options.right.label"
          }
        ],
        "default": "center"
      },
      {
        "type": "checkbox",
        "id": "lazyload_images",
        "label": "t:sections.text-image-center.settings.lazyload_images.label",
        "default": false,
        "info": "t:sections.text-image-center.settings.lazyload_images.info"
      },
      {
        "type": "header",
        "content": "t:sections.text-image-center.settings.header_spacing.label"
      }, {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.text-image-center.settings.header_spacing.top_spacing.label",
        "default": 16
      }, {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.text-image-center.settings.header_spacing.bottom_spacing.label",
        "default": 16
      }
    ],
    "blocks": [
      {
        "type": "left-text",
        "name": "t:sections.text-image-center.blocks.left-text.name",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "left_heading",
            "label": "t:sections.text-image-center.blocks.left-text.settings.left_heading.label",
            "default": "Text Image Center"
          }, {
            "type": "textarea",
            "id": "left_text",
            "label": "t:sections.text-image-center.blocks.left-text.settings.left_text.label",
            "default": "Welcome To Our Store"
          }
        ]
      }, {
        "type": "right-text",
        "name": "t:sections.text-image-center.blocks.right-text.name",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "right_heading",
            "label": "t:sections.text-image-center.blocks.right-text.settings.right_heading.label",
            "default": "Text Image Center"
          }, {
            "type": "textarea",
            "id": "right_text",
            "label": "t:sections.text-image-center.blocks.right-text.settings.right_text.label",
            "default": "Welcome To Our Store"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.text-image-center.presets.name",
        "blocks": [
          {
            "type": "left-text"
          }, {
            "type": "right-text"
          }, {
            "type": "left-text"
          }, {
            "type": "right-text"
          }
        ]
      }
    ]
  }
{% endschema %}