{%- layout none -%}
<div class="product-grid{% if section.settings.media_position %} product-grid__reverse{% endif %}" data-section-id="{{ section.id }}" data-product-handle="{{ product.handle }}">
  <div class="product-grid__item {{ product_media_width }} product__image-container">
    {%- render 'product-media', 
      product: product,
      block: block,
      section: section,
      media_size: media_size 
    -%}
  </div>
  <div class="product-grid__item {{ product_content_width }} product__content-container">
    {%- assign product_form_id = 'addToCartForm-' | append: section.id | append: '-' | append: product.id -%}
    {%- if section.settings.show_vendor -%}
      <div class="product__vendor">
        {{ product.vendor | link_to_vendor }}
      </div>
    {%- endif -%}
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}   
        <div class="product__block">     
          {%- render block -%}
        </div>    
        {%- when 'title' -%}    
        <div class="product__block product__title" {{ block.shopify_attributes }}>    
          <h2>{{ product.title }}</h2>
        </div>
        {%- when 'price' -%}    
        <div class="product__block product__price" {{ block.shopify_attributes }}>
          <div class="product__price-container">
            <div class="product__price-flex">
              <span class="visually__hidden">{{ 'products.price.sale_price' | t }}</span>
              <span class="sale__price product__sale-price" data-sale-price>{{ product.selected_or_first_available_variant.price | money }}</span>
              <span class="visually__hidden">{{ 'products.price.regular_price' | t }}</span>
              <span class="sale__price product__compare-price {% unless product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}hidden{% endunless %}" data-regular-price>
                {{ product.selected_or_first_available_variant.compare_at_price | money }}
              </span>
              {%- if block.settings.show_sale_badges -%}
                <span class="badge sale__badge{% if settings.sale_badge_color contains '#f' %} badge-color__dark{% else %} badge-color__light{% endif %}">{{ 'products.badges.on_sale' | t }}</span>
                <span class="badge hidden soldout__badge{% if settings.soldout_badge_color contains '#f' %} badge-color__dark{% else %} badge-color__light{% endif %}">{{ 'products.badges.sold_out' | t }}</span>
              {%- endif -%}
            </div>
            <div data-unit-price class="product__unit-price hidden">
              {%- if product.selected_or_first_available_variant.price > 0 -%}
                {%- if product.selected_or_first_available_variant.unit_price_measurement -%}
                  <div>{{ product.selected_or_first_available_variant.unit_price }}/
                    {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                      {{ product.selected_or_first_available_variant.unit_price_measurement.reference_value }}
                    {%- endif -%}
                      {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
                  </div>
                {%- endif -%}
                {%- else -%}
                  {{ 'products.free_unit_price' | t }}
              {%- endif -%}
            </div>
            <div class="product__tax-policies rte{% unless shop.taxes_included or shop.shipping_policy.body != blank %} hidden{% endunless %}">
              {%- if shop.taxes_included -%}
                <span>{{ 'products.taxes_included' | t }}</span>
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                <span>{{ 'products.shipping_policy_html' | t: link: shop.shipping_policy.url  }}</span>
              {%- endif -%}
            </div>
          </div>
          {%- if section.settings.show_rating -%}
            <div class="product__rating">
              {%- render 'product-rating' -%}
            </div>
          {%- endif -%}
        </div>
        {%- when 'description' -%}
        <div class="product__block product__description rte" {{ block.shopify_attributes }}>
          {{ product.description | truncatewords: 40 }}
        </div>
        {%- when 'variants_picker' -%}
          <div class="product__block product__variants" {{ block.shopify_attributes }}>
            {%- render 'product-variants', block: block, product: product, product_form_id: product_form_id -%}
          </div>
        {%- when 'sale_timer' -%}
        <div class="product__block">
          <div class="promo-sale__message">{{ 'products.promotional_message' | t }}</div>
          {%- render 'promotional-countdown', block: block -%}
        </div>
        {%- when 'quantity_selector' -%}
          <div class="product__block product__quantity" {{ block.shopify_attributes }}>
            <div class="product-quantity__wrapper">
              <div>
                <span class="quantity__label">{{ 'products.quantity_label' | t }}</span>
                <div class="product__item-quantity">
                  <button type="button" aria-label="{{ 'products.minus' | t }}" class="icon__minus">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 2" fill="none">
                      <path d="M9 1H1" stroke="currentcolor" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"></path>
                    </svg>
                  </button>
                  <input type="text" name="quantity" class="product-quantity__input" min="1"  value="1" form="{{ product_form_id }}" >
                  <button type="button" aria-label="{{ 'products.plus' | t }}" class="icon__plus">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                      <path d="M5 1V5M5 5V9M5 5H9M5 5L1 5" stroke="currentcolor" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"></path>
                    </svg>
                  </button>
                </div>
              </div>
              <div class="product__sizeguide" >
                {%- if section.settings.size_chart_page != blank -%}
                <button id="sizeChartBtn" type="button" aria-label="{{ 'products.sizeguide_text' | t }}">
                  {%- render 'icon-sizeguide' -%}{{ 'products.sizeguide_text' | t }}
                </button>
                <div class="sizeguide-popup popup__hidden" data-popup-modal>
                  <div class="sizechart__header">{{ 'products.sizechart' | t }}</div>
                  <div class="sizeguide__content">{{ section.settings.size_chart_page.content }}</div>
                  <button type="button" class="close__modal close-modal__size--popup" aria-label="{{ 'general.accessibility.close-modal' | t }}">
                    {%- render 'icon-close' -%}
                  </button>
                </div>
              {%- endif -%}   
              </div>
            </div>
          </div>
        {%- when 'buy_buttons' -%}
          {%- form 'product', product, id: product_form_id, class: "product__form", novalidate: 'novalidate', data-section-id: section.id, data-format: shop.money_format -%}
            <div class="product-form__errors rte hidden">{{ 'cart.items.quantity_error_message' | t: quantity: product.selected_or_first_available_variant.inventory_quantity }}</div>
            <div class="product__block product__buy-buttons" {{ block.shopify_attributes }}>
              <button type="submit" name="add" aria-label="Add to cart" data-inventory-count="{{ product.selected_or_first_available_variant.inventory_quantity }}" class="btn btn__link btn__primary"{% unless product.selected_or_first_available_variant.available %}disabled{% endunless %}>
                {% if product.selected_or_first_available_variant.available %}
                  {{ 'products.add_to_cart' | t }}
                {% else %}
                  {{ 'products.sold_out' | t }}
                {% endif %}
              </button>
              {% if block.settings.enable_dynamic_checkout %}
                {{ form | payment_button }}
              {% endif %}
            </div>
            <select name="id" class="selected-variant__id hidden">
              {%- for variant in product.variants -%}
                {%- if variant.available -%}
                  <option {% if variant == product.selected_or_first_available_variant %}
                    selected="selected"{% endif %}
                    value="{{ variant.id }}">
                    {{ variant.title }} - {{ variant.price | money_with_currency }}
                  </option>
                {%- else -%}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.badges.sold_out' | t }}
                  </option>
                {%- endif -%}
              {%- endfor -%}
            </select>
          {%- endform -%}
          <a href="{{ product.url }}" class="form__links" title="view More">View More</a>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>